
h1 {
    font: 17pt Tahoma,Helvetica,sans-serif;
    margin-bottom: 15px;
}

.content_page {
    margin: 20px 0 0;
    position: relative;
}

p {
    line-height: 1.3em;
    font: 10pt "Trebuchet MS",Arial,Helvetica,sans-serif;
    margin:0px;
    padding:0px;
}
p a {
    color: #FF2A07 !important;
    text-decoration: none;
}

table.person_info {
    border-collapse: separate;
    border-spacing: 0 8px;
    margin: 20px 0;
}
table.person_info td.label {
    border-bottom: 1px dotted #DDDDDD;
    padding: 5px 10px 0 0;
    vertical-align: top;
    width: 200px;
}
table.person_info td.element {
    padding: 0;
}

table.person_info td.element input.text {
    width: 300px;
}
input.text, textarea.text {
    background: url("../images/input_fade.gif") repeat-x scroll left top #FFFFFF;
    border-color: #DFDCC9 #C7C7C7 #C7C7C7 #DFDCC9;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    display: block;
    padding: 3px;
}

input, button, textarea, select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

textarea {
    height: 15ex;
    width: 100%;
}

input.text, textarea.text {
    background: url("../images/input_fade.gif") repeat-x scroll left top #FFFFFF;
    border-color: #DFDCC9 #C7C7C7 #C7C7C7 #DFDCC9;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    display: block;
    padding: 3px;
}
.submit {
    display: block;
    margin: 30px 0 5px;
}

.nfFlashMessages {
    margin: 15px 0;
}

.nfFlashMsg_notice {
    background: url("../images/icon_notice.png") no-repeat scroll 12px 8px #496587;
    border: 2px solid #607AA9;
    color: #FFFFFF;
}

.nfFlashMsg {
    border-radius: 5px 5px 5px 5px;
    color: #EEEEEE;
    font-size: 11pt;
    line-height: 2.6ex;
    margin: 5px 0;
    padding: 5px 13px 6px 10px;
    text-align: left;
    text-indent: 27px;
}