html, body {
	background: #fff;
	font: normal 10pt "Trebuchet MS",Arial,Helvetica,sans-serif;
	color: #000;
	/*text-align: left;*/
	text-align: center;
}

a { text-decoration: none; color: #FF2A07; border:0px; }
a:visited { color: #FF2A07;  border:0px;}
a:hover { text-decoration: underline;  border:0px;}
h2 { font-size: 11pt; }

#outer {
	/*width: 1135px;*/
	width:1156px;
	/*width: 1000px;*/
	position: relative;
	zoom: 1;
	margin: 0 auto;
}
.home #outer {
}
.introbox { 
	margin-bottom:30px;
	min-height:400px;
		border: 0px;
}
.introbox h1 {
	font-size:120%;
	margin:10px 0px;
	font-weight:bold;
	border: 0px;
}
#header1 {
	padding-top: 10px;
	height: 53px;
	position: relative;
	z-index: 50;
}
#header1 .logo {
	position: absolute;
	top: 10px;
	left: 0px;
	border: 0px;
}
#header1 .menu {
	position: relative;
	/*top: 12px;*/
	margin-left: 225px;
	margin-top: 12px;
	height: 28px;
	z-index: 50;
	font-size: 0;
	padding: 0 13px 0 12px;
}
#header1 .menu ul#nav_main {
	background: #c21f2d;
	font-size: 10pt;
	height: 38px;
	line-height: 38px;
	text-align: center;
	min-width: 800px;
}
#header1 .menu .left_side {
	position: absolute;
	top: 0;
	left: 0;
	width: 12px;
	height: 38px;
	background: transparent url(../images/primary_nav_left.gif) no-repeat left top;
}
#header1 .menu .right_side {
	position: absolute;
	top: 0;
	right: 0;
	width: 13px;
	height: 38px;
	background: transparent url(../images/primary_nav_right.gif) no-repeat left top;
}

/*** top level menu */
#header1 .menu ul.level1 {
	height: 100%
}

#header1 .menu .level1 li {
}

#header1 .menu .level1 li a {
	color: #fff;
	font-size: 9pt;
	font-weight: bold;
	padding: 0 5px;
	text-transform: uppercase;
	/*letter-spacing:-0.5px;*/
	/*letter-spacing:-0.06em;*/
	letter-spacing:-1px;
}

#header1 .menu .level1 li a span {
}

#header1 .menu .level1 li.first a span {
	border-left: none;
	padding-left: none;
}
#header1 .menu .level1 li.last a span {
	border-right: none;
	padding-right: none;
}

#header1 .menu .level1 li.current a {
	background: #ff9c8a;
}
#header1 .menu .level1 li.hover a,
#header1 .menu .level1 li:hover a {
	background: #ff9c8a;
	text-decoration: underline;
}
#header1 .menu li.current a,
#header1 .menu li.hover a,
#header1 .menu li:hover a { 
	text-decoration: none;
	color: #fff;
}
/***/

/*** second+ levels */
#header1 .menu ul.level1 li ul {
	/* width: 1%;  IE6 - to cause inline-block LI elements to wrap */
	-moz-box-shadow: 5px 5px 25px #000;
	-webkit-box-shadow: 5px 5px 25px #000;
	box-shadow: 5px 5px 25px #000;
	line-height: 28px;
}
#header1 .menu .level2 li {
	border-top: 1px solid #b0b0b0;
	border-left: 1px solid #b0b0b0;
	border-right: 1px solid #b0b0b0;
	height: 28px;
	text-align: left;
	min-width: 150px;
}
#header1 .menu .level2 li.last {
	border-bottom: 1px solid #b0b0b0;
}


/* normal level2+ menu style */
#header1 .menu .level1 .level2 li a,
/* don't show hover effect on levels below the currently highlighted one */
#header1 .menu .level2 li.hover ul li a,
#header1 .menu .level2 li:hover ul li a {
	background: transparent url(../images/pixel_ffffff_90pct.png) repeat;
	color: #000;
	width: auto;
	height: 28px;
	line-height: 28px;
	padding: 0 3ex;
	text-align: left;
	border: none; /* removes the border set by li.current a */
	text-decoration: none;
	font-weight: normal;
}
#header1 .menu .level1 .level2 li a span {
	border: none;
	padding: 0;
	background-image: none;
}
/* hover effect */
#header1 .menu .level2 li.hover a,
#header1 .menu .level2 li:hover a,
#header1 .menu .level2 li.hover ul li.hover a,
#header1 .menu .level2 li:hover ul li:hover a {
	background: #ec5239;
	color: #fff;
}

/* Styles for all menu levels */
.menu a { display: block; text-decoration: none; }

/* Menu level 1 functionality */
.menu ul.level1 li {
	position: relative;
	display: inline-block; *display: inline; *zoom: 1;
	vertical-align: top;
}

/* Menu level 2 functionality */
.menu ul.level2 { position: absolute; z-index: 5000; left: -5000%; /* Must be a percentage to avoid IE7 sticky bug */ }
.menu li:hover ul.level2, .menu li.hover ul.level2 { left: 0%; }
.menu ul.level2 li { clear: left; } /* for IE6 */

/* Menu level 3 functionality */
.menu ul.level3 { position: absolute; z-index: 5000; top: -5000%; /* Must be a percentage to avoid IE7 sticky bug */ }
.menu ul.level2 li:hover ul.level3,
.menu ul.level2 li.hover ul.level3 { top: -1px; }

/* Menu level 4 functionality */
.menu ul.level4 { position: absolute; z-index: 5000; left: -5000%; /* Must be a percentage to avoid IE7 sticky bug */ }
.menu ul.level3 li:hover ul.level4,
.menu ul.level3 li.hover ul.level4 { top: -1px; }


#footer {
	margin: 5px 0px 5px 240px;
	padding: 5px 0;
	border-top: 1px solid #a3b8bf;
	text-align: center;
	color: #727272;
}

#footer .images {
	position: absolute;
	display:block;
	margin: 0 auto;
	width: 160px; 
	right: 700px;
	padding-top: 40px;
}

#logindata {
	text-align:left;
	color: #727272;
	margin-top: 6px;
}
#display {
	text-align:left;
	font-size:16px;
	/*overflow:scroll;*/
	min-height:300px;
	width: expression(915 + 'px');
	max-width:915px;
}
#display p {
	margin-left:10px;
	margin-bottom:5px;
}
#display li {
	margin-left:20px;
}
#display table {
	font-size:12px;
	/*width:930px;*/
	margin:1px;
	max-width:920px;
	width:expression(document.body.clientWidth > 921? "921px": "auto" );

}
#display  tr, td {
	font-size:12px;
}
#display div {
}
#picframe { text-align:center; width:925px; }
#databox {
	width:400px; 
	float:left; 
	margin:10px;
}
#columns_l1 {
	margin-top: 15px;
}
#columns_l1 .left {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	width: 200px;
	display: inline;
	margin-top: 10px;
	position: relative;
}
#columns_l1 .right {
	float: left;
	/*padding-left: 10px;*/
	display: inline;
	position: relative;
}
#page_home #columns_l1 .right {
	/*padding-left: 20px;*/
}
#page_home #columns_l1 .right {
	width: 935px;
}

#page_home {
	text-align: center;
	position: relative;
}
.fleft { float:left; }
.fright { float:right; }
.acctInfo {
	background-color:#CCCCCC;
	padding:1px;
	border:1px solid #AAAAAA;
	font-size: 9px;
}
.drawHistory {
	background-color:#EEEEEE;
	padding:1px;
	border:1px solid #AAAAAA;
	font-size: 9px;
}
