﻿

.modalBackground
{
    background-color: Gray;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.modalPopup
{
    border-width: 3px;
    border-style: solid;
    border-color: Gray;
    width: 250px;
    font-size: small;
    width: 350px; /*background-image: url('../Images/red_border_bg.jpg');background-repeat: repeat-x;*/
    background-color: #E9E9E9;
    border-radius:5px;
}
.popupConfirm
{
    background-color: #EEEEEE;
    border-width: 3px;
    border-style: solid;
    border-color: Gray;
    padding: 3px;
    width: 300px;
    font-size: small;
    padding: 10px;
    height: 250px;
}

.fade
{
    background-color: Gray;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.CloseButton
{
    float: right;
    margin-top: -5px;
    margin-right: -5px;
}
.modalFont td
{
    font-size: small;
    padding: 5px;
}

.modalBackground1
{
    background-color: Gray;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.modalPopup1
{
    border-width: 3px;
    border-style: solid;
    border-color: Gray;

    font-size:small;
   /* width: 350px; background-image: url('../Images/red_border_bg.jpg');background-repeat: repeat-x;*/
    background-color: #E9E9E9;
    border-radius:10px;
     position: absolute; 
    left: 354.5px !important;
     top: 11.5px !important;
}

.modalPopup2
{
    border-width: 3px;
    border-style: solid;
    border-color: Gray;

    font-size:small;
   /* width: 350px; background-image: url('../Images/red_border_bg.jpg');background-repeat: repeat-x;*/
    background-color: #E9E9E9;
    border-radius:10px;
     position: absolute; 
    left:35px !important;
     top: 11.5px !important;
     width:916px;
}
.popupConfirm1
{
    background-color: #EEEEEE;
    border-width: 3px;
    border-style: solid;
    border-color: Gray;
    padding: 3px;
    width: 300px;
    font-size: small;
    padding: 10px;
    height: 250px;
}

.fade1
{
    background-color: Gray;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.CloseButton1
{
    float: right;
    margin-top: -5px;
    margin-right: -5px;
}
.modalFont1 td
{
    font-size: small;
    padding: 5px;
}

.textdiv{ float:left; width:85px; margin-top:10px;}
.textfirlddiv{ width:240px; float:left; margin-top:10px;}