﻿/* DEFAULTS
----------------------------------------------------------*/

body {
    background: -moz-linear-gradient(top, #EAEAEA 0%, #EAEAEA 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EAEAEA), color-stop(100%,#EAEAEA));
    background: -webkit-linear-gradient(top, #EAEAEA 0%,#EAEAEA 100%);
    background: -o-linear-gradient(top, #EAEAEA 0%,#EAEAEA 100%);
    background: -ms-linear-gradient(top, #EAEAEA 0%,#EAEAEA 100%);
    background: linear-gradient(top, #EAEAEA 0%,#EAEAEA 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EAEAEA', endColorstr='#EAEAEA');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#EAEAEA', endColorstr='#EAEAEA')";
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
    /*overflow-x: hidden;*/
}

a:link, a:visited {
    color: #034af3;
    border: 0px;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
    border: 0px;
}

a:active {
    color: #034af3;
    border: 0px;
}

p {
    margin-bottom: 10px;
    line-height: 1.6em;
    font-size: medium;
}

    p.cursor {
        font-size: medium;
    }

div.outer {
    /*width: 1135px;*/
    /*width:80%;*/
    width: 70%;
    position: relative;
    margin: 0 auto;
    top: 0px;
}
/* HEADINGS   
----------------------------------------------------------*/

logomain {
    width: 200px;
    position: relative;
    top: 20px;
    float: left;
}

logo {
    width: 50%;
    float: left;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1 {
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2 {
    font-size: 1.5em;
    font-weight: 600;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2 {
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page {
    width: 960px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
}

.header {
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #ffffff;
    width: 100%;
}

    .header h1 {
        font-weight: 700;
        margin: 0px;
        padding: 0px 0px 0px 20px;
        color: #f9f9f9;
        border: none;
        line-height: 2em;
        font-size: 2em;
    }

.main {
    position: relative;
    left: 0px;
    float: left;
    width: 100%;
    clear: none;
    text-align: left;
    font-size: 25;
    background: #fff;
    border-radius: 0 0 8px 8px;
}

.leftCol {
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer {
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink {
    background-color: #c21f2d;
    width: 70%;
    position: relative;
    left: 250px;
    right: 100px;
}

div.left_side {
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 38px;
    background: transparent url(../images/primary_nav_left.gif) no-repeat left top;
}

div.right_side {
    position: absolute;
    top: 0;
    right: 0;
    width: 13px;
    height: 38px;
    background: transparent url(../images/primary_nav_right.gif) no-repeat left top;
}
/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset {
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

    fieldset p {
        margin: 2px 12px 10px 10px;
    }

    fieldset.login label, fieldset.register label, fieldset.changePassword label {
        display: block;
    }

    fieldset label.inline {
        display: inline;
    }

legend {
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry {
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry {
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo {
    width: 100%;
}

/* MISC  
----------------------------------------------------------*/

.clear {
    clear: both;
}

.title {
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: Black;
    float: right;
    clear: left;
}

    .loginDisplay a:link {
        color: Black;
    }

    .loginDisplay a:visited {
        color: Black;
    }

    .loginDisplay a:hover {
        color: Black;
    }

.failureNotification {
    font: bold 8pt "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
    color: Red;
}

ul, li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none outside none;
}

.bold {
    font-weight: bold;
}

.submitButton {
    text-align: right;
    padding-right: 10px;
}

#header1 {
    /*position: relative;
	z-index: 50;*/
}

    #header1 .logo {
        top: 25px;
        left: 0px;
    }

    #header1 .menu {
        position: relative;
        top: 12px;
        height: 28px;
        z-index: 50;
        font-size: 0;
        clear: both;
    }

        #header1 .menu ul.level1 {
            background: -moz-linear-gradient(top, #6A6A6A 0%, #515151 2%, #2E2E2E 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6A6A6A),color-stop(2%,#515151), color-stop(100%,#2E2E2E));
            background: -webkit-linear-gradient(top, #6A6A6A 0%, #515151 2%,#2E2E2E 100%);
            background: -o-linear-gradient(top, #6A6A6A 0%, #515151 2%,#2E2E2E 100%);
            background: -ms-linear-gradient(top, #6A6A6A 0%, #515151 2%,#2E2E2E 100%);
            background: linear-gradient(top, #6A6A6A 0%, #515151 2%,#2E2E2E 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#515151', endColorstr='#2E2E2E');
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#515151', endColorstr='#2E2E2E')";
            font-size: 20px !important;
            font-family: "Open Sans",​"trebuchet ms",​arial,​sans-serif !important;
            font-weight: 400 !important;
            height: 50px;
            line-height: 46px;
            text-align: left;
            border-radius: 8px 8px 0 0;
        }

        #header1 .menu .left_side {
            position: absolute;
            top: 0;
            left: 0;
            width: 12px;
            height: 38px;
            background: transparent url(../images/primary_nav_left.gif) no-repeat left top;
        }

        #header1 .menu .right_side {
            position: absolute;
            top: 0;
            right: 0;
            width: 13px;
            height: 38px;
            background: transparent url(../images/primary_nav_right.gif) no-repeat left top;
        }

        /*** top level menu */
        #header1 .menu ul.level1 {
        }

        #header1 .menu .level1 li, #header1 .menu .level1 li a {
            color: #fff;
            font-size: 10pt;
            padding: 0 2.8ex;
        }

            #header1 .menu .level1 li a span {
            }

            #header1 .menu .level1 li.first a span {
                border-left: none;
                padding-left: none;
            }

            #header1 .menu .level1 li.last a span {
                border-right: none;
                padding-right: none;
            }

            #header1 .menu .level1 li.current a {
                background: #ff9c8a;
            }

            #header1 .menu .level1 li.hover a,
            #header1 .menu .level1 li:hover a {
                background: #ff9c8a;
                text-decoration: underline;
            }

        #header1 .menu li.current a,
        #header1 .menu li.hover a,
        #header1 .menu li:hover a {
            text-decoration: none;
            color: #fff;
        }
        /***/

        /*** second+ levels */
        #header1 .menu ul.level1 li ul {
            /* width: 1%;  IE6 - to cause inline-block LI elements to wrap */
            -moz-box-shadow: 5px 5px 25px #000;
            -webkit-box-shadow: 5px 5px 25px #000;
            box-shadow: 5px 5px 25px #000;
            line-height: 28px;
        }

        #header1 .menu .level2 li {
            border-top: 1px solid #b0b0b0;
            border-left: 1px solid #b0b0b0;
            border-right: 1px solid #b0b0b0;
            height: 28px;
            text-align: left;
            min-width: 150px;
        }

        #header1 .menu .level2 li {
            padding: 0px !important;
            width: 44.383ex;
        }

            #header1 .menu .level2 li.last {
                border-bottom: 1px solid #b0b0b0;
            }

        #header1 .menu .level1 .level2 li span {
            display: block;
            background: #c21f2d;
            color: black;
            width: auto;
            height: 28px;
            line-height: 28px;
            padding: 0 3ex;
            text-align: left;
            border: none; /* removes the border set by li.current a */
            text-decoration: none;
            font-weight: normal;
        }
        /* normal level2+ menu style */
        #header1 .menu .level1 .level2 li a,
        /* don't show hover effect on levels below the currently highlighted one */
        #header1 .menu .level2 li.hover ul li a,
        #header1 .menu .level2 li:hover ul li a {
            background: #c21f2d;
            color: #fff;
            width: auto;
            height: 28px;
            line-height: 28px;
            padding: 0 3ex;
            text-align: left;
            border: none; /* removes the border set by li.current a */
            text-decoration: none;
            font-weight: normal;
        }

            #header1 .menu .level1 .level2 li a span {
                border: none;
                padding: 0;
                background-image: none;
            }

        /* hover effect */
        #header1 .menu .level2 li.hover a,
        #header1 .menu .level2 li:hover a,
        #header1 .menu .level2 li.hover ul li.hover a,
        #header1 .menu .level2 li:hover ul li:hover a {
            background: #ec5239;
            color: #fff;
        }

/***/

/* Styles for all menu levels */
.menu a {
    display: block;
    text-decoration: none;
}

/* Menu level 1 functionality */
.menu ul.level1 li {
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
}

/* Menu level 2 functionality */
.menu ul.level2 {
    position: absolute;
    z-index: 5000;
    left: -5000%; /* Must be a percentage to avoid IE7 sticky bug */
}

.menu li:hover ul.level2, .menu li.hover ul.level2 {
    left: 0%;
}

.menu ul.level2 li {
    clear: left;
}
/* for IE6 */

/* Menu level 3 functionality */
.menu ul.level3 {
    position: absolute;
    z-index: 5000;
    top: -5000%; /* Must be a percentage to avoid IE7 sticky bug */
}

.menu ul.level2 li:hover ul.level3,
.menu ul.level2 li.hover ul.level3 {
    top: -1px;
}

/* Menu level 4 functionality */
.menu ul.level4 {
    position: absolute;
    z-index: 5000;
    left: -5000%; /* Must be a percentage to avoid IE7 sticky bug */
}

.menu ul.level3 li:hover ul.level4,
.menu ul.level3 li.hover ul.level4 {
    top: -1px;
}





#info {
    width: 180px;
    background: #eee;
}

    #info li {
        width: 160px;
        border-top: none;
        padding: 8px 10px;
        color: #666;
        text-align: left;
    }

#picframe {
    text-align: center;
    padding: 50px;
}

    #picframe .tdImage {
        width: 15%;
        text-align: right;
        padding: 20px 20px 30px;
    }

    #picframe .tdTitle {
        width: 25%;
        text-align: left !important;
        color: black;
        font-weight: 600;
        font-size: medium;
        padding: 20px;
        padding-bottom: 30px;
    }

#databox {
    width: 400px;
    float: left;
    margin: 10px;
}

#columns_l1 {
    /*margin-top: 25px;*/
}

    #columns_l1 .left {
        float: left;
        padding: 10px;
        width: 18%;
        display: inline;
        margin-top: 32px;
        position: relative;
        border: 1px solid;
    }

    #columns_l1 .right {
        float: right;
        margin-left: 30px;
        display: inline;
        position: relative;
        padding: 10px;
        width: 76%;
    }

#page_home #columns_l1 .right {
    /*padding-left: 20px;*/
}

#page_home #columns_l1 .right {
    /*width: 935px;*/
}

#page_home {
    text-align: center;
    position: relative;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.acctInfo {
    background-color: #CCCCCC;
    padding: 1px;
    border: 1px solid #AAAAAA;
    font-size: 9px;
}

.drawHistory {
    background-color: #EEEEEE;
    padding: 1px;
    border: 1px solid #AAAAAA;
    font-size: 9px;
}

.introbox {
    margin-bottom: 30px;
    min-height: 400px;
    border: 0px;
}

    .introbox h1 {
        font-size: 120%;
        margin: 10px 0px;
        font-weight: bold;
        border: 0px;
    }

#welcome {
    float: right;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
}
/*---------------Supplier Retailer Form-----------------------------------*/
div.insert, div.edit, div.search {
    width: 25%;
    float: left;
}

div.buttons {
    width: 17px;
    float: right;
}

.form {
    font-size: small;
    border: 1px solid #ccc;
}

.sides {
    padding-left: 10px;
    padding-right: 10px;
}

.hidden {
    display: none;
}

.PopUpPanel {
    background-color: White;
    border: 1px solid #ccc;
}

.errors {
    border: 2px solid red;
    color: red;
    margin: 5px 0px;
    padding: 15px;
}

    .errors ul {
        margin: 0;
        padding: 0;
        margin-left: 80px;
        list-style: square;
    }

.myCalendar .ajax__calendar_container {
    border: 1px solid #646464;
    background-color: White;
    color: Black;
}

.ajax__calendar_days table {
    background: white !important;
    border: none !important;
}

    .ajax__calendar_days table tr td {
        padding: 1px !important;
    }

.ajax__calendar_dayname {
}

.myForm {
    margin: 0 auto;
    padding: 14px;
    width: 100%;
    background-repeat: repeat-x;
    font: bold 9pt "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
}

.myFormsmall {
    margin: 0 auto;
    padding: 14px;
    border: 2px solid #CC0000;
    width: 100%;
    background-image: url('../Images/red_border_bg.jpg');
    background-repeat: repeat-x;
    font: bold 9pt "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
}

    .myFormsmall tr th {
        font-size: 14px;
        font-weight: bold;
        border-bottom: solid 1px #b7ddf2;
        padding-bottom: 5px;
        text-align: left;
    }

    .myFormsmall tr td {
        padding: 4px;
        text-align: left;
        font-weight: normal;
        vertical-align: top;
        font: bold 9pt "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
    }

.myForm tr th {
    font-size: 14px;
    font-weight: bold;
    border-bottom: solid 1px #b7ddf2;
    padding-bottom: 5px;
    text-align: left;
}

.myForm tr td {
    padding: 4px;
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
    font: bold 9pt "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
}

    .myForm tr td.input input[type="submit"] {
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -khtml-border-radius: 4px;
        border-radius: 4px;
        border: none;
        font: bold 9pt "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif !important;
        width: 99px !important;
        height: 30px !important;
        background: #066ECD;
        background: -moz-linear-gradient(top, #A8CCEC 0%, #79C3FB 2%, #126DCC 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A8CCEC), color-stop(2%,#79C3FB), color-stop(100%,#126DCC));
        background: -webkit-linear-gradient(top, #A8CCEC 0%, #79C3FB 2%,#126DCC 100%);
        background: -o-linear-gradient(top, #A8CCEC 0%, #79C3FB 2%,#126DCC 100%);
        background: -ms-linear-gradient(top, #A8CCEC 0%, #79C3FB 2%,#126DCC 100%);
        background: linear-gradient(top, #A8CCEC 0%, #79C3FB 2%,#126DCC 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79C3FB', endColorstr='#126DCC');
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#79C3FB', endColorstr='#126DCC')";
    }

.input .bule_up_c {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    border: none;
    font: bold 9pt "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif !important;
    width: 99px !important;
    height: 30px !important;
    background: #066ECD;
    background: -moz-linear-gradient(top, #A8CCEC 0%, #79C3FB 2%, #126DCC 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A8CCEC), color-stop(2%,#79C3FB), color-stop(100%,#126DCC));
    background: -webkit-linear-gradient(top, #A8CCEC 0%, #79C3FB 2%,#126DCC 100%);
    background: -o-linear-gradient(top, #A8CCEC 0%, #79C3FB 2%,#126DCC 100%);
    background: -ms-linear-gradient(top, #A8CCEC 0%, #79C3FB 2%,#126DCC 100%);
    background: linear-gradient(top, #A8CCEC 0%, #79C3FB 2%,#126DCC 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79C3FB', endColorstr='#126DCC');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#79C3FB', endColorstr='#126DCC')";
    margin-bottom: 10px;
    margin-top: 5px;
}



.myForm tr td.input input[type="text"] {
    /*background-image:url('../images/input_bg.jpg');*/
    background-repeat: no-repeat;
    border: 0px;
    float: left;
    height: 20px;
    /*width: 156px !important;*/
    font: normal 9pt "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
    padding: 2px;
    padding-left: 4px;
}

.myForm tr td.input30 input[type="text"] {
    background-image: url('../images/input-bg30.png');
    background-repeat: no-repeat;
    border: 0px;
    float: left;
    height: 22px;
    width: 26px !important;
    font: normal 9pt "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
    padding: 2px;
    text-align: center;
}

.myForm tr td.input50 input[type="text"] {
    background-image: url('../images/input-bg50.png');
    background-repeat: no-repeat;
    border: 0px;
    float: left;
    height: 22px;
    width: 46px !important;
    font: normal 9pt "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
    padding: 2px;
    text-align: left;
}

.myForm tr td.input100 input[type="text"] {
    background-image: url('../images/input-bg100.png');
    background-repeat: no-repeat;
    border: 0px;
    float: left;
    height: 22px;
    width: 96px !important;
    font: normal 9pt "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
    padding: 2px;
    text-align: left;
}

.myForm tr td.input250 input[type="text"] {
    background-image: url('../images/input-bg250.png');
    background-repeat: no-repeat;
    border: 0px;
    float: left;
    height: 22px;
    width: 244px !important;
    font: normal 9pt "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
    padding: 2px;
    padding-left: 4px;
    text-align: left;
}

.myForm tr td.input select {
    background-image: url('../images/input-bg160.png');
    background-repeat: no-repeat;
    border: 0px;
    float: left;
    height: 26px;
    width: 160px !important;
    padding: 5px;
    font: normal 9pt "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
}

.myForm tr td select {
    background-repeat: no-repeat;
    border: 0px;
    float: left;
    height: 26px;
    width: 160px;
    padding: 5px;
    background-color: #FFEBEC;
    font: normal 9pt "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
    margin-right: 5px;
}

.chkBoxList {
    margin: 0 auto;
    padding: 5px;
    width: 100%;
}

    .chkBoxList tr {
        padding: 5px;
        text-align: left;
        border: 1px Solid;
        font-size: 11px;
    }

    .chkBoxList td {
        padding: 5px;
        text-align: left !important;
        font-size: 11px;
        width: 33.33%;
    }

/* table style */
table.iGridView-classic {
    border-collapse: collapse;
    border-left: 1px solid;
    margin: 0 auto 1.5em;
    padding: 0;
    width: 100%;
}

/* header cell style */
.iGridView-classic th {
    background: url("../images/bg_header.jpg") no-repeat scroll 0 0 #DCD5D6;
    border-top: 3px solid !important;
    color: black;
    font: bold 9pt "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
    letter-spacing: 1px;
    padding: 5px;
    text-align: left;
    vertical-align: middle;
    border: 1px solid;
}

    .iGridView-classic th a {
        color: black;
        font: bold 9pt "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
        text-decoration: none;
    }

/* cell styles */
.iGridView-classic td {
    border: 1px solid;
    padding: 4px 3px 4px 3px;
    font: bold 9pt "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
    /*padding-left:5px;
    text-align:left !important;*/
}

/* mouseover row style */
.iGridView-classic .row-over {
    height: 25px;
    background-color: #c7ff90;
}

/* mouse select row style */
.iGridView-classic .row-select {
    height: 25px;
    background-color: #98bb75;
    color: #fff;
}

/* mouse select row style */
.iGridView-classic .data-row {
}

.iGridView-classic .data-row-alt {
    background: none repeat scroll 0 0 #F8F8F8;
    color: #797268;
}

.iGridView-classic .data-row-selected {
    height: 25px;
    background-color: Yellow;
}

.iGridView-classic .empty-row {
    color: Red;
    font-weight: bold;
    height: 50px;
    font-size: 15px;
}

.iGridView-classic1 th {
    background: url("../images/bg_header.jpg") no-repeat scroll 0 0 #DCD5D6;
    border-top: 3px solid !important;
    color: black;
    font: normal 8pt "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
    letter-spacing: 1px;
    padding: 5px;
    text-align: left;
    vertical-align: middle;
    border: 1px solid;
}

    .iGridView-classic1 th a {
        color: black;
        font: bold 8pt "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
        text-decoration: none;
    }

/* cell styles */
.iGridView-classic1 td {
    border: 1px solid;
    padding: 4px 3px 4px 3px;
    font: normal 8pt "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
    color: Black;
}

/* mouseover row style */
.iGridView-classic1 .row-over {
    height: 25px;
    background-color: #c7ff90;
}

/* mouse select row style */
.iGridView-classic1 .row-select {
    height: 25px;
    background-color: #98bb75;
    color: #fff;
}

/* mouse select row style */
.iGridView-classic1 .data-row {
}

.iGridView-classic1 .data-row-alt {
    background: none repeat scroll 0 0 #F8F8F8;
    color: #797268;
}

.iGridView-classic1 .data-row-selected {
    height: 25px;
    background-color: Yellow;
}

.iGridView-classic1 .empty-row {
    color: Red;
    font-weight: bold;
    height: 50px;
    font-size: 15px;
}



.MyTabStyle .ajax__tab_header {
    font-family: "Helvetica Neue", Arial, Sans-Serif;
    font-size: 14px;
    font-weight: bold;
    display: block;
}

    .MyTabStyle .ajax__tab_header .ajax__tab_outer {
        border-color: #222;
        color: #222;
        padding-left: 10px;
        margin-right: 3px;
        border: solid 1px #d7d7d7;
        background: #E6E5E5;
    }

    .MyTabStyle .ajax__tab_header .ajax__tab_inner {
        border-color: #666;
        color: #666;
        padding: 3px 10px 2px 0px;
    }

.MyTabStyle .ajax__tab_active .ajax__tab_outer {
    border-bottom-color: #B7DDF2;
    background-color: #87CEFA;
}

.space {
    height: 10px;
    width: 100%;
    clear: both;
}

/* root element for tabs  */
ul.css-tabs {
    margin: 0 !important;
    padding: 0;
    height: 30px;
    border-bottom: 2px solid #CC0000;
}

    /* single tab */
    ul.css-tabs li {
        float: left;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    /* link inside the tab. uses a background image */
    ul.css-tabs a {
        float: left;
        font-size: 13px;
        display: block;
        padding: 5px 30px;
        text-decoration: none;
        border: 2px solid #CC0000;
        border-left: 0px;
        border-bottom: 0px;
        height: 18px;
        background: #F5F5F5; /* for non-css3 browsers */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99E5E5', endColorstr='#ECF8F8'); /* for IE */
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#99E5E5), to(#ECF8F8), color-stop(.6,#999999)); /* for webkit browsers */
        background: -moz-linear-gradient(top, #CC0000, #CC0000); /* for firefox 3.6+ */
        color: #000000;
        position: relative;
        top: 1px;
        outline: 0;
    }

        ul.css-tabs a span {
            font-family: Calibri, Arial, Helvetica, sans-serif;
            color: Black;
            font-size: 100%;
        }

    ul.css-tabs #first {
        border-left: 2px solid #CC0000;
        border-right: 2px solid #CC0000;
        border-top: 2px solid #CC0000;
    }


    /* selected tab */
    ul.css-tabs a.current {
        border-bottom: none 0px;
        color: #000;
        font-weight: bolder;
        cursor: default;
        background: #ffffff; /* for non-css3 browsers */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff'); /* for IE */
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#ffffff), color-stop(.6,#ffffff)); /* for webkit browsers */
        background: -moz-linear-gradient(top, #ffffff, #ffffff); /* for firefox 3.6+ */
        margin-bottom: 5px;
        height: 19px;
    }


/* tab pane */
.css-panes {
    background: none repeat scroll 0 0 #ffffff;
    border-color: -moz-use-text-color #CC0000;
    border-right: 2px solid #CC0000;
    border-left: 2px solid #CC0000;
    border-bottom: 2px solid #CC0000;
    border-style: none solid solid;
    border-width: 2px 2px 2px;
    padding: 15px;
    text-align: justify;
    z-index: 2;
}

.toolBox {
    display: block;
    width: 100%;
}

#overlay {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: wait;
    background: #041128;
    z-index: 50;
    opacity: 0.5;
    -ms-filter: "alpha (opacity=50)";
    filter: alpha (opacity=50);
}

    #overlay img {
        position: relative;
        left: 50%;
        top: 50%;
        z-index: 100;
    }

div.pager {
    margin-top: 5px;
}

    /* pager links */
    div.pager a {
        border: 1px solid #C00;
        padding: 2px 4px;
        display: inline-block;
        text-decoration: none;
        margin: auto 2px;
    }

    /* current page */
    div.pager span span {
        border: 1px solid #0C0;
        padding: 2px 4px;
        display: inline-block;
        margin: auto 2px;
    }

.first {
    color: #F00;
}

.last {
    color: #0C0;
}

.current {
    color: #00C;
}

.numeric {
    color: #C0C;
}

.next {
    color: #0CC;
}

a {
    font-family: Arial;
    font-size: 8pt;
    font-style: normal;
    font-weight: bold;
}

.TopTab {
    float: left;
    background: url("../images/tablefte.png") no-repeat left top;
    margin: 0;
    padding: 0 0 0 4px;
    text-decoration: none;
}

    .TopTab a {
        float: left;
        display: block;
        background: url("../images/tabrighte.png") no-repeat right top;
        padding: 5px 15px 4px 6px;
        color: #FFF;
        font: 0.8em !important;
    }


        .TopTab a.active {
            background-position: 0% -42px;
        }



.menuTabs {
    position: relative;
    top: 1px;
    left: 10px;
}

.tab {
    border: Solid 1px black;
    border-bottom: none;
    padding: 0px 10px;
    background-color: #eeeeee;
}

.selectedTab {
    border: Solid 1px black;
    border-bottom: Solid 1px white;
    padding: 0px 10px;
    background-color: white;
}

.tabBody {
    border: Solid 1px black;
    padding: 20px;
    background-color: white;
}

.hideable a {
    font-family: Arial;
    font-size: 12pt;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
}

    .hideable a.hide {
        background-image: url('../Images/minus.gif');
        background-repeat: no-repeat;
        background-position: left 1px;
        padding-left: 12px;
    }

.Collapse a.hide {
    background-image: url('../Images/plus.gif');
}

.Collapse .hide-container {
    display: none;
}

#paggingdiv ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

    #paggingdiv ul li {
        margin: 0px;
        padding: 0px;
        list-style: none;
        display: block;
        float: left;
    }

        #paggingdiv ul li a {
            border: solid 1px #9c0202;
            background: #C21F2D;
            text-align: center;
            padding: 2px 6px 2px 6px;
            color: #fff;
            font-family: Arial, Helvetica, sans-serif;
            text-decoration: none;
            margin-right: 4px;
        }

            #paggingdiv ul li a:hover {
                border: solid 1px #9c0202;
                background: #C21F2D;
                text-align: center;
                padding: 2px 6px 2px 6px;
                color: #fff;
                font-family: Arial, Helvetica, sans-serif;
                text-decoration: none;
            }

            #paggingdiv ul li a.active {
                border: solid 1px #9c0202;
                background: #C21F2D;
                text-align: center;
                padding: 2px 6px 2px 6px;
                color: #fff;
                font-family: Arial, Helvetica, sans-serif;
                text-decoration: none;
            }

            #paggingdiv ul li a.last {
                border: solid 1px #484747;
                background: #acacac;
                text-align: center;
                padding: 2px 6px 2px 6px;
                color: #000;
                font-family: Arial, Helvetica, sans-serif;
                text-decoration: none;
            }


.autocomplete_completionListElement {
    margin: 0px !important;
    background-color: #FFEBEC !important;
    border: buttonshadow;
    border-width: 1px;
    border-style: solid;
    cursor: 'default';
    overflow: auto;
    height: auto;
    width: 270px !important;
    text-align: left;
    list-style-type: none;
}

.autoHighlighted {
    background-color: #1569C7;
    color: white;
}

.autocomplete_listItem {
    background-color: #FFEBEC !important;
    color: windowtext;
    padding: 1px;
}


.subpage {
    position: relative;
    padding-bottom: 20px;
}

    .subpage,
    .subpage .from_fck {
        color: #6c6767;
    }

        .subpage .page_image {
            float: left;
            margin: 0 25px 25px 0;
            position: relative;
        }

            .subpage .page_image img {
                display: block;
            }

            .subpage .page_image .corner {
                width: 18px;
                height: 18px;
                position: absolute;
            }

                .subpage .page_image .corner .png {
                    width: 100%;
                    height: 100%;
                }

            .subpage .page_image .tl {
                top: 0;
                left: 0;
            }

            .subpage .page_image .tr {
                top: 0;
                right: 0;
            }

            .subpage .page_image .bl {
                bottom: 0;
                left: 0;
            }

            .subpage .page_image .br {
                bottom: 0;
                right: 0;
            }

            .subpage .page_image .tl .png {
                background: transparent url(../images/corner_tl_18px_ffffff.png) no-repeat left top;
            }

            .subpage .page_image .tr .png {
                background: transparent url(../images/corner_tr_18px_ffffff.png) no-repeat left top;
            }

            .subpage .page_image .bl .png {
                background: transparent url(../images/corner_bl_18px_ffffff.png) no-repeat left top;
            }

            .subpage .page_image .br .png {
                background: transparent url(../images/corner_br_18px_ffffff.png) no-repeat left top;
            }

        .subpage .summary_box {
            background-color: #c7baba;
            z-index: 1;
            position: relative;
            zoom: 1;
            padding: 10px 25px;
        }

            .subpage .summary_box dl.has_downloads {
                display: inline-block;
                *display: inline;
                *zoom: 1;
                vertical-align: top;
                width: 63%;
                padding-right: 2ex;
                border-right: 1px solid #837b7b;
                margin-right: 20px;
            }

            .subpage .summary_box dl dt {
                color: #fff;
                font-size: 12pt;
                font-weight: bold;
                margin-bottom: 5px;
                display: block;
            }

            .subpage .summary_box dl dd {
                color: #403c3c;
            }

            .subpage .summary_box .downloads {
                display: inline-block;
                *display: inline;
                *zoom: 1;
                vertical-align: top;
                width: 30%;
            }

                .subpage .summary_box .downloads .title {
                    text-align: center;
                    color: #fff;
                    font-size: 12pt;
                    font-weight: bold;
                }

                .subpage .summary_box .downloads table {
                    margin-top: 5px;
                }

                    .subpage .summary_box .downloads table a {
                        color: #000;
                    }

        .subpage .content_page {
            position: relative;
            margin: 20px 0 0 0;
        }

        .subpage h1 {
            font: normal 17pt Tahoma,Helvetica,sans-serif;
        }

#page_faqs ul.faqs {
    margin-top: 25px;
}

    #page_faqs ul.faqs li {
        margin-bottom: 20px;
    }

        #page_faqs ul.faqs li h2 {
            margin-bottom: 5px;
        }

#page_faqs .button_toggle_details img {
    margin-right: 1.8ex;
}

#page_faqs .button_toggle_details * {
    vertical-align: middle;
    font: 11pt "Trebuchet MS",Arial,Helvetica,sans-serif;
    text-decoration: none;
    color: #005593;
}

#page_faqs .details {
    margin-bottom: 25px;
    height: auto;
    width: auto;
    margin-left: 34px;
}

.left_links {
    font-size: 14/16px;
    font-weight: bold !important;
    text-decoration: none;
    color: #005593 !important;
    font-variant: normal !important;
}
/*PopUp*/


/*Header Css*/


header {
    background: #001233;
    float: none;
    width: 100%;
    padding: 10px 0 3px 0;
    display: table;
}

    header .logo {
        float: left;
        width: 100%;
    }

.imglogo {
    width: 254px;
}

header .header_right {
    float: left;
    width: 100%;
    padding: 17px 0 0 0;
}

    header .header_right .list {
        float: right;
        list-style: none;
        margin-top: 7px;
        /* margin-right: 12px; */
    }

        header .header_right .list li {
            float: left;
        }

.imgicons {
    width: 35px;
    height: 35px;
}

header .header_right .list li + li {
    padding-left: 20px;
}

header .header_right .list li {
    float: left;
}

    header .header_right .list li + li {
        padding-left: 20px;
    }

.search-bar {
    float: right;
    margin-right: 30px;
    width: 280px;
}

    .search-bar input[type="search"] {
        background: rgba(0, 0, 0, 0) url(../images/musica-searcher.png) no-repeat scroll 4px center;
        border: 1px solid #D1D8DE;
        border-radius: 6px;
        color: #4192C7;
        float: left;
        font-family: Arial;
        font-size: 14px;
        height: 39px;
        width: 100%;
        margin-top: 7px;
        vertical-align: middle;
        position: relative;
        padding-left: 37px;
    }

.navigation_bars {
    float: none;
    width: 100%;
    background: #001233;
    display: table;
}

    .navigation_bars .nav.navbar-nav {
        float: left;
        list-style: none;
        position: relative;
        z-index: 1000;
    }

        .navigation_bars .nav.navbar-nav li {
            float: left;
            line-height: 20px;
            padding-right: 5px;
            position: relative;
        }

            .navigation_bars .nav.navbar-nav li.active > a {
                color: #fcb539;
                font-family: 'latoregular';
            }

            .navigation_bars .nav.navbar-nav li a {
                line-height: 45px;
                padding: 0;
                color: #fff;
                font-size: 15px !important;
                font-family: 'latoregular';
            }

            .navigation_bars .nav.navbar-nav li + li {
                background: url(../Images/border1.png) 0 center no-repeat;
                padding: 0 10px;
            }

            .navigation_bars .nav.navbar-nav li .dropdown_menu {
                position: absolute;
                list-style: none;
                top: 100%;
                width: 300px;
                background: #0b2f53;
                padding: 10px 10px 10px 14px;
                left: 0px;
                display: none;
                z-index: 1000;
            }



            .navigation_bars .nav.navbar-nav li:last-child {
                padding-right: 0;
            }

            .navigation_bars .nav.navbar-nav li .dropdown_menu li .sub_menu {
                float: left;
                width: 100%;
                list-style: none;
            }

                .navigation_bars .nav.navbar-nav li .dropdown_menu li .sub_menu li {
                    width: 100%;
                    float: left;
                    line-height: 20px;
                    margin: 0;
                    min-height: inherit;
                    margin-bottom: 6px;
                }

                    .navigation_bars .nav.navbar-nav li .dropdown_menu li .sub_menu li a {
                        font-size: 14px !important;
                        color: #ACC9DB;
                        font-weight: 500;
                    }

            .navigation_bars .nav.navbar-nav li .dropdown_menu li a {
                line-height: normal;
                text-decoration: none;
            }

            .navigation_bars .nav.navbar-nav li:last-child {
                padding-right: 0;
            }

            .navigation_bars .nav.navbar-nav li a:hover {
                color: #fcb539;
                font-family: 'latoregular';
            }

.nav > li > a:hover, .nav > li > a:focus {
    background: none;
}
/*#topNav , #divProfileName {display:none;}*/
.Settings {
    display: none;
}
/*#divProfileName {display:none !important;}*/

/*.navigation_bars .nav.navbar-nav li.active .dropdown_menu {display:block;}*/

.navigation_bars .nav.navbar-nav li:hover .dropdown_menu {
    display: block;
}

.navigation_bars .nav.navbar-nav li .dropdown_menu li {
    width: 100%;
    float: left;
    line-height: 20px;
    margin: 0;
    min-height: inherit;
    margin-bottom: 6px;
}

    .navigation_bars .nav.navbar-nav li .dropdown_menu li a {
        font-size: 14px !important;
        color: #ACC9DB;
        font-weight: 500;
    }

.navigation_bars .nav.navbar-nav li .dropdown_menu li {
    background: none;
    padding: 0 10px;
}

#topNav li.blue {
    list-style-type: none;
    float: none;
    margin: 0 0 0 0em;
    position: relative;
    width: 100%;
    text-align: right;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A8CCEC), color-stop(2%,#79C3FB), color-stop(100%,#126DCC));
    background: -webkit-linear-gradient(top, #A8CCEC 0%, #79C3FB 2%,#126DCC 100%);
    background: -o-linear-gradient(top, #A8CCEC 0%, #79C3FB 2%,#126DCC 100%);
    background: -ms-linear-gradient(top, #A8CCEC 0%, #79C3FB 2%,#126DCC 100%);
    background: linear-gradient(top, #A8CCEC 0%, #79C3FB 2%,#126DCC 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79C3FB', endColorstr='#126DCC');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#79C3FB', endColorstr='#126DCC')";
}

.header_right .list li a {
    position: relative;
}

.field .btns {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 4px;
    border: none;
}

.btns {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 4px;
    border: none;
    margin-bottom: 10px;
}

.beige-gradient .form {
    border: none;
}

.beige-gradient {
    padding: 10px;
}

.navigation_bars .nav.navbar-nav li .dropdown_menu li a:hover {
    color: #fcb539;
}

.btn.focus, .btn:focus, .btn:hover {
    color: #fff;
    text-decoration: none;
}

#MainContent_divMain .container.beige-gradient {
    top: 10px !important;
}