.menuH
{
    /* You will get totally diffrent menu alignment and layout by setting following margin, width, and float with different values.
    For detailed instruction please visit www.menucool.com/horizontal/change-menu-alignment  */
    margin: 0; width: 100%; float:none;
    /*following "behavior" works for IE6, IE7, and IE8. Other browsers will ignore it.*/
    /*Note: Unlike image file, htc file path is relative to the page, not this CSS file.*/
    behavior: url("/horizontal/menuh/cssmenu.htc");
    height: 36px;
    background: #111111;
    
    position:relative;/*! for IE htc*/
    z-index:4;/*H2*/
    font-family: Roboto Condensed;
    list-style: none;
    padding: 0;
}

.menuH li
{
    padding: 0;
    /*margin: 0;
    display: block; TODO: I am testing them if they can be removed. If can, remove them.*/
    float: left;
    height: 36px;
    position: relative;/*move it into .menuH if you want submenu to be positioned relative to the whole menu instead of this li element*/
}
.menuH li:hover, .menuH li.onhover
{
    background: #0099cc;
}

ul.menuH a
{
    padding: 0 32px;
    line-height: 36px; /*Note: keep this value the same as the height of .menuH and .menuH li */
    font-size: 14px;
    color: white;
    display: block;
    outline: 0;
    text-decoration: none;
}
.menuH a:hover
{
    color: white;
}
.menuH a.arrow
{
    background: url("../themeimages/menu-arrow-active.png") no-repeat right center;
}
.menuH ul a.arrow
{
    background: url("../themeimages/menu-arrow-level2.png") no-repeat 97% center;
}
 
        
/*Used to align a top-level item to the right*/        
.menuH .menuRight
{
    float: right;
    margin-right: 0px;
}
        
/*for the top-level separators*/
.menuH li.separator
{
    font-size:0;
    overflow:hidden;
    border-left:1px solid #F7F7F7;
    border-right:1px solid #BBBBBB;
}
               
        
/*######sub level###########*/
        
ul.menuH ul
{
    width:255px;
    position: absolute;
    left: -9999px;
    /*border: 1px solid #DDD;*/
    border-top: 0; 
    background:#333333;    
    text-align: left;
    list-style: none; margin: 0;  
    /*Following 1px(padding-right) will determine how much it is overlapped by the sub-sub-menu */
   
}

.menuH li li
{
    float: none;
    white-space:nowrap;
    height: auto;
}

.menuH ul a
{
    padding: 0 20px 10px 0px;
    line-height: 16px;
    font-size: 0.9em;
    font-weight: normal;
    color: white;
    text-align: left;
    margin:0 0 0 10px;
    
}

.menuH ul a:hover
{
    color: white;
    background:#0099cc;
        
}

.menuH li:hover ul, .menuH li.onhover ul
{
    left: -1px;/*Use this property to change offset of the dropdown*/
    top: auto;
}

.menuH li:hover .dropToLeft, .menuH li.onhover .dropToLeft
{
    left: auto;
    right: -1px;
    top: auto;
}
.menuH ul ul
{
    /*border-top: 1px solid #DDD;*/
    margin:0 0 0 54px;
}

.menuH li:hover ul ul, .menuH li:hover ul ul ul, .menuH li:hover ul ul ul ul,
.menuH li.onhover ul ul, .menuH li.onhover ul ul ul, .menuH li.onhover ul ul ul ul
{
    left: -9999px;
    top:0;
}

.menuH li li:hover ul, .menuH li li li:hover ul, .menuH li li li li:hover ul,
.menuH li li.onhover ul, .menuH li li li.onhover ul, .menuH li li li li.onhover ul
{
    left: 200px;
}
        
/*####### special effects ##########*/
        
.decor1 
{
    -moz-border-radius: 7px; /* Firefox */
    -webkit-border-radius: 7px; /* Safari and Chrome */
    border-radius: 7px; /* Opera 10.5+, future browsers, and now also our behavior htc file */
             
}
.menu-icon {
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    margin-left: 0;
    margin-right: 0;
    padding-right: 10px;
    width: 16px;
}
