body {
	background: #555;
	
}



/* ---------------------------------- */
/* @Wrapper */

#wrapper {
	width: 100%;
}



/* ---------------------------------- */
/* @Header */

#header {
	background: #222;	
	width: 100%;
	height: 77px;
	
	border-bottom: 1px solid #555555;	
	
	position: relative;
	z-index: 15;
}

	#header h1 {
		background: url(../themeimages/logo.png) no-repeat 0 0;
		width: 191px;
		height: 31px;
		line-height: 600px;
		overflow: hidden;
		
		position: relative;
		top: 24px;
		left: 15px;
	}
	
		#header h1 a { display: block; }
		
		
	#header #reveal-nav {
		background: black;
		width: 15px;
		height: 15px;
		
		display: none;
		
		position: absolute;
		top: 10px;
		right: 15px;
		
		border: 1px solid #000;
		
		padding: 6px 5px 4px;
		
		z-index: 10000;
		
		cursor: pointer;
		
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
	
	#header #reveal-nav .reveal-bar {
		display: block;
		width: 15px;
		height: 2px;
		margin-bottom: 3px;
		background-color: #DDD;
		-webkit-border-radius: 1px;
		-moz-border-radius: 1px;
		border-radius: 1px;
		-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
		-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	}
	
	#sidebar.revealShow { display: block; }



	
/* ---------------------------------- */
/* @Search */

#search {
	background: #444;
	width: 100%;
	min-height: 57px;
	
	text-align: center;
	
	border-top: 1px solid #242424;	
	border-bottom: 1px solid #282828;
	
	position: relative;
	z-index: 15;
}

	#searchBevel {
		border-bottom: 1px solid #555555;
		position: absolute;
		width: 100%;
		bottom: 0;
	}
	
	#search form {	
		text-align: left;
		margin: 0 15px;
		position: relative;
	}
	
		#search input {
			background: #626262 url(../themeimages/search/search.png) no-repeat 12px 50%;
			width: 150px;
			padding: 6px 30px 6px 30px;
			border: 1px solid #363636;
	
			position: relative;
			top: 10px;		
			
			-moz-border-radius: 100px;
			-webkit-border-radius: 100px;
			border-radius: 100px;
		}
		
	#searchField { margin-bottom: 1.75em; }



/* ---------------------------------- */
/* @Sidear */

#sidebar {
	width: 240px;
	display: block;
	float: left;
	position: relative;
	z-index: 16;
}

	.sidebarBox {
		color: #FFF;
		padding: 0 20px;
		margin-bottom: 2em;
		
		text-shadow: 1px 1px 2px rgba(0,0,0,.7);
	}	
		
	#sidebar hr {		
		margin-bottom: 2em;
		border-top: 1px solid #4A4A4A;
		border-bottom: 1px solid #858585;
	}



/* ---------------------------------- */
/* @Content */

#content {
	background: #FFF;
	
	width: auto;
	min-height: 800px;
	

	z-index: 15;
	padding-bottom: 25px;
	margin-left: 240px;
	margin-right: 20px;
	
	position: relative;
	left: auto;
	top: auto;
}

	#contentHeader {
		top: -97px;
	}
	
	#content .container { top: -97px; }

	#contentHeader {
		background: #DDD;
		
		width: 100%;
		height: 96px;
		border-bottom: 1px solid #CCC;
		margin-bottom: 2em;
		
		position: relative;
		
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}

		#contentHeader h1 {
			font-size: 28px;
			font-weight: normal;
			color: #333;
			
			position: relative;
			top: 35px;
			left: 15px;
			
			text-shadow: 1px 1px 2px rgba(255,255,255,.5);
		}
		
	#contentHeaderActions {
		height: 96px;
		line-height: 106px;
		
		position: absolute;
		top: 0;
		right: 15px;
	}

	#contentHeader #contentHeaderBevel {
		width: 100%;
		border-bottom: 1px solid #FFF;
		position: absolute;
		bottom: 0;
	}



/* ---------------------------------- */
/* @Footer */

#footer {
	background: #222;
	width: 100%;
	color: #999;
	text-align: right;
	padding: 12px;
	
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


	
/* ---------------------------------- */
/* @MainNav */
	
#mainNav { 
	width: 240px; 
	padding: 0; 
	margin: -5px 0 2.5em; 
	border-bottom: 1px solid #858585; 
	
	position: relative; 
	top: 5px; 
}

	#mainNav li.nav {		
		list-style-type: none;
		padding: 0;
		margin: 0;
		position: relative;
		border-top: 1px solid #858585;
		border-bottom: 1px solid #4A4A4A;
	}
	
		#mainNav li.nav:first-child { border-top: none; }
	
		#mainNav li.nav a {
			width: 100%;
			font-size: 13px;
			font-weight: normal;
			text-decoration: none;
			color: #FFF;
			display: inline-block;
			padding: 11px 18px 11px 45px;
			
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			
			text-shadow: 1px 1px 2px rgba(0,0,0,.7);
		}
		
		#mainNav li.nav [class^="icon-"], #mainNav li.nav [class*=" icon-"] {
			background-image: url(../themeimages/sprite/sprite-16-black.png);
			background-repeat: no-repeat;
			
			width: 16px;
			height: 16px;
			display: inline-block;
			
			margin-left: 0;
			margin-right: 0;
			
			position: absolute;
			top: 14px;
			left: 16px;
			
			opacity: .4;
			filter:alpha(opacity=40);
		}
		
		#mainNav li.nav a:hover {
			background: #616161;
			background: rgba(0,0,0,.075);
		}
		
		#mainNav li.nav.active {
			border-top: none;
		}
		
		#mainNav li.nav.active a {		
			background: #066ECD;
			background:-moz-linear-gradient(top, #A8CCEC 0%, #4993D7 2%, #066ECD 100%); /* FF3.6+ */
			background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#A8CCEC), color-stop(2%,#4993D7), color-stop(100%,#066ECD)); /* Chrome,Safari4+ */
			background:-webkit-linear-gradient(top, #A8CCEC 0%, #4993D7 2%,#066ECD 100%); /* Chrome10+,Safari5.1+ */
			background:-o-linear-gradient(top, #A8CCEC 0%, #4993D7 2%,#066ECD 100%); /* Opera11.10+ */
			background:-ms-linear-gradient(top, #A8CCEC 0%, #4993D7 2%,#066ECD 100%); /* IE10+ */
			background:linear-gradient(top, #A8CCEC 0%, #4993D7 2%,#066ECD 100%); /* W3C */	
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4993D7', endColorstr='#066ECD');
			-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4993D7', endColorstr='#066ECD')";
			
			border-top: none;
		}
		
		#mainNav li.nav.dropdown a {
			padding-bottom: 12px;
		}
		
		#mainNav .nav .count {
			background-color: #4D4D4F;
			font-size: 11px;
			font-weight: bold;
			text-decoration: none;
			color: #FFF;
			display: block;
			padding: 2px 8px !important;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px;
			
			position: absolute;
			right: 20px;
			top: 9px;
		}
		
		#mainNav .dropdown .dropdownArrow {
	        width: 0;
	        height: 0;
			display: inline-block;
			
	        border-left: 5px solid transparent;
	        border-right: 5px solid transparent;	
	        border-top: 5px solid #000;

			position: absolute;
			top: 19px;
			right: 20px;
		}	
		
	#mainNav li.nav .subNav {
		background: #555;
		width: 205px;
		display: none;
		list-style-type: none;
		padding-top: 1em;
		padding-bottom: .75em;
		padding-left: 35px;
		/* margin-left: 40px; */
		
		margin-top: 0;
		margin-bottom: 0;
		border-bottom: none;
		position: relative;
		top: 0;
		left: -20px;
	}
	
		#mainNav li.nav .subNav li {
			background: none;
			list-style-type: none;
			padding: 0;
			margin: 0 1em 0 0;
		}
		
			#mainNav li.nav .subNav li a {
				width: auto;
				font-size: 12px;
				display: block;
				padding: 6px 15px 6px 30px;
			}
			
			#mainNav li.nav .subNav li a:hover {
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				border-radius: 5px;
			}


	
/* ---------------------------------- */
/* @TopNav */

#topNav {
	position: absolute;
	right: 30px;
	top: 12px;
	z-index: 20;
}

	#topNav ul { padding: 0; margin: 0; }
	
	#topNav li { list-style-type: none; float: left; margin: 0 0 0 1.5em; position: relative; }
	
	#topNav li:last-child { margin-right: 0; }
	
		#topNav a { font-size: 11px; color: #FFF; }	
		
		#topNav a.menu { padding-right: 16px; }
		
	#topNav .menu-arrow {
		width: 0;
		height: 0;
		
		border-left: 4px solid transparent;
	    border-right: 4px solid transparent;	
	    border-top: 4px solid #777;
	    
	    position: absolute;
	    top: 8px;
	    right: 0;
	}
	

		
/* ---------------------------------- */
/* @QuickNav */

#quickNav {
	background: #222;
	height: 25px;
	border: 1px solid #161616;
	
	position: absolute;
	left: 240px;
	top: 7px;
	z-index: 20;
	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	
}

#quickNav ul { padding: 0; margin: 0; }

	#quickNav li { 
		width: 28px; 
		height: 25px;
		text-align: center; 
		list-style-type: none; 
		float: left;
		position: relative;
		
		border-right: 1px solid #222;
		border-left: 1px solid #555;
	}
	
	#quickNav li:first-child { background: none; border-left: none; }
	
	#quickNav li:last-child { border-right: none !important; }
	
		#quickNav li a {
			width: 28px;
			height: 25px;
			display: inline-block;
			line-height: 600px;
			overflow: hidden;
		}
		
		#quickNav li [class^="icon-"] {
			background-image: url(../themeimages/sprite/sprite-12-white.png);
			background-repeat: no-repeat;
			
			width: 12px;
			height: 12px;
			
			display: block;
			
			position: absolute;
			top: 50%;
			left: 50%;
			
			margin-top: -6px;
			margin-left: -6px;
			
		}
			
	#quickNav .alert {
		background: #C00;
		width: 18px;
		height: 18px;
		font-size: 10px;
		font-weight: 600;
		color: #FFF;
		text-align: center;
		line-height: 18px;
		display: block;
		
		border-radius: 100px;
		
		position: absolute;
		top: -8px;
		right: -5px;
		
		z-index: 100;
	}	


	
/* ---------------------------------- */
/* @Menu */	

.menu-container {
	background-color: #666;
	display: none;
	padding: 5px;
	
	border: 1px solid #555;
	
	position: absolute;
	top: 50px;
	left: 250px;
	
	z-index: 100;
	
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

	.menu-container h3 {
		font-size: 12px;
		color: #555;
		padding: 0 .65em 6px;
		margin: 0;
		border-bottom: 1px dotted #BBB;
	}

	.menu-content {
		background-color: #FFF;
		padding: 0;
		position: relative;
	
		min-width: 150px;
		min-height: 75px;
		
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;	
	}
	
	.menu-top {
		width: 0;
		height: 0;
		
		border-left: 7px solid transparent;
        border-right: 7px solid transparent;	
        border-bottom: 7px solid #666;
		
		position: absolute;
		top: -7px;
		left: 15px;
	}
	
	.menu-container.right .menu-top {
		left: auto;
		right: 15px;
	}
	
	.menu-container.middle .menu-top { display: none; }
	
	.menuClose a {
		font-size: 12px;
		font-weight: normal;
		color: #222;
		padding: 1px 6px;
				
		position: absolute;
		right: 8px;
		top: 6px;
	}
		
	.menu-dropdown {
		background: #666;
	}
	
		.menu-dropdown .menu-content {
			background: transparent;
			padding: 0;
		}
		
			.menu-dropdown .menu-content ul {
				width: 165px;
				padding: 0;
				margin: 0;
			}
			
				.menu-dropdown .menu-content li {
					list-style-type: none;
					padding: 2px 0;
					margin: 0;
					
					border-top: 1px solid #777;
					border-bottom: 1px solid #555;
				}
	
				.menu-dropdown .menu-content li:first-child { border-top: none; }
				.menu-dropdown .menu-content li:last-child { border-bottom: none; }
	
				.menu-dropdown .menu-content a {
					background: url(../themeimages/bullets/bullet_black.png) no-repeat 2px 50%;
					color: #FFF;
					display: block;
					padding: 7px 3px 7px 22px;
				}
			
	.menu-dropdown .menuClose { display: none; }