[class^="icon-"] {
	background: url(../themeimages/sprite/sprite-16-black.png);
	width: 16px;
	height: 16px;
	display: inline-block;	
}




/* ---------------------------------- */
/* @Icon Positions */
	
.icon-ampersand { background-position: 0 -0px; } 
.icon-aperture { background-position: 0 -44px; } 
.icon-aperture-alt { background-position: 0 -88px; } 
.icon-arrow-down { background-position: 0 -132px; } 
.icon-arrow-down-alt1 { background-position: 0 -176px; } 
.icon-arrow-down-alt2 { background-position: 0 -220px; } 
.icon-arrow-left { background-position: 0 -264px; } 
.icon-arrow-left-alt1 { background-position: 0 -308px; } 
.icon-arrow-left-alt2 { background-position: 0 -352px; } 
.icon-arrow-right { background-position: 0 -396px; } 
.icon-arrow-right-alt1 { background-position: 0 -440px; } 
.icon-arrow-right-alt2 { background-position: 0 -484px; } 
.icon-arrow-up { background-position: 0 -528px; } 
.icon-arrow-up-alt1 { background-position: 0 -572px; } 
.icon-arrow-up-alt2 { background-position: 0 -616px; } 
.icon-article { background-position: 0 -660px; } 
.icon-at { background-position: 0 -704px; } 
.icon-award-fill { background-position: 0 -748px; } 
.icon-award-stroke { background-position: 0 -792px; } 
.icon-bars { background-position: 0 -836px; } 
.icon-bars-alt { background-position: 0 -880px; } 
.icon-battery-charging { background-position: 0 -924px; } 
.icon-battery-empty { background-position: 0 -968px; } 
.icon-battery-full { background-position: 0 -1012px; } 
.icon-battery-half { background-position: 0 -1056px; } 
.icon-beaker { background-position: 0 -1100px; } 
.icon-beaker-alt { background-position: 0 -1144px; } 
.icon-bolt { background-position: 0 -1188px; } 
.icon-book { background-position: 0 -1232px; } 
.icon-book-alt { background-position: 0 -1276px; } 
.icon-box { background-position: 0 -1320px; } 
.icon-brush { background-position: 0 -1364px; } 
.icon-brush-alt { background-position: 0 -1408px; } 
.icon-calendar { background-position: 0 -1452px; } 
.icon-calendar-alt-fill { background-position: 0 -1496px; } 
.icon-calendar-alt-stroke { background-position: 0 -1540px; } 
.icon-camera { background-position: 0 -1584px; } 
.icon-cd { background-position: 0 -1628px; } 
.icon-chart { background-position: 0 -1672px; } 
.icon-chart-alt { background-position: 0 -1716px; } 
.icon-chat { background-position: 0 -1760px; } 
.icon-chat-alt-fill { background-position: 0 -1804px; } 
.icon-chat-alt-stroke { background-position: 0 -1848px; } 
.icon-check { background-position: 0 -1892px; } 
.icon-check-alt { background-position: 0 -1936px; } 
.icon-clock { background-position: 0 -1980px; } 
.icon-cloud { background-position: 0 -2024px; } 
.icon-cloud-download { background-position: 0 -2068px; } 
.icon-cloud-upload { background-position: 0 -2112px; } 
.icon-cog { background-position: 0 -2156px; } 
.icon-cog-alt { background-position: 0 -2200px; } 
.icon-comment-alt1-fill { background-position: 0 -2244px; } 
.icon-comment-alt1-stroke { background-position: 0 -2288px; } 
.icon-comment-alt2-fill { background-position: 0 -2332px; } 
.icon-comment-alt2-stroke { background-position: 0 -2376px; } 
.icon-comment-alt3-fill { background-position: 0 -2420px; } 
.icon-comment-alt3-stroke { background-position: 0 -2464px; } 
.icon-comment-fill { background-position: 0 -2508px; } 
.icon-comment-stroke { background-position: 0 -2552px; } 
.icon-compass { background-position: 0 -2596px; } 
.icon-cursor { background-position: 0 -2640px; } 
.icon-curved-arrow { background-position: 0 -2684px; } 
.icon-denied { background-position: 0 -2728px; } 
.icon-denied-alt { background-position: 0 -2772px; } 
.icon-dial { background-position: 0 -2816px; } 
.icon-document-alt-fill { background-position: 0 -2860px; } 
.icon-document-alt-stroke { background-position: 0 -2904px; } 
.icon-document-fill { background-position: 0 -2948px; } 
.icon-document-stroke { background-position: 0 -2992px; } 
.icon-download { background-position: 0 -3036px; } 
.icon-eject { background-position: 0 -3080px; } 
.icon-equalizer { background-position: 0 -3124px; } 
.icon-eye { background-position: 0 -3168px; } 
.icon-eyedropper { background-position: 0 -3212px; } 
.icon-first { background-position: 0 -3256px; } 
.icon-folder-fill { background-position: 0 -3300px; } 
.icon-folder-stroke { background-position: 0 -3344px; } 
.icon-fork { background-position: 0 -3388px; } 
.icon-fullscreen { background-position: 0 -3432px; } 
.icon-fullscreen-alt { background-position: 0 -3476px; } 
.icon-fullscreen-exit { background-position: 0 -3520px; } 
.icon-fullscreen-exit-alt { background-position: 0 -3564px; } 
.icon-hash { background-position: 0 -3608px; } 
.icon-headphones { background-position: 0 -3652px; } 
.icon-heart-fill { background-position: 0 -3696px; } 
.icon-heart-stroke { background-position: 0 -3740px; } 
.icon-home { background-position: 0 -3784px; } 
.icon-image { background-position: 0 -3828px; } 
.icon-info { background-position: 0 -3872px; } 
.icon-iphone { background-position: 0 -3916px; } 
.icon-key-fill { background-position: 0 -3960px; } 
.icon-key-stroke { background-position: 0 -4004px; } 
.icon-last { background-position: 0 -4048px; } 
.icon-layers { background-position: 0 -4092px; } 
.icon-layers-alt { background-position: 0 -4136px; } 
.icon-left-quote { background-position: 0 -4180px; } 
.icon-left-quote-alt { background-position: 0 -4224px; } 
.icon-lightbulb { background-position: 0 -4268px; } 
.icon-link { background-position: 0 -4312px; } 
.icon-list { background-position: 0 -4356px; } 
.icon-lock-fill { background-position: 0 -4400px; } 
.icon-lock-stroke { background-position: 0 -4444px; } 
.icon-loop { background-position: 0 -4488px; } 
.icon-loop-alt1 { background-position: 0 -4532px; } 
.icon-loop-alt2 { background-position: 0 -4576px; } 
.icon-loop-alt3 { background-position: 0 -4620px; } 
.icon-loop-alt4 { background-position: 0 -4664px; } 
.icon-magnifying-glass { background-position: 0 -4708px; } 
.icon-magnifying-glass-alt { background-position: 0 -4752px; } 
.icon-mail { background-position: 0 -4796px; } 
.icon-mail-alt { background-position: 0 -4840px; } 
.icon-map-pin-alt { background-position: 0 -4884px; } 
.icon-map-pin-fill { background-position: 0 -4928px; } 
.icon-map-pin-stroke { background-position: 0 -4972px; } 
.icon-mic { background-position: 0 -5016px; } 
.icon-minus { background-position: 0 -5060px; } 
.icon-minus-alt { background-position: 0 -5104px; } 
.icon-moon-fill { background-position: 0 -5148px; } 
.icon-moon-stroke { background-position: 0 -5192px; } 
.icon-move { background-position: 0 -5236px; } 
.icon-move-alt1 { background-position: 0 -5280px; } 
.icon-move-alt2 { background-position: 0 -5324px; } 
.icon-move-horizontal { background-position: 0 -5368px; } 
.icon-move-horizontal-alt1 { background-position: 0 -5412px; } 
.icon-move-horizontal-alt2 { background-position: 0 -5456px; } 
.icon-move-vertical { background-position: 0 -5500px; } 
.icon-move-vertical-alt1 { background-position: 0 -5544px; } 
.icon-move-vertical-alt2 { background-position: 0 -5588px; } 
.icon-movie { background-position: 0 -5632px; } 
.icon-new-window { background-position: 0 -5676px; } 
.icon-pause { background-position: 0 -5720px; } 
.icon-pen { background-position: 0 -5764px; } 
.icon-pen-alt2 { background-position: 0 -5808px; } 
.icon-pen-alt-fill { background-position: 0 -5852px; } 
.icon-pen-alt-stroke { background-position: 0 -5896px; } 
.icon-pilcrow { background-position: 0 -5940px; } 
.icon-pin { background-position: 0 -5984px; } 
.icon-play { background-position: 0 -6028px; } 
.icon-play-alt { background-position: 0 -6072px; } 
.icon-plus { background-position: 0 -6116px; } 
.icon-plus-alt { background-position: 0 -6160px; } 
.icon-question-mark { background-position: 0 -6204px; } 
.icon-rain { background-position: 0 -6248px; } 
.icon-read-more { background-position: 0 -6292px; } 
.icon-reload { background-position: 0 -6336px; } 
.icon-reload-alt1 { background-position: 0 -6380px; } 
.icon-right-quote { background-position: 0 -6424px; } 
.icon-right-quote-alt { background-position: 0 -6468px; } 
.icon-rss { background-position: 0 -6512px; } 
.icon-rss-alt { background-position: 0 -6556px; } 
.icon-share { background-position: 0 -6600px; } 
.icon-spin { background-position: 0 -6644px; } 
.icon-spin-alt { background-position: 0 -6688px; } 
.icon-star { background-position: 0 -6732px; } 
.icon-steering-wheel { background-position: 0 -6776px; } 
.icon-stop { background-position: 0 -6820px; } 
.icon-sun { background-position: 0 -6864px; } 
.icon-sun-alt-fill { background-position: 0 -6908px; } 
.icon-sun-alt-stroke { background-position: 0 -6952px; } 
.icon-tag-fill { background-position: 0 -6996px; } 
.icon-tag-stroke { background-position: 0 -7040px; } 
.icon-target { background-position: 0 -7084px; } 
.icon-transfer { background-position: 0 -7128px; } 
.icon-trash-fill { background-position: 0 -7172px; } 
.icon-trash-stroke { background-position: 0 -7216px; } 
.icon-umbrella { background-position: 0 -7260px; } 
.icon-undo { background-position: 0 -7304px; } 
.icon-unlock-fill { background-position: 0 -7348px; } 
.icon-unlock-stroke { background-position: 0 -7392px; } 
.icon-upload { background-position: 0 -7436px; } 
.icon-user { background-position: 0 -7480px; } 
.icon-volume { background-position: 0 -7524px; } 
.icon-volume-mute { background-position: 0 -7568px; } 
.icon-wrench { background-position: 0 -7612px; } 
.icon-x { background-position: 0 -7656px; } 
.icon-x-alt { background-position: 0 -7700px; } 