
ul li {
    list-style-type: none;
}
ul.oe_menu{
	list-style:none;
	/*position:relative;*/
	position:absolute;
	/*margin:30px 0px 0px 40px;*/
	/*width:auto;*/
	width:99%;
	float:left;
	/*clear:both;*/
	/*top:-88px;*/
	/*top:46px;*/
	top:65px;
	height:42px;
	/*left:195px;*/
	/*left:-13px;*/
	/*left:210px;*/
	left:-18px;
	font-size:15px;
	/*text-transform:uppercase;*/
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	background: #515151;
	background:-moz-linear-gradient(center top , #6A6A6A 9%, #515151 52%, #000000 72%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6A6A6A),color-stop(2%,#515151), color-stop(100%,#2E2E2E));
	background: -webkit-linear-gradient(top, #6A6A6A 0%, #515151 2%,#2E2E2E 100%);
	background: -o-linear-gradient(top, #6A6A6A 0%, #515151 2%,#2E2E2E 100%);
	background: -ms-linear-gradient(top, #6A6A6A 0%, #515151 2%,#2E2E2E 100%);
	background: linear-gradient(top, #6A6A6A 0%, #515151 2%,#2E2E2E 100%);
    background: -webkit-linear-gradient(top, #6A6A6A 9%, #515151 52%,#000000 72%);
	border-radius:19px;
	padding-right:10px;
}
ul.oe_menu > li{
	/*width:112px;*/
	width:auto;
	height:40px;
	padding-bottom:2px;
	float:left;
	position:relative;
	list-style-type:none;
}
ul.oe_menu > li > a
{
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    font-weight: bold;
    /*height: 51px;*/
    margin-left: 9px;
    margin-top:6px;
    /*padding: 5px 16px;*/
    padding:5px 6px;
    text-decoration: none;
    /*text-shadow: 0 0 1px #000000;*/
    width: auto;

	/*display:block;
	background-color:#101010;
	color:#fff;
	text-decoration:none;
	font-weight:bold;
	font-size:12px;
	width:90px;*
	width:auto;
	height:20px;
	padding:10px;
	margin:0.5px;
	text-shadow:0px 0px 1px #000;
	opacity:0.8;
	background: #515151;
	background:-moz-linear-gradient(center top , #6A6A6A 9%, #515151 52%, #000000 72%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6A6A6A),color-stop(2%,#515151), color-stop(100%,#2E2E2E));
	background: -webkit-linear-gradient(top, #6A6A6A 0%, #515151 2%,#2E2E2E 100%);
	background: -o-linear-gradient(top, #6A6A6A 0%, #515151 2%,#2E2E2E 100%);
	background: -ms-linear-gradient(top, #6A6A6A 0%, #515151 2%,#2E2E2E 100%);
	background: linear-gradient(top, #6A6A6A 0%, #515151 2%,#2E2E2E 100%);*/
}
ul.oe_menu > li:first-child > a {
   /* border-radius:19px 0px 0px 19px;*/
}
ul.oe_menu > li:last-child a {
    /* border-radius:0px 19px 19px 0px;*/
}
ul.oe_menu > li > a:hover,
ul.oe_menu > li.selected > a
{
    background: #fff;
    background: -moz-linear-gradient(top, #fff 0%, #fff 2%, #fff  100%);
 /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(2%,#fff), color-stop(100%,#fff));
 /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fff 0%, #fff 2%,#fff 100%);
 /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fff 0%, #fff 2%,#fff 100%);
 /* Opera11.10+ */
    background: -ms-linear-gradient(top, #fff 0%, #fff 2%,#fff 100%);
 /* IE10+ */
    background: linear-gradient(top, #fff 0%, #fff 2%,#fff 100%);
 /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fff');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fff')";
    height:20px;
    color:#7A7A7A;
   
	
    
	/*background:#fff;*/
	/*color:#101010;
	color:White;
	background: #066ECD;
    background: -moz-linear-gradient(top, #A8CCEC 0%, #79C3FB 2%, #126DCC  100%);
  FF3.6+ 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A8CCEC), color-stop(2%,#79C3FB), color-stop(100%,#126DCC));
 Chrome,Safari4+ 
    background: -webkit-linear-gradient(top, #A8CCEC 0%, #79C3FB 2%,#126DCC 100%);
 Chrome10+,Safari5.1+ 
    background: -o-linear-gradient(top, #A8CCEC 0%, #79C3FB 2%,#126DCC 100%);
 Opera11.10+ 
    background: -ms-linear-gradient(top, #A8CCEC 0%, #79C3FB 2%,#126DCC 100%);
 IE10+ 
    background: linear-gradient(top, #A8CCEC 0%, #79C3FB 2%,#126DCC 100%);
 W3C
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79C3FB', endColorstr='#126DCC');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#79C3FB', endColorstr='#126DCC')";
    height:20px;*/
}

ul.oe_menu > li.selected1 > a
{
    background: #fff;
    background: -moz-linear-gradient(top, #fff 0%, #fff 2%, #fff  100%);
 /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(2%,#fff), color-stop(100%,#fff));
 /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fff 0%, #fff 2%,#fff 100%);
 /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fff 0%, #fff 2%,#fff 100%);
 /* Opera11.10+ */
    background: -ms-linear-gradient(top, #fff 0%, #fff 2%,#fff 100%);
 /* IE10+ */
    background: linear-gradient(top, #fff 0%, #fff 2%,#fff 100%);
 /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fff');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fff')";
    height:20px;
    color:#7A7A7A;
    border-bottom-right-radius: 0px;
	border-bottom-left-radius:0px;
	padding-bottom:9px;
}

.oe_wrapper ul.hovered > li > a{
	/*background:black;*/
	/*background: #515151;
	background: -moz-linear-gradient(top, #6A6A6A 0%, #515151 2%, #2E2E2E 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6A6A6A),color-stop(2%,#515151), color-stop(100%,#2E2E2E));
	background: -webkit-linear-gradient(top, #6A6A6A 0%, #515151 2%,#2E2E2E 100%);
	background: -o-linear-gradient(top, #6A6A6A 0%, #515151 2%,#2E2E2E 100%);
	background: -ms-linear-gradient(top, #6A6A6A 0%, #515151 2%,#2E2E2E 100%);
	background: linear-gradient(top, #6A6A6A 0%, #515151 2%,#2E2E2E 100%);*/
	/*text-shadow:0px 0px 1px #FFF;*/
}
ul.oe_menu div{
	position:absolute;
	top:42px;
	left:4px;
	background:#fff;
	/*background:#EAEAEA ;*/
	width:820px;
	height:auto;
	/*padding:20px;*/
	display:none;
	box-shadow:4px 4px 5px #888888;
	/*opacity:0.96;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;*/

}
ul.oe_menu div ul li a{
	text-decoration:none;
	color:#222;
	padding:2px 2px 2px 4px;
	margin:2px;
	display:block;
	font-size:12px;
	background:#F0F0F0;
	border-radius:4px;
	margin-bottom:-1px;
}

ul.oe_menu div ul li a.activelink{
	/*background:#ADADAD;*/
	background:#7F7F7F;
	color:#fff;
	font-weight:bold;
}

ul.oe_menu div ul.oe_full{
	width:100%;
}
ul.oe_menu div ul li a:hover{
	background:#ADADAD;
	color:#fff;
}
ul.oe_menu li ul{
	list-style:none;
	float:left;
	width: 200px;
	/*margin-right:-28px;*/
	/*margin-bottom:-12px;*/
	padding:20px;
	/*margin-left:-5px;*/
	margin-left:0px !important;
    margin-bottom:-6px;
}
li.oe_heading
{
    background: none repeat scroll 0 0 #666666;
    border-bottom: 1px solid #545454;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    font-size: 16px;
    list-style-type: none;
    margin-bottom: 10px;
    padding: 5px;
    
	/*color:#545454;
	font-size:16px;
	margin-bottom:10px;
	padding-bottom:6px;
	border-bottom:1px solid #545454;
	list-style-type:none;*/
}
li.oe_heading .menu-icon
{
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    margin-left: 0;
    margin-right: 0;
    width: 16px;
    padding-right:10px;
}
ul.oe_menu > li > a.active{
    background: #fff;
    background: -moz-linear-gradient(top, #fff 0%, #fff 2%, #fff  100%);
 /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(2%,#fff), color-stop(100%,#fff));
 /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fff 0%, #fff 2%,#fff 100%);
 /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fff 0%, #fff 2%,#fff 100%);
 /* Opera11.10+ */
    background: -ms-linear-gradient(top, #fff 0%, #fff 2%,#fff 100%);
 /* IE10+ */
    background: linear-gradient(top, #fff 0%, #fff 2%,#fff 100%);
 /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fff');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fff')";
    /*border-color: #0561B4; */
    height:20px;
    /*color:#7A7A7A;*/
    color:Black;
}