@import url('reset.css');
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700);

@font-face {
    font-family: 'latoregular';
     src: url('../stylesheets/fonts/lato-reg-webfont.woff2') format('woff2'),
         url('../stylesheets/fonts/lato-reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latoheavy';
    src: url('../stylesheets/fonts/lato-heavy-webfont.woff2') format('woff2'),
         url('../stylesheets/fonts/lato-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latoitalic';
    src: url('../stylesheets/fonts/lato-italic-webfont.woff2') format('woff2'),
         url('../stylesheets/fonts/lato-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latobold';
    src: url('../stylesheets/fonts/lato-bold-webfont.woff2') format('woff2'),
         url('../stylesheets/fonts/lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*,*:after,*:before{ -webkit-box-sizing:border-box;  -moz-box-sizing:border-box; box-sizing:border-box;  } a{ text-decoration:none; } h1,h2,h3,h4,h5,h6{ font-weight:normal; padding:0; margin:0;} p{ margin:0; padding:0;} ul{ padding:0; margin:0;}
 body{ font-size:23px; font-family: 'latoregular'; background:white; overflow-x: hidden;}
.main_section{ background:url(../themeimages/connolly_bg.png) top center no-repeat; background-size:100% 100%; padding:129px 0 56px 0; float:left; width:100%;}
.main_section .logo{ float:left; width:100%; text-align:center; margin-bottom:45px;}

.main_section .login_form{ float:none; width:100%; text-align:center; max-width:448px; margin:0 auto;}
.main_section .login_form .field{float:left; width:100%;}
.main_section .login_form .field input[type=text]{ width:462px; border:1px solid #fff; border-radius:50px; line-height:78px; height:78px; padding:0 66px; 
  color:#fff; background:url(../themeimages/user_icon.png) 23px center no-repeat;}
.main_section .login_form .field input[type=password]{width:462px; border:1px solid #fff; border-radius:50px; line-height:78px; height:78px; padding:0 66px;  
color:#fff;  margin-top:20px; background:url(../themeimages/password_icon.png) 23px center no-repeat;}
.main_section .login_form .field input[type=checkbox]{ margin:35px 10px 0 0;}
.main_section .login_form .field { color:#fff;  }
.main_section .login_form .field  a{ color:#fff; }
.main_section .login_form .field .validation{ display:block; text-align:left; color:#f8b53b !important; font-size:18px; padding-left:28px;}
  
.main_section  .field2{ float:left; width:100%; margin-top:50px;}
.main_section  .field2  input[type=submit]{ font-family: 'latoheavy'; background:#f8b53b; border-radius:50px; color:#fff; text-transform:uppercase; padding:0 70px; line-height:50px; font-size:19px; border:none; letter-spacing:1px;}
  
 .main_section  .field2 .link{ float:left; width:100%; margin-top:20px;}
 .main_section  .field2 .link a{ color:#7dcef1;  font-size:18px; }
	
 .main_section .footer{ float:left; width:100%; color:#fff; text-align:right; margin-top:100px; font-size:21px;  }
 

 /*===================================close css of header====================================================*/

.navigation_bar{ float:none; width:100%; background:black; display:table; margin-top:22px !important;margin-left:1px !important;position:absolute;}
.navigation_bar .nav.navbar-nav{ float:left; list-style:none; position:relative;padding-left:20px;}
.navigation_bar .nav.navbar-nav li{ float:left; padding-right:15px;  position:relative; z-index:99999;}
.navigation_bar .nav.navbar-nav li.active > a{ color:#fcb539;}
.navigation_bar .nav.navbar-nav li a:hover{ color:#fcb539;text-decoration:none;}
.navigation_bar .nav.navbar-nav li a{ line-height:42px; padding:0;  color:#fff; font-size:15px !important;}
.navigation_bar .nav.navbar-nav li +li{padding:0 15px; }
.navigation_bar .nav.navbar-nav li:last-child{ padding-right:0;}
.nav > li > a:hover, .nav > li > a:focus{ background:none;text-decoration:none;}
.navigation_bar .nav.navbar-nav li:hover .dropdown_menu{ display:block;}
.navigation_bar .nav.navbar-nav li .dropdown_menu{ position:absolute; list-style:none; top:100%; background:#000; padding:0 20px 20px 20px; left:0; display:none; margin-top:0;}
.navigation_bar .nav.navbar-nav li .dropdown_menu li h4{ color:#fcb539; font-family: 'latobold';  font-size:14px; text-transform:uppercase;}
.navigation_bar .nav.navbar-nav li .dropdown_menu li+li{ background:none; padding:0;}
.navigation_bar .nav.navbar-nav li .dropdown_menu li{ width:100%; line-height:normal; margin-top:20px;}
.navigation_bar .nav.navbar-nav li .dropdown_menu li a{ line-height:normal; text-decoration:none; white-space:nowrap;}
.navigation_bar .nav.navbar-nav li .dropdown_menu li .sub_menu{ float:left; width:100%; list-style:none; }
.navigation_bar .nav.navbar-nav li .dropdown_menu li .sub_menu li{ width:100%; float:left; line-height:20px; margin:0; min-height:inherit;}
.navigation_bar .nav.navbar-nav li .dropdown_menu li .sub_menu li a{ line-height:normal;  font-size:14px !important;}
.navigation_bar .nav.navbar-nav li .dropdown_menu li .sub_menu li a:hover{ color:#f58020;}
.navigation_bar .nav.navbar-nav li .dropdown_menu li .sub_menu li.active a{ color:#f58020;}


 /*===================================close css of navigation_bar====================================================*/

.form.uniformForm {
    /*width: 100% !important;*/
}

p {
    color: #444;
    font: 12px/1.7em "Open Sans","trebuchet ms",arial,sans-serif !important;
    margin: 0 0 1.75em;
}

input, textarea {
    font-family: inherit;
    font-size: 0.9em;
}

h1,.option_panel>h3{
	color:#fff;
	-webkit-text-shadow: 1px 1px 1px rgba(0,0,0,0.8), 0px 0px 3px rgba(255,255,255,0.7);
	-moz-text-shadow: 1px 1px 1px rgba(0,0,0,0.8), 0px 0px 3px rgba(255,255,255,0.7);
	-o-text-shadow: 1px 1px 1px rgba(0,0,0,0.8), 0px 0px 3px rgba(255,255,255,0.7);
	-ms-text-shadow: 1px 1px 1px rgba(0,0,0,0.8), 0px 0px 3px rgba(255,255,255,0.7);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.8), 0px 0px 3px rgba(255,255,255,0.7);
	font-family: 'Roboto Condensed', sans-serif;
	text-transform:uppercase;
}

#MainContent_cal_From_popupDiv, .ajax__calendar_container {
        width: 186px !important;
}

    #MainContent_cal_From_body, .ajax__calendar_body {
        width:186px !important;
        height:125px !important;
}

#Form1 div.rcbSlide {
    z-index:99999 !important;
}


.filter-section .right-section table {
    width:100%;
}

#MainContent_ReportContainer iframe{
    width:100% !important;
}

#MainContent_ReportContainer {
    margin: 0 auto;
    padding-left: 90px;
}
.ft-btn{
    padding-top: 15px;
}
.ft-btn button{
    margin-right:5px;
}
input[type=checkbox], input[type=radio]{
    margin: 4px 5px 0;
}

#content, .content1 {
    top: 0 !important;
}

div#contentHeader {
    margin-left: 0 !important;
    border-radius: 0;
}

.tab_03 .form {
    border:unset;
}

.btnCommon
{
    background: #f48021 none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;
    padding: 5px 12px;
    margin-bottom:5px;
    font-weight:normal;
    text-shadow: none;
}


.btn-Show-Report
{
 background: #f48021 none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    float: left;
     font-family: inherit;
    font-size: 20px;
    height: 35px;
    line-height: 35px;
    width: 100%;
    cursor:pointer;
    margin-top:5px;
}


.container, .form .uniformForm {
    background-color:#fff !important;
    background:#fff !important;
      
}
 #wrapper {
        background: #001233;
padding: 0 15px !important;
}

header{
        background: #001233;
padding:10px 15px !important;
}

div table.rgMasterTable td {
    font-size: 14px;
    text-align: left;
    font-family: calibri;
  height: auto;
    border-bottom: unset !important;

}

.form.uniformForm {
    border:unset;
}

#MainContent_Panel1 .RadComboBox_Default .rcbInput {
    width: 266px;
}

.filter-section .white-section .right-section table {
    width: 100%;
}

#ctl00_MainContent_ddlGroupsType_DropDown, #ctl00_MainContent_ddlPortalName_DropDown {
     width: 292px !important;
}

.raDiv {
    position: absolute;
    z-index: 2;
    background-color: rgba(0,0,0,.2);
    background-position: center center;
    background-repeat: no-repeat;
    height: calc(100% - 87px);
    width: 14.4%;
    top: 51px;
    left: 20px;
    -moz-border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
}

/* Old Css*/

#MainContent_divMain .container.beige-gradient {
    top: 10px !important;
    width: 100% !important;
      padding: 0px 20px;
}
.main_section {
    padding: 125px 0 56px 0;
    float: left;
    width: 100%;
}

.main_section .logo {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 45px;
}

.main_section .login_form {
    float: none;
    width: 100%;
    text-align: center;
    max-width: 448px;
    margin: 0 auto;
}

.main_section .login_form .field {
    float: left;
    width: 100%;
}

.main_section .login_form .field_01 {
    margin: 116px 0px 30px 55px;
    width: 74%;
}

.main_section .login_form .field_02 {
    margin: 30px 0px 30px 55px;
    width: 74%;
}

.field_01.wrapper {
    background: url(../themeimages/user_icon.png) #C3E3F0 8% center no-repeat;
    height: 62px !important;
    position: relative;
    left: 3px;
}

.field_02.wrapper {
    background: url(../themeimages/password_icon.png) #C3E3F0 8% center no-repeat;
    height: 62px !important;
    position: relative;
    left: 3px;
}

.main_section .login_form .field input[type=text] {
    width: 74%;
    /*border: 1px solid #fff; border-radius: 50px; */
    line-height: 60px;
    height: 60px;
    padding: 0 15px 0 72px;
    border: none;
    color: #000;
    background: url(../themeimages/user_icon.png) #C3E3F0 23px center no-repeat;
    /*background: url(../themeimages/user_icon.png) 23px center no-repeat;*/
}

.main_section .login_form .field_01 input[type="text"] {
    margin-top: 7px !important;
    position: absolute;
    left: 25%;
    background-color: #C3E3F0 !important;
    border: none !important;
    width: 72%;
}

.main_section .login_form .field input[type=password] {
    width: 74%;
    /*border: 1px solid #fff; border-radius: 50px; */
    line-height: 60px;
    height: 60px;
    padding: 0 15px 0 72px;
    margin-top: 5px;
    border: none;
    color: #000;
    background: url(../themeimages/password_icon.png) #C3E3F0 23px center no-repeat;
}

.main_section .login_form .field_02 input[type="password"] {
    margin-top: 7px !important;
    position: absolute;
    left: 25%;
    background-color: #C3E3F0 !important;
    border: none !important;
    width: 72%;
}

.main_section .login_form .field3 input[type=checkbox] {
    cursor: pointer;
    width: 21px;
    height: 21px;
    position: absolute;
    left: 89px !important /*margin: 4px -2px 0px!important;*/;
}

.main_section .login_form .field3 {
    color: #fff;
    float: left;
    width: 100%;
}

.main_section .login_form .field3 a {
    color: #fff;
}

.main_section .login_form .field .validation {
    display: block;
    text-align: left;
    color: #f8b53b !important;
    font-size: 18px;
    padding-left: 60px;
}

.main_section .login_form .field_01.wrapper .validation, .main_section .login_form .field_02.wrapper .validation {
    display: block;
    text-align: left;
    color: #f8b53b !important;
    font-size: 18px;
    padding-top: 60px;
}

.main_section .field2 {
    float: left;
    width: 100%;
    margin-top: 20px;
}

.main_section .field2 input[type=submit] {
    background: #f8b53b none repeat scroll 0 0;
    border: 6px solid #f8b53b;
    color: #fff;
    /*font-family: "latoheavy"; letter-spacing: 1px; */
    font-weight: bold;
    font-size: 28px;
    line-height: 60px;
    padding: 0 24%;
    text-transform: uppercase;
}

.main_section .field2 input[type=submit]:hover {
    /*font-family: "latoheavy"; letter-spacing: 1px; border: 7px solid #f58a2a; box-shadow: inset 0 0 -6px  #f58a2a;*/
    background: #f8b53b none repeat scroll 0 0;
    border: 6px solid #f58a2a;
    color: #fff;
    /*font-family: "latoheavy"; letter-spacing: 1px; */
    font-weight: bold;
    font-size: 28px;
    line-height: 60px;
    padding: 0 24%;
    text-transform: uppercase;
    /*    -moz-box-shadow: inset 0 0 10px #f58a2a;    -webkit-box-shadow: inset 0 0 10px #f58a2a;     box-shadow: inset 0 0 10px #f58a2a; */
}

.main_section .field2 input[type=submit]:focus {
    /*font-family: "latoheavy"; letter-spacing: 1px; border: 7px solid #f58a2a; box-shadow: inset 0 0 -6px  #f58a2a;*/
    background: #f8b53b none repeat scroll 0 0;
    border: 6px solid #f58a2a;
    color: #fff;
    /*font-family: "latoheavy"; letter-spacing: 1px; */
    font-weight: bold;
    font-size: 28px;
    line-height: 60px;
    padding: 0 24%;
    text-transform: uppercase;
    /*    -moz-box-shadow: inset 0 0 10px #f58a2a;    -webkit-box-shadow: inset 0 0 10px #f58a2a;     box-shadow: inset 0 0 10px #f58a2a; */
}

.main_section .field2 .link {
    float: left;
    width: 100%;
    margin-top: 20px;
}

.main_section .field2 .link a {
    color: #7dcef1;
    font-size: 18px;
}

.main_section .footer {
    float: left;
    width: 100%;
    color: #24689C;
    text-align: right;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 85px;
    font-size: 16px;
}

/** CheckBox css **/
.NewCheckbox input[type=checkbox] {
    display: none;
}

.NewCheckbox label {
    display: inline-block;
    color: #fff;
    cursor: pointer;
}

.NewCheckbox input[type=checkbox] + label {
    width: 1em;
    height: 1em;
    background: rgb(255,255,255);
    background-image: -moz-linear-gradient(rgb(240,240,240),rgb(255,255,255));
    background-image: -ms-linear-gradient(rgb(240,240,240),rgb(255,255,255));
    background-image: -o-linear-gradient(rgb(240,240,240),rgb(255,255,255));
    background-image: -webkit-linear-gradient(rgb(240,240,240),rgb(255,255,255));
    background-image: linear-gradient(rgb(240,240,240),rgb(255,255,255));
    vertical-align: middle;
    line-height: 1em;
    text-indent: 20px;
    font-size: 21px;
    padding: 1px;
}

.NewCheckbox input[type=checkbox]:checked + label::before {
    content: "\2714";
    color: #0AAAE6;
    height: 1em;
    /*line-height: 1.1em;*/
    width: 1em;
    font-weight: bolder;
    margin-left: -20px;
}

/*===================================close css of login_page=====================================================*/
header {
    background: #001233;
    float: none;
    width: 100%;
    padding: 10px 0 3px 0;
    display: table;
}

header .logo {
    float: left;
    width: 100%;
}

header .header_right {
    float: left;
    width: 100%;
    padding: 17px 0 0 0;
}

header .header_right .list {
    float: right;
    list-style: none;
    margin-top: 7px;
    /*margin-right: 12px;*/
}

header .header_right .list li {
    float: left;
}

header .header_right .list li + li {
    padding-left: 20px;
}

.search-bar {
    float: right;
    margin-right: 30px;
    width: 297px;
}

.search-bar input[type="search"] {
    background: rgba(0, 0, 0, 0) url("../Images/musica-searcher.png") no-repeat scroll 4px center;
    border: 1px solid #D1D8DE;
    border-radius: 6px;
    color: #4192C7;
    float: left;
    font-family: Arial;
    font-size: 14px;
    height: 39px;
    /*line-height: 40px;    padding: 0 10px 3px 37px;*/
    width: 100%;
    margin-top: 7px;
    vertical-align: middle;
    position: relative;
    padding-left: 37px;
}

#ctl00_txtSearch::-moz-placeholder {
    color: #4192C7 !important;
    font-weight: bolder !important;
}

#ctl00_txtSearch::-webkit-input-placeholder {
    color: #4192C7 !important;
    font-weight: normal !important;
}

/*===================================close css of header====================================================*/
.navigation_bar {
    float: none;
    width: 100%;
    background: #001233;
    display: table;
}

.navigation_bar .nav.navbar-nav {
    float: left;
    list-style: none;
    position: relative;
    z-index: 1000;
}

.navigation_bar .nav.navbar-nav li {
    float: left;
    line-height: 93px;
    padding-right: 5px;
    position: relative;
}

.navigation_bar .nav.navbar-nav li.active > a {
    color: #fcb539;
    font-family: Lato;
}

.navigation_bar .nav.navbar-nav li a:hover {
    color: #fcb539;
    font-family: Lato;
}

.navigation_bar .nav.navbar-nav li a {
    line-height: 45px;
    padding: 0;
    color: #fff;
    font-size: 15px !important;
    font-family: Lato;
}

.navigation_bar .nav.navbar-nav li + li {
    background: url(../themeimages/border1.png) 0 center no-repeat;
    padding: 0 10px;
}

.navigation_bar .nav.navbar-nav li:last-child {
    padding-right: 0;
}

.nav > li > a:hover, .nav > li > a:focus {
    background: none;
}

.navigation_bar .nav.navbar-nav li:hover .dropdown_menu {
    width: 438px;
    display: inline-flex;
    padding: 10px 25px;
}

.navigation_bar .nav.navbar-nav li .dropdown_menu {
    position: absolute;
    list-style: none;
    top: 100%;
    width: 300px;
    background: #0b2f53;
    padding: 0 10px 10px 14px;
    left: 0px;
    display: none;
    z-index: 1000;
}

.navigation_bar .nav.navbar-nav li .dropdown_menu li h4 {
    color: #fcb539;
    font-family: Arial;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.navigation_bar .nav.navbar-nav li .dropdown_menu li + li {
    background: none;
    padding: 0;
}

.navigation_bar .nav.navbar-nav li .dropdown_menu li {
    width: 100%;
    line-height: normal;
    margin-top: 9px;
    min-height: 100px;
    margin-right: 10px;
}

.navigation_bar .nav.navbar-nav li .dropdown_menu li a {
    line-height: normal;
    text-decoration: none;
}

.navigation_bar .nav.navbar-nav li .dropdown_menu li .sub_menu {
    float: left;
    width: 100%;
    list-style: none;
}

.navigation_bar .nav.navbar-nav li .dropdown_menu li .sub_menu li {
    width: 100%;
    float: left;
    line-height: 20px;
    margin: 0;
    min-height: inherit;
    margin-bottom: 6px;
}

.navigation_bar .nav.navbar-nav li .dropdown_menu li .sub_menu li a {
    font-size: 14px !important;
    color: #ACC9DB;
    font-weight: 500;
}

.navigation_bar .nav.navbar-nav li .dropdown_menu li .sub_menu li a:hover {
    color: #fcb539;
}

.navigation_bar .nav.navbar-nav li .dropdown_menu li .sub_menu li.active a {
    color: #fcb539;
}

/*#ctl00_pnlMain
{
    overflow: hidden !important;
}*/
/*===================================close css of navigation_bar====================================================*/
.inner_content {
    /* background: rgba(0, 0, 0, 0) url("../themeimages/1.jpg") repeat;*/
    background-color: #FCFCFB;
    float: left;
    width: 100%;
    background-size: cover !important;
    min-height: 844px;
    max-height: 1000px !important;
    overflow: auto;
}

.inner_content .breadcrumb {
    background: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.inner_content .breadcrumb a {
    color: #124b86;
}

.inner_content h3 {
    float: right;
    color: #303030;
    font-size: 20px;
}

.inner_content .welcomemsg {
    color: #074C8C;
    font-family: arial;
    font-size: 15px;
    /*padding-left: 4px;*/
}

.list_item {
    float: left;
    width: 100%;
    margin-top: 20px;
    background: #fff;
    padding: 38px 28px 41px 41px;
    border-top: 5px solid #f37f20;
    min-height: 332px;
}

.list_item h1 {
    color: #124b86;
    font-size: 27px;
    margin-bottom: 20px;
}

.list_item p {
    color: #303030;
    font-size: 16px;
    margin-top: 15px;
    text-align: justify;
}

.list_item p span {
    font-family: Arial;
    font-size: 17px;
}

.list_item .image {
    text-align: center;
    display: block;
}

.list_item .image img {
    width: 53%;
}

.list_item .r_list {
    float: left;
    width: 100%;
    list-style: none;
    margin-top: 10px;
}

.list_item .r_list li {
    float: left;
    width: 100%;
    margin-bottom: 18px;
    font-family: Arial;
    font-size: 21px;
}

.list_item .r_list li a {
    color: #303030;
}

.list_item .r_list li a:hover {
    text-decoration: none;
}

.list_item .r_list li.active {
    background: hsla(0, 0%, 0%, 0) url("../images/right_arrow.png") no-repeat scroll 94px center;
}

.list_item .per_t {
    float: left;
    width: 100%;
    text-align: center;
    color: #fcb539;
    font-family: Arial;
    font-size: 65px;
}

/*===================================close css of inner_contentr====================================================*/
.inner_content .store_detail {
    float: left;
    width: 100%;
    margin-top: 6px;
}

.inner_content .store_detail .sider_bar {
    /* background: #fff;        border-top: 5px solid #f37f20;*/
    padding: 15px 20px 20px;
    float: left;
    width: 100%;
    min-height: 585px;
}

.inner_content .store_detail .sider_bar h5 {
    color: #2d72b2;
    font-size: 14px;
    margin-bottom: 5px;
}

.inner_content .store_detail .s_img {
    width: 100%;
    float: left;
}

.inner_content .store_detail .report_form {
    float: left;
    width: 100%;
    margin-top: 25px;
    font-size: 16px;
    color: #303030;
}

.inner_content .store_detail .report_form .field {
    float: left;
    width: 100%;
    margin-bottom: 14px;
}

.inner_content .store_detail .report_form .field label {
    float: left;
    width: 100%;
    color: #303030;
    font-size: 17px;
}

.inner_content .store_detail .report_form .field select {
    font-size: 16px;
    background: #f0efef;
    float: left;
    width: 100%;
    padding: 7px;
    border: none;
}

.inner_content .store_detail .report_form .field input[type=radio] {
    margin: 0 5px 0 0;
}

.inner_content .store_detail .report_form .field h6 {
    font-family: Arial;
    font-size: 14px;
    margin-bottom: 5px;
}

.inner_content .store_detail .report_form .field input[type=text] {
    font-size: 16px;
    background: #f0efef;
    float: left;
    width: 100%;
    padding: 7px;
    border: none;
}

.inner_content .store_detail .report_form .field2 {
    text-align: center;
    margin-top: 25px;
    float: left;
    width: 100%;
}

.inner_content .store_detail .report_form .field2 input[type=submit] {
    border-radius: 5px;
    background: #f48021;
    font-family: Arial;
    font-size: 16px;
    color: #fff;
    border: none;
    float: left;
    width: 100%;
    line-height: 55px;
    height: 55px;
}

/*===================================css of forgot password====================================================*/
.Css_txt {
    height: 28px;
    width: 250px;
    padding: 0 6px 0 8px;
    border: none;
    background: #C3E3F0 23px center no-repeat;
    color: #000;
}

.btn-blue {
    background: #F8B844 none repeat scroll 0 0;
    border: 2px solid #f8b53b;
    color: #fff;
    font-weight: bold;
}

.btn-blue:hover, .btn-blue:focus {
    color: #fff !important;
    border: 2px solid #f58a2a;
}

.btn-orange {
    background: #F8B844 none repeat scroll 0 0;
    border: 2px solid #f8b53b;
    color: #fff;
    font-weight: bold;
    border-radius: 0px !important;
}

.btn-orange:hover, .btn-orange:focus {
    border-radius: 0px !important;
    color: #fff !important;
    border: 2px solid #f58a2a;
}

.pnlPopup {
    background: #3E536B none repeat scroll 0 0;
    border-radius: 4px !important;
    /* -moz-box-shadow: inset 0 0 5px #223B58;     -webkit-box-shadow: inset 0 0 5px #223B58;     box-shadow: inset 0 0 5px #223B58;*/
    -moz-box-shadow: inset 0 0 5px #fff;
    -webkit-box-shadow: inset 0 0 5px #fff;
    box-shadow: inset 0 0 5px #fff;
    border: none;
}

.txtPopup {
    color: #fff;
}

.spheader {
    font-size: 14px;
    font-weight: bold;
    margin-left: 28px;
    letter-spacing: 1px;
}

/*===================================closing css of forgot password====================================================*/
/*=================================== css of user roles tabs ====================================================*/
/*- Menu Tabs 6--------------------------- */
#tabs6, .tabs6 {
    float: left;
    width: 97%;
    /*  background:#efefef;             border-bottom:1px solid #666;         */
    font-size: 93%;
    line-height: normal;
    margin-bottom: 1px;
    margin-left: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#tabs6 ul, .tabs6 ul {
    margin: 0;
    padding: 0px 6px 0 0px;
    list-style: none;
}

#tabs6 li, .tabs6 li {
    /*display: inline;*/
    margin: 0;
    padding: 0;
    width: auto;
    float: left;
    list-style-type: none;
    border-radius: 6px 6px 0 0;
    margin-right: 1px;
}

#tabs6 a, .tabs6 a {
    float: left;
    margin: 0;
    padding: 0 0 0 4px;
    text-decoration: none;
    font-family: Arial;
    font-weight: normal;
    font-size: 9pt;
}

#tabs6 a span, .tabs6 a span {
    float: left;
    display: block;
    /*background: url("../images/tabrighte.png") no-repeat right top;*/
    padding: 5px 45px 4px 10px;
    color: #FFF;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabs6 a span, .tabs6 a span {
    float: none;
}

/* End IE5-Mac hack */
#tabs6 a:hover span, .tabs6 a:hover span {
    color: #FFF;
}

#tabs6 a:hover, #tabs6 a.active, .tabs6 a:hover, .tabs6 a.active {
    border-radius: 6px 6px 0 0;
}

#tabs6 a:hover span, #tabs6 a.active span, .tabs6 a:hover span, .tabs6 a.active span {
    border-radius: 6px 6px 0 0;
}

.noe {
    width: 280px !important;
    height: 261px;
}

.customcolumnlist {
    width: 171px !important;
    height: 261px;
}

.fade {
    background-color: Gray;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

#tabs6 a:hover, .tabs6 a:hover {
    background: #222 !important;
    /* 	        background: -moz-linear-gradient(top, #2E2E2E 0%, #1C1C1C 6%, #6A6A6A 100%) !important; 	        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2E2E2E),color-stop(6%,#1C1C1C), color-stop(100%,#6A6A6A)) !important; 	        background: -webkit-linear-gradient(top, #2E2E2E 0%, #1C1C1C 6%,#6A6A6A 100%) !important; 	        background: -o-linear-gradient(top, #2E2E2E 0%, #1C1C1C 6%,#6A6A6A 100%) !important; 	        background: -ms-linear-gradient(top, #2E2E2E 0%, #1C1C1C 6%,#6A6A6A 100%) !important; 	        background: linear-gradient(top, #2E2E2E 0%, #1C1C1C 6%,#6A6A6A 100%) !important;             filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1C1C1C', endColorstr='#6A6A6A') !important; 	            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#1C1C1C', endColorstr='#6A6A6A') !important"; 	                 */
    background: -moz-linear-gradient(top, #3277b2 0%, #3885C6 2%, #163550 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3277b2),color-stop(2%,#3885C6), color-stop(100%,#163550)) !important;
    background: -webkit-linear-gradient(top, #3277b2 0%, #3885C6 2%,#163550 100%) !important;
    background: -o-linear-gradient(top, #3277b2 0%, #3885C6 2%,#163550 100%) !important;
    background: -ms-linear-gradient(top, #3277b2 0%, #3885C6 2%,#163550 100%) !important;
    background: linear-gradient(top, #3277b2 0%, #3885C6 2%,#163550 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3885C6', endColorstr='#3277b2') !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#3885C6', endColorstr='#163550') !important";
    border-color: #161616;
}

#tabs6 a.active, .tabs6 a.active, .ajax__tab_active .ajax__tab_outer {
    /* background: #066ECD;             background: #f48021;             background: -moz-linear-gradient(top, #A8CCEC 0%, #79C3FB 2%, #126DCC  100%);             background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A8CCEC), color-stop(2%,#79C3FB), color-stop(100%,#126DCC));             background: -webkit-linear-gradient(top, #A8CCEC 0%, #79C3FB 2%,#126DCC 100%);             background: -o-linear-gradient(top, #A8CCEC 0%, #79C3FB 2%,#126DCC 100%);             background: -ms-linear-gradient(top, #A8CCEC 0%, #79C3FB 2%,#126DCC 100%);             background: linear-gradient(top, #A8CCEC 0%, #79C3FB 2%,#126DCC 100%);             filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79C3FB', endColorstr='#126DCC');             -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#79C3FB', endColorstr='#126DCC')";             */
    background: -moz-linear-gradient(top, #f8aa6a 0%, #f48021 2%, #f48021 100%);
    /* FF3.6+  background: -moz-linear-gradient(top, #f4b521 0%, #f48021 1%, #f46e21  100%);*/
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4b521), color-stop(1%,#f48021), color-stop(100%,#f46e21));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f4b521 0%, #f48021 1%,#f46e21 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f4b521 0%, #f48021 1%,#f46e21 100%);
    /* Opera11.10+ */
    background: -ms-linear-gradient(top, #f4b521 0%, #f48021 1%,#f46e21 100%);
    /* IE10+ */
    background: linear-gradient(top, #f4b521 0%, #f48021 1%,#f46e21 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f48021', endColorstr='#f46e21');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f48021', endColorstr='#f46e21')";
    color: #FFF;
    /*border-color: #0561B4; */
}

#tabs6 li, .tabs6 li, .ajax__tab_outer {
    /* 	        background: #515151; 	        background: -moz-linear-gradient(top, #6A6A6A 0%, #515151 2%, #2E2E2E 100%); 	        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6A6A6A),color-stop(2%,#515151), color-stop(100%,#2E2E2E)); 	        background: -webkit-linear-gradient(top, #6A6A6A 0%, #515151 2%,#2E2E2E 100%); 	        background: -o-linear-gradient(top, #6A6A6A 0%, #515151 2%,#2E2E2E 100%); 	        background: -ms-linear-gradient(top, #6A6A6A 0%, #515151 2%,#2E2E2E 100%); 	        background: linear-gradient(top, #6A6A6A 0%, #515151 2%,#2E2E2E 100%); 	    /*  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#515151', endColorstr='#2E2E2E'); 	        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#515151', endColorstr='#2E2E2E')";*/
    background: #275d8b;
    background: -moz-linear-gradient(top, #3277b2 0%, #275d8b 2%, #163550 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3277b2),color-stop(2%,#515151), color-stop(100%,#163550));
    background: -webkit-linear-gradient(top, #3277b2 0%, #275d8b 2%,#163550 100%);
    background: -o-linear-gradient(top, #3277b2 0%, #275d8b 2%,#163550 100%);
    background: -ms-linear-gradient(top, #3277b2 0%, #275d8b 2%,#163550 100%);
    background: linear-gradient(top, #3277b2 0%, #275d8b 2%,#163550 100%);
}

.btnCommon:hover {
    background: #f48021;
    background: -moz-linear-gradient(top, #f8aa6a 0%, #f4a321 2%, #f48021 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8aa6a), color-stop(2%,#f4a321), color-stop(100%,#f48021));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f8aa6a 0%, #f4a321 2%,#f48021 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f8aa6a 0%, #f4a321 2%,#f48021 100%);
    /* Opera11.10+ */
    background: -ms-linear-gradient(top, #f8aa6a 0%, #f4a321 2%,#f48021 100%);
    /* IE10+ */
    background: linear-gradient(top, #f8aa6a 0%, #f4a321 2%,#f48021 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4a321', endColorstr='#f48021');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4a321', endColorstr='#f48021')";
    color: #fff;
}

/*=================================== closing css of  user roles tabs ====================================================*/
#ctl00_MainContent_divMain {
    float: left;
    width: 100%;
    margin-top: 10px;
    /* margin-bottom: 180px;*/
    margin-bottom: 20px;
}

.form.uniformForm {
    /*width: 100% !important;*/
}

/* navbar */
nav.contentHeader {
    margin-top: 13px;
}

/*Manage pages*/
.col-md-9.Search_Existing {
    margin-left: 10px;
    border-radius: 10px;
    border: 1px solid #828282;
    padding-top: 13px;
}

.col-md-12.Search_Mysaved {
    border-radius: 10px;
    border: 1px solid #828282;
    padding-top: 13px;
}

.col-md-3.set_up {
    border-radius: 10px;
    border: 1px solid #828282;
    padding-top: 14px;
    width: 24%;
}

.col-md-7.Search_Existing {
    margin-left: 24px;
    border-radius: 10px;
    border: 1px solid #828282;
    padding-top: 13px;
    width: 63%;
    height: 156px;
}

.col-md-5.set_up {
    border-radius: 10px;
    border: 1px solid #828282;
    padding-top: 13px;
    width: 35%;
    height: 156px;
}

#ctl00_MainContent_dtFromDate_txtCalendar, #ctl00_MainContent_dtToDate_txtCalendar, #ctl00_MainContent_dttoDate_txtCalendar, #ctl00_MainContent_dtStartDate_txtCalendar, #ctl00_MainContent_dtEndDate_txtCalendar1, #ctl00_MainContent_dtToDate_txtCalendar1 {
    padding: 2px !important;
    height: 25px !important;
    margin-bottom: 3px !important;
}

.form-inline.serch_frm label {
    font-size: 12px;
    font-family: arial;
}

.form-inline.serch_frm .form-group {
    margin-right: 0px;
}

.form-group.btn_add_new {
    margin-top: 27px;
    margin-bottom: 16px;
}

.set_new {
    font-size: 14px;
    font-family: arial;
}

.form-inline.serch_frm {
    padding-top: 9px;
    padding-bottom: 12px;
    font-size: 13px !important;
}

.form-group.serch_buttn {
    margin-top: 23px;
    margin-left: 15px;
    margin-right: 0px !important;
}

.container div .layout, div#layout {
    margin: 0px !important;
    width: 100% !important;
}

.ribbon-bar-gradient.top.layout {
    margin: 8px 0px 3px 25px !important;
}

/*News update Page */
.listLinks {
    position: absolute;
    top: 40%;
    width: 100%;
}

.listLinks ul {
    list-style-type: none;
    padding-left: 46px;
    width: 84%;
    color: #fff !important;
}

li.one {
    background-color: #FAB547;
    margin-bottom: 9px;
    height: 49px;
    padding: 10px;
}

li.one1 {
    background-color: #00ABE5;
    margin-bottom: 9px;
    height: 49px;
    padding: 12px;
}

li.one2 {
    background-color: #005D95;
    height: 49px;
    padding: 10px;
    padding-top: 10px !important;
}

li.one a, li.one1 a, li.one2 a {
    color: #fff !important;
    text-decoration: none !important;
}

.listLinks ul li span {
    padding: 0px;
    font-size: large;
}

.TFAlabels {
    font-size: x-large !important;
    font-weight: bold;
    float: left;
}

.TFAlabels2 {
    font-size: x-large !important;
    font-weight: bold;
    float: right;
}

.TFAlabel1 {
    font-weight: bold;
    font-size: 19px !important;
    text-align: center;
}

#ctl00_MainContent_lblNew2, #ctl00_MainContent_lblAck2 {
    margin-right: 10px !important;
    float: right;
}

#ctl00_MainContent_lblResolved2 {
    margin-right: 20px !important;
    float: right;
}

#ctl00_MainContent_lblNew1, #ctl00_MainContent_lblAck1 {
    float: left;
    margin-left: 5px;
}

#ctl00_MainContent_lblResolved1 {
    float: left;
    margin-left: 16px;
}

.footr_txt {
    color: #58595b !important;
    margin-right: 2px;
    margin-top: 33px;
    text-align: right;
    margin-bottom: 16px;
}

.container > input {
    margin-top: 26px;
    text-align: left !important;
}

/*Add/Edit pages*/
div#contentHeader {
    margin-left: 16px;
}

p.pull-right.para_01 {
    margin-top: 6px;
}

.form-inline.field_01 {
    float: left;
    margin-top: 35px;
    width: 100%;
    margin-left: 12px;
}

.achor_link {
    margin-left: 21px;
    text-decoration: underline;
    color: #06c !important;
}

.form-inline.field_02 {
    float: left;
    width: 100%;
    margin-left: 12px;
    margin-top: 15px;
    margin-bottom: 14px;
}

.txt_styles, .txtarea_styles {
    margin-left: 149px;
    width: 225px !important;
    padding: 3px 0px 7px 3px;
}

.txt_styles {
    height: auto;
}

.txtarea_styles {
    margin-left: 120px;
    resize: none !important;
}

.col-md-7.col-sm-12.col-xs-12.left_spcing {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

span.descriptn {
    margin-right: -50px;
    font-size: 11px;
    text-align: right;
    float: right;
}

span.descriptnCustPage {
    margin-right: 0 0 6px 0;
    font-size: 11px;
    text-align: right;
    float: right;
}

.form-inline.field_03 {
    float: left;
    width: 100%;
    text-align: center;
    margin-left: -61px;
}

.scrll_errorbox {
    width: 100%;
    overflow-y: scroll;
    border: 1px solid #000;
    max-height: 196px;
}

.wrapper_main {
    border: 1px solid #828282;
    padding: 16px;
    border-radius: 10px;
    float: left;
    width: 100%;
}

.wrapper_error {
    border: 1px solid #828282;
    padding: 16px;
    border-radius: 10px;
    float: left;
    margin: 25px 0px 0px 8px;
}

.form-group.up_file {
    width: 255px;
}

/* marketbasket page*/
.Headers {
    text-decoration: underline;
    font-weight: bold;
    margin: 6px 0px 26px -16px;
}

/*Admin Page Css*/
.ValidationSummay_styles {
    margin-left: 18px;
}

.Role_ValidSummay {
    margin-left: 452px;
    margin-bottom: 17px;
}

.form-group.chk_01 {
    margin: 6px;
}

.form-group.chk_01 label {
    font-size: 12px;
}

div.table_border {
    width: 100% !important;
    border: 1px solid #9c9c9c;
    float: left;
    border-radius: 12px;
    padding: 5px 2px 6px 3px;
}

.tab_01, .tab_02, .tab_03, .tab_04, .tab_05, .tab_06, .tab_07 {
    float: left;
    width: 100%;
    border: 1px solid #9c9c9c;
    border-radius: 10px;
    padding: 10px;
}

.form-group.tabbtn_01, .form-group.btn_01 {
    margin: 20px 0px 13px 4px;
}

.form-group.tab_control08, .form-group.tab_control02 {
    margin-left: 44px;
}

.form-group.tab_control01 {
    margin-left: 64px;
}

.form-group.tab_control03 {
    margin-left: 27px;
}

.form-group.tab_control05 {
    margin-left: 6px;
}

.form-group.tab_control06 {
    margin-left: 25px;
}

.form-group.tab_control07 {
    margin-left: 20px;
}

.container.tab05_content {
    width: 100% !important;
    text-align: center;
    margin: 30px 0px 0 0;
}

.form-group.tab_heading01 {
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    color: #366BA3;
}

.form-group.tab_control {
    margin-left: 30px;
}

.innertable_border {
    border: 1px solid #9c9c9c;
    float: left;
    border-radius: 12px;
    padding: 4px;
    width: 96%;
}

div.ribbon-bar {
    float: left;
    width: 100%;
    margin: 10px 0px 0px 3px;
}

.Modal_View {
    width: 25%;
    padding: 10px;
    position: fixed;
    z-index: 100001 !important;
    left: 648.5px;
    top: 182.5px;
}

.hr {
    border: 1px solid #003475 !important;
    margin-left: 148px;
    margin-top: -14px;
    text-align: left;
    width: 24px;
    margin-right: 8px;
}

footer {
    margin-bottom: 162px;
}

footer .ROI {
    background: #82cef0;
    text-align: center;
    margin: 21px 0px 0px 0px;
    padding: 7px 0px 8px 0px;
}

footer .txtROI {
    font-size: 20px;
    color: #fff;
    vertical-align: top;
    font-family: lato;
    font-weight: 600;
    text-decoration: none !important;
}

#ctl00_MainContent_grdMembers_ctl00 {
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;
}

.dvBody {
    background: rgba(0, 0, 0, 0) url("../themeimages/dashboard.jpg") no-repeat scroll 0 0 / cover;
    width: 100%;
    display: block;
}

.btncmulative {
    background: #c3e3f0 url("../themeimages/s_icn.png") no-repeat scroll 8% center;
    height: 62px !important;
    left: 3px;
    position: relative;
}

input#ctl00_ContentPlaceHolder1_ImgbtnROI {
    width: 100%;
    margin-top: 21px;
}

.textboxHeight {
    height: 25px;
}

.txtHeightVNo {
    height: 20px;
    /*width: 160px;*/
}

#ctl00_MainContent_imgCalendar1 {
    margin: 0 0 6px 0px !important;
}

.field-group > h5, .field-group .field > h5 {
    color: #124b86 !important;
}

#ctl00_MainContent_txtrepdate {
    height: 23px;
}

.form-inline.serch_frmCustPage {
    margin-top: 11px;
}

.btnCommon.pull-right {
    float: right !important;
    text-align: right;
    margin: 0px 0px 0px 329px !important;
}
.f-left{
    float:left;
}
.form-group.Add_btn01 {
    margin: 63px 38px 4px 0;
    float: right;
}
.CntrlWithApplyBtn, .txtToDate{
    width: 85% !important;
    height: 34px;
    border: solid 1px #dcdcdc;
    padding: 0 5px;
}
.owned-by .RadComboBox_Default{
    width:100% !important;
}
.owned-by .RadComboBox_Default table tbody{
    width: 100%;
    display: table;
}
.owned-by .RadComboBox table td.rcbInputCell{
    background-image: none;
    height:34px;
    border: solid 1px #dcdcdc;
}
.owned-by .RadComboBox_Default .rcbArrowCellRight{
    display:none;
}
.RadGrid_Default .rgHeaderDiv{
    margin-right:0 !important;
    white-space: nowrap;
    padding-right:17px;
    background: none !important;
}
.RadGrid_Default .rgHeaderDiv input[type='checkbox']{
    margin-top:0;
}
.RadGrid_Default .rgRow td:nth-child(7), .RadGrid_Default .rgRow td:nth-child(8){
    white-space:nowrap;
}
.RadComboBox_Default .rcbReadOnly .rcbArrowCellRight {
    background-position: -158px -176px !important;
}
#MainContent_Panel1{
    padding:0 15px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .navigation_bar .navbar-nav.nav li .dropdown_menu li .sub_menu li {
        width: 100%;
        float: left;
        line-height: 20px;
        margin: 0;
        min-height: inherit;
        margin-bottom: 10px;
    }
}

/* Confirm dialog css */
.RadWindow_Default {
    width: auto !important;
}

.RadWindow_Default a.rwIcon {
    background-image: none !important;
}

em, dfn {
    background: none !important;
}

.RadWindow .rwWindowContent .radconfirm {
    background-image: none !important;
}

.RadWindow .rwDialogPopup {
    margin: 0px !important;
    margin-left: 5px !important;
    padding: : 30px 0 20px 40px !important;
}

.rwDialogPopup.radconfirm > div {
    display: flex;
    justify-content: center;
    word-wrap: break-word !important;
    -ms-word-wrap: break-word !important;
}

.rwDialogPopup {
    width: 330px !important;
}

.RadWindow .rwWindowContent .rwPopupButton .rwInnerSpan {
    background-position: 0 center !important;
    border-radius: 4px !important;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    background-position: 0px 0px !important;
    border: 1px solid #888 !important;
    cursor: pointer !important;
    background: -moz-linear-gradient(top, #f8aa6a 0%, #f4a321 2%, #f48021 100%) !important;
    /*FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8aa6a), color-stop(2%,#f4a321), color-stop(100%,#f48021)) !important;
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f8aa6a 0%, #f4a321 2%,#f48021 100%) !important;
    /*Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f8aa6a 0%, #f4a321 2%,#f48021 100%) !important;
    /* Opera11.10+ */
    background: -ms-linear-gradient(top, #f8aa6a 0%, #f4a321 2%,#f48021 100%) !important;
    /*IE10+ */
    background: linear-gradient(top, #f8aa6a 0%, #f4a321 2%,#f48021 100%) !important;
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4a321', endColorstr='#f48021') !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4a321', endColorstr='#f48021')" !important;
    color: #FFF !important;
}

.RadWindow .rwWindowContent .rwPopupButton .rwInnerSpan:hover {
    color: #fff !important;
    background-position: 0 center !important;
    border-radius: 4px !important;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) !important;
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #126dcc 0%, #126dcc 2%, #126dcc 100%) repeat scroll 0 0 !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    background-position: 0px 0px !important;
    border: 1px solid #888 !important;
    cursor: pointer !important;
    background: -moz-linear-gradient(top, #f8aa6a 0%, #f4a321 2%, #f48021 100%) !important;
    /*FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8aa6a), color-stop(2%,#f4a321), color-stop(100%,#f48021)) !important;
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f8aa6a 0%, #f4a321 2%,#f48021 100%) !important;
    /*Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f8aa6a 0%, #f4a321 2%,#f48021 100%) !important;
    /* Opera11.10+ */
    background: -ms-linear-gradient(top, #f8aa6a 0%, #f4a321 2%,#f48021 100%) !important;
    /*IE10+ */
    background: linear-gradient(top, #f8aa6a 0%, #f4a321 2%,#f48021 100%) !important;
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8aa6a', endColorstr='#f48021') !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8aa6a', endColorstr='#f48021')" !important;
}

.rwDialogPopup .rwPopupButton {
    background-image: none !important;
}

.RadWindow .rwPopupButton {
    padding: 0px !important;
}

.RadWindow .rwWindowContent .rwPopupButton {
    background-position: 0px 0px !important;
    margin-top: 10px !important;
    margin-bottom: -5px !important;
    margin-left: 100px !important;
}

.RadWindow .rwWindowContent .rwPopupButton:hover {
    background-position: 0px 0px !important;
    margin-left: 100px !important;
}

.RadWindow_Default .rwPopupButton span {
    background-image: none !important;
}

.RadWindow_Default .rwPopupButton span:hover {
    background-image: none !important;
}

.RadWindow .rwPopupButton, .RadWindow .rwPopupButton span {
    height: 25px !important;
}

.RadWindow .rwWindowContent .rwPopupButton:hover {
    padding: 0px !important;
}

.RadWindow .rwTitleRow em {
    width: 30% !important;
}

.rwPopupButton, .rwPopupButton {
    outline: none !important;
}

.RadWindow .rwWindowContent .radalert {
    background-image: none !important;
}

.rwDialogPopup.radalert {
    padding: 25px 0px 0px 31px !important;
}

/*.RadComboBox .rcbInput
{
    padding:3px 5px 6px 1px!important;
    -moz-padding:0px 5px 6px 1px !important;
}*/
.imgs {
    position: relative !important;
}

@media (min-width: 1200px){
.container {
    width: 1330px !important;
    max-width: 1330px;
    padding: 0 15px !important;
}
}


@media (max-width: 1290px) {
    .container-fluid {
        padding-left:2% !important;
        padding-right: 2% !important;
    }
}

@media screen and (max-width: 1290px) {
    .container-fluid {
        padding-left:2% !important;
        padding-right: 2% !important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 1290px) {
    .container-fluid {
        padding-left:2% !important;
        padding-right: 2% !important;
    }
}

.clsGrd {
    width: 100%;
}

.clsGrd1 {
    width: 1200px;
}

.footerCls {
    width: 1251px!important;
}

#MainContent_pnlSearhFilters .container.beige-gradient {
    top:0 !important;
}

#MainContent_dtFromDate_txtCalendar, #MainContent_dtToDate_txtCalendar {
        width:150px !important;
}

#tblMain .RadComboBox_Default .rcbInput {
    width: 134px;
}

.RadComboBox_Default .rcbReadOnly .rcbArrowCellRight {
    background-position: -162px -176px !important;
}

input#ctl00_MainContent_txtBasketName {
    width: 160px !important;
}

#tblMain td {
    color:#000;
}

div.RadWindow .rwDialogPopup {
    margin: 0px !important;
    margin-left: 5px !important;
    padding: 10px 20px 20px 20px !important;
    margin-right: 5px !important;
    margin: 0 auto;
}

.RadWindow .rwWindowContent a.rwPopupButton {
    background-position: 0px 0px !important;
    margin-top: 10px !important;
    margin-bottom: -5px !important;
    margin-left: 0 !important;
}

.RadWindow .rwWindowContent a.rwPopupButton:hover {
    background-position: 0px 0px !important;
    margin-left: 0px !important;
}


.myForm tr td select {
    min-height: 100px;
}

#MainContent_lstUser{
    min-height: 100px;
}

#alertify{
    top: 200px !important;
  left: 56%;
}