/* menu level 1 default scheme*/

.dropdown_menu{
	background:#000;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	border-top:2px solid #d10000;
	height:40px;
}
.dropdown_menu>li {
	float:left;
}
.dropdown_menu a{
	text-decoration:none;
	color:#fff;
	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	transition:all .5s ease;
}
.dropdown_menu>li:first-child>a{
	-webkit-border-radius:0 0 0 4px;
	-moz-border-radius:0 0 0 4px;
	border-radius:0 0 0 4px;
}
.dropdown_menu>li>a{
	display:block;
	font-family: 'Roboto Condensed', sans-serif;
	text-transform:uppercase;
	padding:13px 16px;
} 
.dropdown_menu>li.has_dropdown>a{
	padding:13px 16px 13px 25px;
	background-image:url("../themeimages/menu-arrow-active.png");
	background-repeat:no-repeat;
	background-position:10px 50%;
}
.dropdown_menu>li:hover>a{
	background-color:#d10000;
	border-color:#d10000;
	-webkit-text-shadow:1px 1px 1px rgba(0,0,0,0.8);
	-moz-text-shadow:1px 1px 1px rgba(0,0,0,0.8);
	-o-text-shadow:1px 1px 1px rgba(0,0,0,0.8);
	-ms-text-shadow:1px 1px 1px rgba(0,0,0,0.8);
	text-shadow:1px 1px 1px rgba(0,0,0,0.8);
}

/* menu level 2 */

.dropdown_menu li {
	-webkit-transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	-o-transform-style:preserve-3d;
	transform-style:preserve-3d;
	-webkit-transform: perspective(900px);
	-moz-transform: perspective(900px);
	-o-transform: perspective(900px);
	transform: perspective(900px);
	position:relative;
	perspective:500px;
}
.dropdown_menu li .menu-icon
{
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    margin-left: 0;
    margin-right: 0;
    width: 16px;
    padding-right: 10px;
}
.dropdown_menu>li ul{
	position:absolute;
	background:rgba(0,0,0,0.80);
	top:100%;
	/*min-width:150px;*/
	min-width:250px;
	-webkit-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-o-transform-origin:0 0;
	-ms-transform-origin:0 0;
	transform-origin:0 0;
	-webkit-transform: rotate3d(1,0,0,-90deg);
	-moz-transform: rotate3d(1,0,0,-90deg);
	-o-transform: rotate3d(1,0,0,-90deg);
	transform: rotate3d(1,0,0,-90deg);
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	transition:all 0.5s ease;
	opacity:0;
	visibility:hidden;
	-webkit-box-shadow:2px 2px 2px 0px rgba(0,0,0,0.5);
	-moz-box-shadow:2px 2px 2px 0px rgba(0,0,0,0.5);
	-o-box-shadow:2px 2px 2px 0px rgba(0,0,0,0.5);
	-ms-box-shadow:2px 2px 2px 0px rgba(0,0,0,0.5);
	box-shadow:2px 2px 2px 0px rgba(0,0,0,0.5);
	-webkit-border-radius:0 0 4px 4px;
	-moz-border-radius:0 0 4px 4px;
	border-radius:0 0 4px 4px;
	margin-top:0 !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   .dropdown_menu>li ul{
		border-radius:0 !important;
	}
}
.ie8 .dropdown_menu>li ul{
	background:#000;
}
.dropdown_menu>li>ul li a{
	display:block;
	padding:8px 10px;
}
.dropdown_menu>li>ul li:last-child>a{
	-webkit-border-radius:0 0 4px 4px;
	-moz-border-radius:0 0 4px 4px;
	border-radius:0 0 4px 4px;
}
.dropdown_menu>li>ul li:hover>a{
	background-color:#d10000;
}
.dropdown_menu>li ul li.has_dropdown>a{
	background-image:url("../themeimages/menu-arrow-level2.png");
	background-repeat:no-repeat;
	background-position:right 50%;
	padding-right:10px;
	-webkit-background-origin:content-box;
	-moz-background-origin:content-box;
	-o-background-origin:content-box;
	-ms-background-origin:content-box;
	background-origin:content-box;
}
.ie8 .dropdown_menu>li ul li.has_dropdown>a{
	background-position:95% 50%;
}
.dropdown_menu>li:hover>ul{
	visibility:visible;
	opacity:1;
	-webkit-transform: rotate3d(0,0,0,0deg);
	-moz-transform: rotate3d(0,0,0,0deg);
	-o-transform: rotate3d(0,0,0,0deg);
	-ms-transform: rotate3d(0,0,0,0deg);
	transform: rotate3d(0,0,0,0deg);
}

/* menu level 3 */

.dropdown_menu>li ul li ul{
	top:0;
	left:100%;
	-webkit-transform: rotate3d(0,1,0,90deg);
	-moz-transform: rotate3d(0,1,0,90deg);
	-o-transform: rotate3d(0,1,0,90deg);
	-ms-transform: rotate3d(0,1,0,90deg);
	transform: rotate3d(0,1,0,90deg);
	-webkit-border-radius:0px 4px 4px 4px;
	-moz-border-radius:0px 4px 4px 4px;
	border-radius:0px 4px 4px 4px;
}
.dropdown_menu>li>ul li:hover>ul{
	visibility:visible;
	opacity:1;
	-webkit-transform: rotate3d(0,1,0,0deg);
	-moz-transform: rotate3d(0,1,0,0deg);
	-o-transform: rotate3d(0,1,0,0deg);
	-ms-transform: rotate3d(0,1,0,0deg);
	transform: rotate3d(1,1,0,0deg);
}
.dropdown_menu>li>ul li ul>li:first-child>a{
	-webkit-border-radius:0px 4px 0px 0px;
	-moz-border-radius:0px 4px 0px 0px;
	border-radius:0px 4px 0px 0px;
}

/* dropdown menu portfolio style */

.dropdown_menu .dropdown_portfolio_style>li>a,.dropdown_menu li .blog_dropdown>li>a{
	padding:10px;
	border-top:1px dashed transparent;
	border-bottom:1px dashed transparent;
}
.dropdown_menu li ul.dropdown_portfolio_style>li:hover>a,.dropdown_menu li .blog_dropdown>li:hover>a{
	background-color:transparent;
	border-color:#d10000;
}
.dropdown_menu li ul.dropdown_portfolio_style>li:hover .portfolio_img_column img,
.dropdown_menu li ul.dropdown_portfolio_style ul.portfolio_level_3 li:hover img,
.dropdown_menu li .blog_dropdown li:hover img{
	border-color:#d10000;
}
.dropdown_menu li ul.dropdown_portfolio_style>li:hover .portfolio_img_column img{
	-webkit-animation:imgportfolio 0.5s ease;
	-moz-animation:imgportfolio 0.5s ease;
	animation:imgportfolio 0.5s ease;
}
@keyframes imgportfolio{
	0% {-webkit-transform: scale(1,1);-moz-transform: scale(1,1);-o-transform: scale(1,1);-ms-transform: scale(1,1);transform: scale(1,1);}
	50% {-webkit-transform: scale(1.2,1.2);-moz-transform: scale(1.2,1.2);-o-transform: scale(1.2,1.2);-ms-transform: scale(1.2,1.2);transform: scale(1.2,1.2);}
	100% {-webkit-transform: scale(1,1);-moz-transform: scale(1,1);-o-transform: scale(1,1);-ms-transform: scale(1,1);transform: scale(1,1);}
}
@-webkit-keyframes imgportfolio{
	0% {-webkit-transform: scale(1,1);-moz-transform: scale(1,1);-o-transform: scale(1,1);-ms-transform: scale(1,1);transform: scale(1,1);}
	50% {-webkit-transform: scale(1.2,1.2);-moz-transform: scale(1.2,1.2);-o-transform: scale(1.2,1.2);-ms-transform: scale(1.2,1.2);transform: scale(1.2,1.2);}
	100% {-webkit-transform: scale(1,1);-moz-transform: scale(1,1);-o-transform: scale(1,1);-ms-transform: scale(1,1);transform: scale(1,1);}
}
.dropdown_menu .dropdown_portfolio_style{
	min-width:300px;
	font-size:0.9em;
}
.portfolio_img_column{
	display:block;
	float:left;
}
.portfolio_column{
	display:block;
	padding-left:83px;
	margin-top:0px;
	padding-right:10px;
}
.dropdown_portfolio_style li.has_dropdown .portfolio_column{
	font-style:italic;
}
.dropdown_menu .dropdown_portfolio_style a:after,.columns_row:after,.dropdown_menu li .blog_dropdown p:after{
	display:block;
	content:"";
	clear:both;
}
.dropdown_portfolio_style .portfolio_img_column img,.dropdown_portfolio_style li ul.portfolio_level_3 img,
.dropdown_menu li .blog_dropdown li img{
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	transition:all .5s ease;
	border:1px solid transparent;
}
.dropdown_portfolio_style ul.portfolio_level_3 img{
	margin-bottom:5px;
}
.dropdown_portfolio_style ul.portfolio_level_3 li{
	padding:10px;
	color:#e8e8e8;
}
.dropdown_menu li ul.dropdown_portfolio_style ul.portfolio_level_3 li img{
	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	transition:all .5s ease;
}
.dropdown_menu li ul.dropdown_portfolio_style li:hover .portfolio_level_3 img{
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}

/* dropdown menu columns style */

.dropdown_menu li ul.columns_dropdown{
	min-width:500px;
	color:#fff;
	padding:9px 10px 10px 0;
	font-size:0.9em;
}
.column_1,.column_2,.column_3{
	width:50%;
	padding-left:10px;
	padding-right:10px;
	float:left;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	opacity:0;
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	transition:all 1s ease;
}
.column_1{
	width:100%;
	-webkit-transform:translate(-70px,-20px);
	-moz-transform:translate(-70px,-20px);
	transform:translate(-70px,-20px);
	-webkit-transition-delay:0.5s;
	-moz-transition-delay:0.5s;
	transition-delay:0.5s;
}
.columns_dropdown .column_2:first-child{
	-webkit-transform:translate(-70px,-20px);
	-moz-transform:translate(-70px,-20px);
	transform:translate(-70px,-20px);
	-webkit-transition-delay:0.6s;
	-moz-transition-delay:0.6s;
	transition-delay:0.6s;
}
.columns_dropdown .column_2:first-child+.column_2{
	-webkit-transform:translate(70px,-30px);
	-moz-transform:translate(70px,-30px);
	transform:translate(70px,-30px);
	-webkit-transition-delay:0.7s;
	-moz-transition-delay:0.7s;
	transition-delay:0.7s;
}
.columns_dropdown .column_3:first-child{
	-webkit-transform:translate(-70px,-30px);
	-moz-transform:translate(-70px,-30px);
	transform:translate(-70px,-30px);
	-webkit-transition-delay:0.8s;
	-moz-transition-delay:0.8s;
	transition-delay:0.8s;
}
.columns_dropdown .column_3:first-child+.column_3{
	-webkit-transform:translate(-70px,-30px);
	-moz-transform:translate(-70px,-30px);
	transform:translate(-70px,-30px);
	-webkit-transition-delay:0.9s;
	-moz-transition-delay:0.9s;
	transition-delay:0.9s;
}
.columns_dropdown .column_3:first-child+.column_3+.column_3{
	-webkit-transform:translate(70px,-30px);
	-moz-transform:translate(70px,-30px);
	transform:translate(70px,-30px);
	-webkit-transition-delay:1s;
	-moz-transition-delay:1s;
	transition-delay:1s;
}
.column_3{
	width:33%;
}
.dropdown_menu .columns_row:first-child{
	margin-top:0;
}
.columns_row{
	margin-top:15px;
}
.dropdown_menu li:hover ul.columns_dropdown li .columns_row div[class^="column_"]{
	-webkit-transform:translate(0,0);
	-moz-transform:translate(0,0);
	transform:translate(0,0);
	opacity:1;
}

/* dropdown blog style */

.dropdown_menu li .blog_dropdown{
	min-width:300px;
	color:#e8e8e8;
	text-shadow:1px 1px 1px rgba(205,205,205,0.2);
	font-size:0.9em;
}
.dropdown_menu li .blog_dropdown li div{
	font-style:italic;
	font-size:1em;
}
.dropdown_menu li .blog_dropdown li:hover h1,.dropdown_menu li .blog_dropdown li:hover h2,
.dropdown_menu li .blog_dropdown li:hover h3,.dropdown_menu li .blog_dropdown li:hover h4,
.dropdown_menu li .blog_dropdown li:hover h5,.dropdown_menu li .blog_dropdown li:hover h6{
	-webkit-animation:imgportfolio 0.5s ease;
	-moz-animation:imgportfolio 0.5s ease;
	animation:imgportfolio 0.5s ease;
}
.dropdown_menu li .blog_dropdown li p,
.dropdown_menu li .sitemap li h1,.dropdown_menu li .sitemap li h2,
.dropdown_menu li .sitemap li h3,.dropdown_menu li .sitemap li h4,
.dropdown_menu li .sitemap li h5,.dropdown_menu li .sitemap li h6{
	padding-bottom:10px;	
}
.dropdown_menu li .blog_dropdown li h1,
.dropdown_menu li .blog_dropdown li h2,.dropdown_menu li .blog_dropdown li h3,
.dropdown_menu li .blog_dropdown li h4,.dropdown_menu li .blog_dropdown li h5,
.dropdown_menu li .blog_dropdown li h6{
	font-style:italic;
	font-weight:bold;
	padding-bottom:7px;
}
.blog_dropdown li img.f_left{
	float:left;
	margin:0px 10px 1px 0;
}
.dropdown_menu li .blog_dropdown>li>a{
	padding:5px 10px;
}

/* dropdown sitemap style */

.dropdown_menu li .sitemap li a {
	display:inline-block;
	margin:0 5px 5px 0;
	text-decoration:underline;
	padding:0;
	font-style:italic;
}
.dropdown_menu li .sitemap li a:hover{
	text-decoration:none;
}

/* dropdown contact style */

.dropdown_menu li .contact_dropdown{
	padding:7px 10px 10px;
	color:#fff;
	min-width:250px;
}
.dropdown_menu li .contact_dropdown li form label{
	display:inline-block;
	margin-bottom:5px;
	cursor:pointer;
	font-size:1em;
}
.dropdown_menu li .contact_dropdown li form .form_row{
	margin-top:10px;
	display:block;
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	transition:all 1s ease;
	opacity:0;
}
.dropdown_menu li .contact_dropdown li form .form_row:first-child{
	margin-top:0;
	-webkit-transform: translate(-70px,-30px);
	-moz-transform: translate(-70px,-30px);
	transform: translate(-70px,-30px);
	-webkit-transition-delay:0.5s;
	-moz-transition-delay:0.5s;
	transition-delay:0.5s;
}
.dropdown_menu li .contact_dropdown li form .form_row:first-child+.form_row{
	-webkit-transition-delay:0.7s;
	-moz-transition-delay:0.7s;
	transition-delay:0.7s;
}
.dropdown_menu li .contact_dropdown li form .form_row:first-child+.form_row+.form_row{
	-webkit-transition-delay:0.9s;
	-moz-transition-delay:0.9s;
	transition-delay:0.9s;
}
.dropdown_menu li .contact_dropdown li form .form_row:first-child+.form_row+.form_row+.form_row{
	-webkit-transition-delay:1.1s;
	-moz-transition-delay:1.1s;
	transition-delay:1.1s;
}
.dropdown_menu li .contact_dropdown li form .form_row:first-child+.form_row,
.dropdown_menu li .contact_dropdown li form .form_row:first-child+.form_row+.form_row+.form_row{
	-webkit-transform: translate(70px,-30px);
	-moz-transform: translate(70px,-30px);
	transform: translate(70px,-30px);
}
.dropdown_menu li .contact_dropdown li form .form_row:first-child+.form_row+.form_row{
	-webkit-transform: translate(-70px,-30px);
	-moz-transform: translate(-70px,-30px);
	transform: translate(-70px,-30px);
}
.dropdown_menu li .contact_dropdown li form label.required:after{
	content:"*";
	display:inline-block;
	color:#d10000;
	margin-left:3px;
}
.dropdown_menu li .contact_dropdown li form input,.dropdown_menu li .contact_dropdown li form textarea{
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	padding:3px 5px;
	width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.dropdown_menu li .contact_dropdown li form input:focus,.dropdown_menu li .contact_dropdown li form textarea:focus{
	-webkit-box-shadow:0px 0px 7px 1px #d10000;
	-moz-box-shadow:0px 0px 7px 1px #d10000;
	-o-box-shadow:0px 0px 7px 1px #d10000;
	-ms-box-shadow:0px 0px 7px 1px #d10000;
	box-shadow:0px 0px 7px 1px #d10000;
}
.dropdown_menu li .contact_dropdown li form textarea{
	height:150px;
}
.dropdown_menu li .contact_dropdown form input[type="submit"]{
	cursor:pointer;
	background:#d10000;
	color:#fff;
	border-top:1px solid rgba(205,205,205,0.8);
	border-left:1px solid rgba(205,205,205,0.8);
	padding:5px;
	margin-top:5px;
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	transition:all 1s ease;
	-webkit-transform: translate(-70px,-30px);
	-moz-transform: translate(-70px,-30px);
	transform: translate(-70px,-30px);
	opacity:0;
	-webkit-transition-delay:1.3s;
	-moz-transition-delay:1.3s;
	transition-delay:1.3s;
}
.dropdown_menu li:hover .contact_dropdown li form .form_row:first-child,
.dropdown_menu li:hover .contact_dropdown li form .form_row:first-child+.form_row,
.dropdown_menu li:hover .contact_dropdown li form .form_row:first-child+.form_row+.form_row,
.dropdown_menu li:hover .contact_dropdown li form .form_row:first-child+.form_row+.form_row+.form_row,
.dropdown_menu li:hover .contact_dropdown form input[type="submit"]{
	-webkit-transform:translate(0,0);
	-moz-transform:translate(0,0);
	transform:translate(0,0);
	opacity:1;
}

/* customer styles */

.menu_container.fixed_top{
	position:fixed;
	top:0;
}
.menu_container.fixed_left{
	position:fixed;
	left:0;
}
.menu_container.fixed_right{
	position:fixed;
	right:0;
}
.menu_container.fixed_bottom{
	position:fixed;
	bottom:0;
}

/* fixed bottom */

.menu_container.fixed_bottom .dropdown_menu>li.has_dropdown>a{
	background-image:url("../themeimages/menu-arrow-bottom.png");
}
.menu_container.fixed_bottom .dropdown_menu{
	border-bottom:2px solid #d10000;
	border-top:none;
	-webkit-border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	border-radius:4px 4px 0 0;
}
.menu_container.fixed_bottom .dropdown_menu>li:first-child>a{
	-webkit-border-radius:4px 0 0 0;
	-moz-border-radius:4px 0 0 0;
	border-radius:4px 0 0 0;
}
.menu_container.fixed_bottom .dropdown_menu>li:last-child>a{
	-webkit-border-radius:0 4px 0 0;
	-moz-border-radius:0 4px 0 0;
	border-radius:0 4px 0 0 ;
}
.menu_container.fixed_bottom .dropdown_menu>li ul{
	bottom:100%;
	top:auto;
	-webkit-transform-origin:100% 100%;
	-moz-transform-origin:100% 100%;
	-o-transform-origin:100% 100%;
	-ms-transform-origin:100% 100%;
	transform-origin:100% 100%;
	-webkit-border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	border-radius:4px 4px 0 0;
	-webkit-box-shadow:-1px -1px 1px 0px rgba(0,0,0,0.5);
	-moz-box-shadow:-1px -1px 1px 0px rgba(0,0,0,0.5);
	-o-box-shadow:-1px -1px 1px 0px rgba(0,0,0,0.5);
	-ms-box-shadow:-1px -1px 1px 0px rgba(0,0,0,0.5);
	box-shadow:-1px -1px 1px 0px rgba(0,0,0,0.5);
}
.menu_container.fixed_bottom .dropdown_menu>li ul ul{
	bottom:0;
	-webkit-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-o-transform-origin:0 0;
	-ms-transform-origin:0 0;
	transform-origin:0 0;
	-webkit-border-radius:4px 4px 4px 0;
	-moz-border-radius:4px 4px 4px 0;
	border-radius:4px 4px 4px 0;
}
.menu_container.fixed_bottom .dropdown_menu>li ul>li:last-child>a{
	-webkit-border-radius:0 0 4px 0;
	-moz-border-radius:0 0 4px 0;
	border-radius:0 0 4px 0;
}
.menu_container.fixed_bottom .dropdown_menu>li ul>li:first-child>a{
	-webkit-border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	border-radius:4px 4px 0 0;
}

/* fixed top */

.menu_container.fixed_top .dropdown_menu{
	-webkit-border-radius:0 0 4px 4px;
	-moz-border-radius:0 0 4px 4px;
	border-radius:0 0 4px 4px;
}

/* fixed left */

.menu_container.fixed_left .dropdown_menu{
	-webkit-border-radius:0 4px 4px 0;
	-moz-border-radius:0 4px 4px 0;
	border-radius:0 4px 4px 0;
	border-top:none;
	border-left:2px solid #d10000;
}
.menu_container.fixed_left .dropdown_menu li,.menu_container.fixed_right .dropdown_menu li{
	float:none;
}
.menu_container.fixed_left .dropdown_menu>li.has_dropdown>a{
	background-image:url("../themeimages/menu-arrow-level2.png");
	background-position:90% 50%;
	padding:13px 25px 13px 16px;
}
.menu_container.fixed_left .dropdown_menu li ul{
	left:100%;
	top:0;
	-webkit-transform: rotate3d(0,1,0,90deg);
	-moz-transform: rotate3d(0,1,0,90deg);
	-o-transform: rotate3d(0,1,0,90deg);
	-ms-transform: rotate3d(0,1,0,90deg);
	transform: rotate3d(0,1,0,90deg);
	-webkit-border-radius:0 4px 4px 4px;
	-moz-border-radius:0 4px 4px 4px;
	border-radius:0 4px 4px 4px;
}
.menu_container.fixed_left .dropdown_menu>li:first-child>a,.menu_container.fixed_left .dropdown_menu li ul>li:first-child>a{
	-webkit-border-radius:0 4px 0 0;
	-moz-border-radius:0 4px 0 0;
	border-radius:0 4px 0 0;
}
.menu_container.fixed_left .dropdown_menu>li:last-child>a{
	-webkit-border-radius:0 0 4px 0;
	-moz-border-radius:0 0 4px 0;
	border-radius:0 0 4px 0;
}
.menu_container.fixed_left .dropdown_menu li:hover>ul,.menu_container.fixed_right .dropdown_menu li:hover>ul{
	-webkit-transform: rotate3d(0,0,0,0deg);
	-moz-transform: rotate3d(0,0,0,0deg);
	-o-transform: rotate3d(0,0,0,0deg);
	-ms-transform: rotate3d(0,0,0,0deg);
	transform: rotate3d(0,0,0,0deg);
}
.menu_container.fixed_left .dropdown_menu li .dropdown_portfolio_style li .portfolio_level_3{
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}

/* fixed right */

.menu_container.fixed_right .dropdown_menu{
	-webkit-border-radius:4px 0 0 4px;
	-moz-border-radius:4px 0 0 4px;
	border-radius:4px 0 0 4px;
	border-top:none;
	border-right:2px solid #d10000;
}
.menu_container.fixed_right .dropdown_menu > li.has_dropdown > a
{
    background-image: url('../themeimages/menu-arrow-right.png');
}
.menu_container.fixed_right .dropdown_menu>li:first-child>a{
	-webkit-border-radius:4px 0 0 0;
	-moz-border-radius:4px 0 0 0;
	border-radius:4px 0 0 0;
}
.menu_container.fixed_right .dropdown_menu>li:last-child>a{
	-webkit-border-radius:0 0 0 4px;
	-moz-border-radius:0 0 0 4px;
	border-radius:0 0 0 4px;
}
.menu_container.fixed_right .dropdown_menu li ul{
	left:auto;
	right:100%;
	top:0;
	-webkit-border-radius:4px 0 4px 4px;
	-moz-border-radius:4px 0 4px 4px;
	border-radius:4px 0 4px 4px;
	-webkit-transform: rotate3d(0,1,0,-90deg);
	-moz-transform: rotate3d(0,1,0,-90deg);
	-o-transform: rotate3d(0,1,0,-90deg);
	-ms-transform: rotate3d(0,1,0,-90deg);
	transform: rotate3d(0,1,0,-90deg);
	-webkit-transform-origin:100% 100%;
	-moz-transform-origin:100% 100%;
	-o-transform-origin:100% 100%;
	-ms-transform-origin:100% 100%;
	transform-origin:100% 100%;
	-webkit-box-shadow:-1px 2px 2px 0 rgba(0,0,0,0.5);
	-moz-box-shadow:-1px 2px 2px 0 rgba(0,0,0,0.5);
	-o-box-shadow:-1px 2px 2px 0 rgba(0,0,0,0.5);
	-ms-box-shadow:-1px 2px 2px 0 rgba(0,0,0,0.5);
	box-shadow:-1px 2px 2px 0 rgba(0,0,0,0.5);
}
.menu_container.fixed_right .dropdown_menu li ul li.has_dropdown>a{
	background-position:10px 50%;
	background-origin:border-box;
	background-image:url("../themeimages/menu-arrow-right.png");
	background-repeat:no-repeat;
}
.menu_container.fixed_right .dropdown_menu li ul li a{
	padding-left:25px;
}
.menu_container.fixed_right .dropdown_menu li .sitemap li a{
	padding-left:0;
}
.menu_container.fixed_right .dropdown_menu li .blog_dropdown li a{
	padding-left:10px;
}
.menu_container.fixed_right .dropdown_menu li ul li:first-child>a{
	-webkit-border-radius:4px 0 0 0;
	-moz-border-radius:4px 0 0 0;
	border-radius:4px 0 0 0;
}
.menu_container.fixed_right .dropdown_menu li ul li:last-child>a{
	-webkit-border-radius:0 0 4px 4px;
	-moz-border-radius:0 0 4px 4px;
	border-radius:0 0 4px 4px;
}

/* color styles */

/* green */

.menu_container.green .dropdown_menu,.menu_container.green .dropdown_menu li ul.dropdown_portfolio_style>li:hover>a,
.menu_container.green .dropdown_menu li .blog_dropdown>li:hover>a,
.menu_container.green .dropdown_menu li ul.dropdown_portfolio_style>li:hover .portfolio_img_column img,
.menu_container.green .dropdown_menu li ul.dropdown_portfolio_style ul.portfolio_level_3 li:hover img,
.menu_container.green .dropdown_menu li .blog_dropdown li:hover img{
	border-color:	#68bc05;
}
.menu_container.green .dropdown_menu li ul.dropdown_portfolio_style>li:hover>a,.menu_container.green .dropdown_menu li .blog_dropdown>li:hover>a{
	background-color:transparent;
}
.menu_container.green .dropdown_menu>li:hover>a{
	border-color:	#68bc05;
	background-color:#68bc05;
}
.menu_container.green .dropdown_menu>li>ul li:hover>a,.menu_container.green .dropdown_menu li .contact_dropdown form input[type="submit"]{
	background-color:#68bc05;
}
.menu_container.green .dropdown_menu li .contact_dropdown li form input:focus,.menu_container.green .dropdown_menu li .contact_dropdown li form textarea:focus{
	-webkit-box-shadow:0px 0px 7px 1px #68bc05;
	-moz-box-shadow:0px 0px 7px 1px #68bc05;
	-o-box-shadow:0px 0px 7px 1px #68bc05;
	-ms-box-shadow:0px 0px 7px 1px #68bc05;
	box-shadow:0px 0px 7px 1px #68bc05;
}
.menu_container.green .dropdown_menu li .contact_dropdown li form label.required:after{
	color:#68bc05;
}

/* blue */

.menu_container.blue .dropdown_menu,.menu_container.blue .dropdown_menu li ul.dropdown_portfolio_style>li:hover>a,
.menu_container.blue .dropdown_menu li .blog_dropdown>li:hover>a,
.menu_container.blue .dropdown_menu li ul.dropdown_portfolio_style>li:hover .portfolio_img_column img,
.menu_container.blue .dropdown_menu li ul.dropdown_portfolio_style ul.portfolio_level_3 li:hover img,
.menu_container.blue .dropdown_menu li .blog_dropdown li:hover img{
	border-color:	#059fc5;
}
.menu_container.blue .dropdown_menu li ul.dropdown_portfolio_style>li:hover>a,.menu_container.blue .dropdown_menu li .blog_dropdown>li:hover>a{
	background-color:transparent;
}
.menu_container.blue .dropdown_menu>li:hover>a{
	border-color:	#059fc5;
	background-color:#059fc5;
}
.menu_container.blue .dropdown_menu>li>ul li:hover>a,.menu_container.blue .dropdown_menu li .contact_dropdown form input[type="submit"]{
	background-color:#059fc5;
}
.menu_container.blue .dropdown_menu li .contact_dropdown li form input:focus,.menu_container.blue .dropdown_menu li .contact_dropdown li form textarea:focus{
	-webkit-box-shadow:0px 0px 7px 1px #059fc5;
	-moz-box-shadow:0px 0px 7px 1px #059fc5;
	-o-box-shadow:0px 0px 7px 1px #059fc5;
	-ms-box-shadow:0px 0px 7px 1px #059fc5;
	box-shadow:0px 0px 7px 1px #059fc5;
}
.menu_container.blue .dropdown_menu li .contact_dropdown li form label.required:after{
	color:#059fc5;
}

/* yellow */

.menu_container.yellow .dropdown_menu,.menu_container.yellow .dropdown_menu li ul.dropdown_portfolio_style>li:hover>a,
.menu_container.yellow .dropdown_menu li .blog_dropdown>li:hover>a,
.menu_container.yellow .dropdown_menu li ul.dropdown_portfolio_style>li:hover .portfolio_img_column img,
.menu_container.yellow .dropdown_menu li ul.dropdown_portfolio_style ul.portfolio_level_3 li:hover img,
.menu_container.yellow .dropdown_menu li .blog_dropdown li:hover img{
	border-color:	#cbb606;
}
.menu_container.yellow .dropdown_menu li ul.dropdown_portfolio_style>li:hover>a,.menu_container.yellow .dropdown_menu li .blog_dropdown>li:hover>a{
	background-color:transparent;
}
.menu_container.yellow .dropdown_menu>li:hover>a{
	border-color:	#cbb606;
	background-color:#cbb606;
}
.menu_container.yellow .dropdown_menu>li>ul li:hover>a,.menu_container.yellow .dropdown_menu li .contact_dropdown form input[type="submit"]{
	background-color:#cbb606;
}
.menu_container.yellow .dropdown_menu li .contact_dropdown li form input:focus,.menu_container.yellow .dropdown_menu li .contact_dropdown li form textarea:focus{
	-webkit-box-shadow:0px 0px 7px 1px #cbb606;
	-moz-box-shadow:0px 0px 7px 1px #cbb606;
	-o-box-shadow:0px 0px 7px 1px #cbb606;
	-ms-box-shadow:0px 0px 7px 1px #cbb606;
	box-shadow:0px 0px 7px 1px #cbb606;
}
.menu_container.yellow .dropdown_menu li .contact_dropdown li form label.required:after{
	color:#cbb606;
}

/* brown */

.menu_container.brown .dropdown_menu,.menu_container.brown .dropdown_menu li ul.dropdown_portfolio_style>li:hover>a,
.menu_container.brown .dropdown_menu li .blog_dropdown>li:hover>a,
.menu_container.brown .dropdown_menu li ul.dropdown_portfolio_style>li:hover .portfolio_img_column img,
.menu_container.brown .dropdown_menu li ul.dropdown_portfolio_style ul.portfolio_level_3 li:hover img,
.menu_container.brown .dropdown_menu li .blog_dropdown li:hover img{
	border-color:	#b87f04;
}
.menu_container.brown .dropdown_menu li ul.dropdown_portfolio_style>li:hover>a,.menu_container.brown .dropdown_menu li .blog_dropdown>li:hover>a{
	background-color:transparent;
}
.menu_container.brown .dropdown_menu>li:hover>a{
	border-color:	#b87f04;
	background-color:#b87f04;
}
.menu_container.brown .dropdown_menu>li>ul li:hover>a,.menu_container.brown .dropdown_menu li .contact_dropdown form input[type="submit"]{
	background-color:#b87f04;
}
.menu_container.brown .dropdown_menu li .contact_dropdown li form input:focus,.menu_container.brown .dropdown_menu li .contact_dropdown li form textarea:focus{
	-webkit-box-shadow:0px 0px 7px 1px #b87f04;
	-moz-box-shadow:0px 0px 7px 1px #b87f04;
	-o-box-shadow:0px 0px 7px 1px #b87f04;
	-ms-box-shadow:0px 0px 7px 1px #b87f04;
	box-shadow:0px 0px 7px 1px #b87f04;
}
.menu_container.brown .dropdown_menu li .contact_dropdown li form label.required:after{
	color:#b87f04;
}

/* violet */

.menu_container.violet .dropdown_menu,.menu_container.violet .dropdown_menu li ul.dropdown_portfolio_style>li:hover>a,
.menu_container.violet .dropdown_menu li .blog_dropdown>li:hover>a,
.menu_container.violet .dropdown_menu li ul.dropdown_portfolio_style>li:hover .portfolio_img_column img,
.menu_container.violet .dropdown_menu li ul.dropdown_portfolio_style ul.portfolio_level_3 li:hover img,
.menu_container.violet .dropdown_menu li .blog_dropdown li:hover img{
	border-color:	#9604b5;
}
.menu_container.violet .dropdown_menu li ul.dropdown_portfolio_style>li:hover>a,.menu_container.violet .dropdown_menu li .blog_dropdown>li:hover>a{
	background-color:transparent;
}
.menu_container.violet .dropdown_menu>li:hover>a{
	border-color:	#9604b5;
	background-color:#9604b5;
}
.menu_container.violet .dropdown_menu>li>ul li:hover>a,.menu_container.violet .dropdown_menu li .contact_dropdown form input[type="submit"]{
	background-color:#9604b5;
}
.menu_container.violet .dropdown_menu li .contact_dropdown li form input:focus,.menu_container.violet .dropdown_menu li .contact_dropdown li form textarea:focus{
	-webkit-box-shadow:0px 0px 7px 1px #9604b5;
	-moz-box-shadow:0px 0px 7px 1px #9604b5;
	-o-box-shadow:0px 0px 7px 1px #9604b5;
	-ms-box-shadow:0px 0px 7px 1px #9604b5;
	box-shadow:0px 0px 7px 1px #9604b5;
}
.menu_container.violet .dropdown_menu li .contact_dropdown li form label.required:after{
	color:#9604b5;
}

/* Responsive Style */

@media only screen and (min-width: 768px) and (max-width: 959px) {
	.dropdown_menu>li:first-child+li+li+li+li ~ li>ul{
		left:auto;
		right:0;
	}
	.dropdown_menu li ul.columns_dropdown{
		min-width:447px;
	}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.dropdown_menu li{
		float:none;
		position:relative;
		-webkit-transform-style: flat;
		-moz-transform-style: flat;
		-o-transform-style: flat;
		-ms-transform-style: flat;
		transform-style: flat;
		-webkit-transform:none;
		-moz-transform:none;
		-o-transform:none;
		-ms-transform:none;
		transform:none;
	}
	.dropdown_menu li ul,.dropdown_menu li ul li ul,.dropdown_menu li ul.columns_dropdown,.dropdown_menu li ul.sitemap,
	.menu_container.fixed_right .dropdown_menu li ul,.menu_container.fixed_right .dropdown_menu li ul li ul,
	.menu_container.fixed_right .dropdown_menu li ul.columns_dropdown,
	.menu_container.fixed_right .dropdown_menu li ul.sitemap,
	.menu_container.fixed_left .dropdown_menu li ul,.menu_container.fixed_left .dropdown_menu li ul li ul,
	.menu_container.fixed_left .dropdown_menu li ul.columns_dropdown,
	.menu_container.fixed_left .dropdown_menu li ul.sitemap,
	.menu_container.fixed_top .dropdown_menu li ul,.menu_container.fixed_top .dropdown_menu li ul li ul,
	.menu_container.fixed_top .dropdown_menu li ul.columns_dropdown,
	.menu_container.fixed_top .dropdown_menu li ul.sitemap,
	.menu_container.fixed_bottom .dropdown_menu li ul,.menu_container.fixed_bottom .dropdown_menu li ul li ul,
	.menu_container.fixed_bottom .dropdown_menu li ul.columns_dropdown,
	.menu_container.fixed_bottom .dropdown_menu li ul.sitemap,.dropdown_menu li .blog_dropdown,.dropdown_menu .dropdown_portfolio_style{
		position:absolute;
		top:0;
		left:0;
		-webkit-transform:none;
		-moz-transform:none;
		-o-transform:none;
		-ms-transform:none;
		transform:none;
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
		-o-box-shadow:none;
		-ms-box-shadow:none;
		box-shadow:none;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		width:100%;
		min-width:0;
	}
	.dropdown_menu{
		background:rgba(0,0,0,0.8);
	}
	.menu_container.fixed_right,.menu_container.fixed_left,.menu_container.fixed_top,.menu_container.fixed_bottom {
		position:relative;
	}
	.dropdown_menu li:hover>ul,.dropdown_menu li ul li:hover>ul,
	.menu_container.fixed_right .dropdown_menu li:hover>ul,.menu_container.fixed_right .dropdown_menu li ul li:hover>ul,
	.menu_container.fixed_left .dropdown_menu li:hover>ul,.menu_container.fixed_left .dropdown_menu li ul li:hover>ul,
	.menu_container.fixed_top .dropdown_menu li:hover>ul,.menu_container.fixed_top .dropdown_menu li ul li:hover>ul,
	.menu_container.fixed_bottom .dropdown_menu li:hover>ul,.menu_container.fixed_bottom .dropdown_menu li ul li:hover>ul{
		position:relative;
	}
	.dropdown_menu>li ul li.has_dropdown>a,.menu_container.fixed_right .dropdown_menu>li ul li.has_dropdown>a,
	.menu_container.fixed_left .dropdown_menu>li ul li.has_dropdown>a,.menu_container.fixed_top .dropdown_menu>li ul li.has_dropdown>a,
	.menu_container.fixed_bottom .dropdown_menu>li ul li.has_dropdown>a,
	.menu_container.fixed_right .dropdown_menu>li.has_dropdown>a,.menu_container.fixed_left .dropdown_menu>li.has_dropdown>a,
	.menu_container.fixed_top .dropdown_menu>li.has_dropdown>a,.menu_container.fixed_bottom .dropdown_menu>li.has_dropdown>a{
		background-image:url("../themeimages/menu-arrow-active.png");
	}
	.dropdown_portfolio_style ul.portfolio_level_3 img{
		float:none;
		margin:5px auto;
		display:block;
	}
	.dropdown_menu>li:first-child>a,.menu_container.fixed_right .dropdown_menu>li:first-child>a,
	.menu_container.fixed_left .dropdown_menu>li:first-child>a,.menu_container.fixed_top .dropdown_menu>li:first-child>a,
	.menu_container.fixed_bottom .dropdown_menu>li:first-child>a{
		-webkit-border-radius:4px 4px 0 0;
		-moz-border-radius:4px 4px 0 0;
		border-radius:4px 4px 0 0;
	}
	.dropdown_menu li ul li:last-child>a,.menu_container.fixed_right .dropdown_menu li ul li:last-child>a,
	.menu_container.fixed_left .dropdown_menu li ul li:last-child>a,.menu_container.fixed_top .dropdown_menu li ul li:last-child>a,
	.menu_container.fixed_bottom .dropdown_menu li ul li:last-child>a,.menu_container.fixed_right .dropdown_menu li ul li:first-child>a,
	.menu_container.fixed_left .dropdown_menu li ul li:first-child>a,.menu_container.fixed_top .dropdown_menu li ul li:first-child>a,
	.menu_container.fixed_bottom .dropdown_menu li ul li:first-child>a{
		-webkit-border-radius:0;
		-moz-border-radius:0;
		border-radius:0;
	}
	.dropdown_menu>li:last-child>a,.menu_container.fixed_right .dropdown_menu>li:last-child>a,
	.menu_container.fixed_left .dropdown_menu>li:last-child>a,.menu_container.fixed_top .dropdown_menu>li:last-child>a,
	.menu_container.fixed_bottom .dropdown_menu>li:last-child>a{
		-webkit-border-radius:0 0 4px 4px;
		-moz-border-radius:0 0 4px 4px;
		border-radius:0 0 4px 4px;
	}
	.menu_container.fixed_left .dropdown_menu>li.has_dropdown>a,.menu_container.fixed_right.dropdown_menu>li.has_dropdown>a,
	.menu_container.fixed_bottom .dropdown_menu>li.has_dropdown>a{
		background-position:10px 50%;
		padding:13px 16px 13px 25px;
	}
	.dropdown_menu,.menu_container.fixed_right .dropdown_menu,.menu_container.fixed_left .dropdown_menu,
	.menu_container.fixed_top .dropdown_menu,.menu_container.fixed_bottom .dropdown_menu{
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		border-radius:4px;
		border:none;
	}
	.dropdown_menu>li ul li a{
		padding-left:25px;
	}
	.column_1,.columns_dropdown .column_2:first-child,.columns_dropdown .column_3:first-child+.column_3,
	.columns_dropdown .column_3:first-child+.column_3+.column_3,.columns_dropdown .column_2:first-child+.column_2,
	.columns_dropdown .column_3:first-child,.dropdown_menu li .contact_dropdown li form .form_row:first-child,
	.dropdown_menu li .contact_dropdown li form .form_row:first-child+.form_row,
	.dropdown_menu li .contact_dropdown li form .form_row:first-child+.form_row+.form_row,
	.dropdown_menu li .contact_dropdown li form .form_row:first-child+.form_row+.form_row+.form_row,
	.dropdown_menu li .contact_dropdown li form .form_row:first-child+.form_row,
	.dropdown_menu li .contact_dropdown li form .form_row:first-child+.form_row+.form_row+.form_row,
	.dropdown_menu li .contact_dropdown li form .form_row:first-child+.form_row+.form_row,
	.dropdown_menu li .contact_dropdown form input[type="submit"]{
		-webkit-transform:translate(0,0);
		-moz-transform:translate(0,0);
		-o-transform:translate(0,0);
		-ms-transform:translate(0,0);
		transform:translate(0,0);
		-webkit-transition-delay:0s;
		-moz-transition-delay:0s;
		transition-delay:0s;
	}
}
@media only screen and (max-width: 479px) {
	.dropdown_menu li{
		float:none;
		position:relative;
		-webkit-transform-style: flat;
		-moz-transform-style: flat;
		-o-transform-style: flat;
		-ms-transform-style: flat;
		transform-style: flat;
		-webkit-transform:none;
		-moz-transform:none;
		-o-transform:none;
		-ms-transform:none;
		transform:none;
	}
	.dropdown_menu li ul,.dropdown_menu li ul li ul,.dropdown_menu li ul.columns_dropdown,.dropdown_menu li ul.sitemap,
	.menu_container.fixed_right .dropdown_menu li ul,.menu_container.fixed_right .dropdown_menu li ul li ul,
	.menu_container.fixed_right .dropdown_menu li ul.columns_dropdown,
	.menu_container.fixed_right .dropdown_menu li ul.sitemap,
	.menu_container.fixed_left .dropdown_menu li ul,.menu_container.fixed_left .dropdown_menu li ul li ul,
	.menu_container.fixed_left .dropdown_menu li ul.columns_dropdown,
	.menu_container.fixed_left .dropdown_menu li ul.sitemap,
	.menu_container.fixed_top .dropdown_menu li ul,.menu_container.fixed_top .dropdown_menu li ul li ul,
	.menu_container.fixed_top .dropdown_menu li ul.columns_dropdown,
	.menu_container.fixed_top .dropdown_menu li ul.sitemap,
	.menu_container.fixed_bottom .dropdown_menu li ul,.menu_container.fixed_bottom .dropdown_menu li ul li ul,
	.menu_container.fixed_bottom .dropdown_menu li ul.columns_dropdown,
	.menu_container.fixed_bottom .dropdown_menu li ul.sitemap,.dropdown_menu li .blog_dropdown,.dropdown_menu .dropdown_portfolio_style{
		position:absolute;
		top:0;
		left:0;
		-webkit-transform:none;
		-moz-transform:none;
		-o-transform:none;
		-ms-transform:none;
		transform:none;
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
		-o-box-shadow:none;
		-ms-box-shadow:none;
		box-shadow:none;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		width:100%;
		min-width:0;
	}
	.dropdown_menu{
		background:rgba(0,0,0,0.8);
	}
	.menu_container.fixed_right,.menu_container.fixed_left,.menu_container.fixed_top,.menu_container.fixed_bottom {
		position:relative;
	}
	.dropdown_menu li:hover>ul,.dropdown_menu li ul li:hover>ul,
	.menu_container.fixed_right .dropdown_menu li:hover>ul,.menu_container.fixed_right .dropdown_menu li ul li:hover>ul,
	.menu_container.fixed_left .dropdown_menu li:hover>ul,.menu_container.fixed_left .dropdown_menu li ul li:hover>ul,
	.menu_container.fixed_top .dropdown_menu li:hover>ul,.menu_container.fixed_top .dropdown_menu li ul li:hover>ul,
	.menu_container.fixed_bottom .dropdown_menu li:hover>ul,.menu_container.fixed_bottom .dropdown_menu li ul li:hover>ul{
		position:relative;
	}
	.dropdown_menu>li ul li.has_dropdown>a,.menu_container.fixed_right .dropdown_menu>li ul li.has_dropdown>a,
	.menu_container.fixed_left .dropdown_menu>li ul li.has_dropdown>a,.menu_container.fixed_top .dropdown_menu>li ul li.has_dropdown>a,
	.menu_container.fixed_bottom .dropdown_menu>li ul li.has_dropdown>a,
	.menu_container.fixed_right .dropdown_menu>li.has_dropdown>a,.menu_container.fixed_left .dropdown_menu>li.has_dropdown>a,
	.menu_container.fixed_top .dropdown_menu>li.has_dropdown>a,.menu_container.fixed_bottom .dropdown_menu>li.has_dropdown>a{
		background-image:url("../themeimages/menu-arrow-active.png");
	}
	.dropdown_portfolio_style ul.portfolio_level_3 img{
		float:none;
		margin:5px auto;
		display:block;
	}
	.dropdown_menu>li:first-child>a,.menu_container.fixed_right .dropdown_menu>li:first-child>a,
	.menu_container.fixed_left .dropdown_menu>li:first-child>a,.menu_container.fixed_top .dropdown_menu>li:first-child>a,
	.menu_container.fixed_bottom .dropdown_menu>li:first-child>a{
		-webkit-border-radius:4px 4px 0 0;
		-moz-border-radius:4px 4px 0 0;
		border-radius:4px 4px 0 0;
	}
	.dropdown_menu li ul li:last-child>a,.menu_container.fixed_right .dropdown_menu li ul li:last-child>a,
	.menu_container.fixed_left .dropdown_menu li ul li:last-child>a,.menu_container.fixed_top .dropdown_menu li ul li:last-child>a,
	.menu_container.fixed_bottom .dropdown_menu li ul li:last-child>a,.menu_container.fixed_right .dropdown_menu li ul li:first-child>a,
	.menu_container.fixed_left .dropdown_menu li ul li:first-child>a,.menu_container.fixed_top .dropdown_menu li ul li:first-child>a,
	.menu_container.fixed_bottom .dropdown_menu li ul li:first-child>a{
		-webkit-border-radius:0;
		-moz-border-radius:0;
		border-radius:0;
	}
	.dropdown_menu>li:last-child>a,.menu_container.fixed_right .dropdown_menu>li:last-child>a,
	.menu_container.fixed_left .dropdown_menu>li:last-child>a,.menu_container.fixed_top .dropdown_menu>li:last-child>a,
	.menu_container.fixed_bottom .dropdown_menu>li:last-child>a{
		-webkit-border-radius:0 0 4px 4px;
		-moz-border-radius:0 0 4px 4px;
		border-radius:0 0 4px 4px;
	}
	.menu_container.fixed_left .dropdown_menu>li.has_dropdown>a,.menu_container.fixed_right.dropdown_menu>li.has_dropdown>a,
	.menu_container.fixed_bottom .dropdown_menu>li.has_dropdown>a{
		background-position:10px 50%;
		padding:13px 16px 13px 25px;
	}
	.dropdown_menu,.menu_container.fixed_right .dropdown_menu,.menu_container.fixed_left .dropdown_menu,
	.menu_container.fixed_top .dropdown_menu,.menu_container.fixed_bottom .dropdown_menu{
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		border-radius:4px;
		border:none;
	}
	.dropdown_menu>li ul li a{
		padding-left:25px;
	}
	.column_1,.columns_dropdown .column_2:first-child,.columns_dropdown .column_3:first-child+.column_3,
	.columns_dropdown .column_3:first-child+.column_3+.column_3,.columns_dropdown .column_2:first-child+.column_2,
	.columns_dropdown .column_3:first-child,.dropdown_menu li .contact_dropdown li form .form_row:first-child,
	.dropdown_menu li .contact_dropdown li form .form_row:first-child+.form_row,
	.dropdown_menu li .contact_dropdown li form .form_row:first-child+.form_row+.form_row,
	.dropdown_menu li .contact_dropdown li form .form_row:first-child+.form_row+.form_row+.form_row,
	.dropdown_menu li .contact_dropdown li form .form_row:first-child+.form_row,
	.dropdown_menu li .contact_dropdown li form .form_row:first-child+.form_row+.form_row+.form_row,
	.dropdown_menu li .contact_dropdown li form .form_row:first-child+.form_row+.form_row,
	.dropdown_menu li .contact_dropdown form input[type="submit"]{
		-webkit-transform:translate(0,0);
		-moz-transform:translate(0,0);
		-o-transform:translate(0,0);
		-ms-transform:translate(0,0);
		transform:translate(0,0);
		-webkit-transition-delay:0s;
		-moz-transition-delay:0s;
		transition-delay:0s;
	}
}
