@import url('reset.css');
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700);

/* Basic settings */
p {
    font: 12px/1.7em "Open Sans", "trebuchet ms", arial, sans-serif !important;
    color: #444;
    margin: 0 0 1.75em;
}

input,textarea{
	font-family:inherit;
	font-size:0.9em;
}
.containerMenus{
	/*width:99.7%;*/
	width:100%;
	padding:2px 0px;
	margin:0 auto;
	/*position:relative;*/
	position:absolute;
	z-index:9999;
	/*top:80px;*/
	top:20px;
	/*left:2px;*/
	left:1px;
	font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:1em;
	line-height:1em;
}
.header{
	background:rgba(0,0,0,0.5);
	padding:20px 0;
	margin-bottom:25px;
	margin-top:60px;
}
.ie8 .header,.ie8 .option_panel>button:first-child,.ie8 .option_panel{
	background:#000;
}
h1,.option_panel>h3{
	color:#fff;
	-webkit-text-shadow: 1px 1px 1px rgba(0,0,0,0.8), 0px 0px 3px rgba(255,255,255,0.7);
	-moz-text-shadow: 1px 1px 1px rgba(0,0,0,0.8), 0px 0px 3px rgba(255,255,255,0.7);
	-o-text-shadow: 1px 1px 1px rgba(0,0,0,0.8), 0px 0px 3px rgba(255,255,255,0.7);
	-ms-text-shadow: 1px 1px 1px rgba(0,0,0,0.8), 0px 0px 3px rgba(255,255,255,0.7);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.8), 0px 0px 3px rgba(255,255,255,0.7);
	font-family: 'Roboto Condensed', sans-serif;
	text-transform:uppercase;
}
.clearfix:after{
	content:"";
	display:block;
	clear:both;
}

/* option panel styles */
.option_panel{
	position:fixed;
	top:200px;
	left:-220px;
	width:200px;
	background:rgba(0,0,0,0.5);
	padding:10px;
}
.option_panel>button:first-child{
	position:absolute;
	width:35px;
	height:35px;
	text-align:center;
	color:#fff;
	right:-35px;
	top:0;
	background:rgba(0,0,0,0.5);
	cursor:pointer;
	-webkit-border-radius:0px 5px 5px 0;
	-moz-border-radius:0px 5px 5px 0;
	border-radius:0px 5px 5px 0;
}
.option_panel>button[class^="fixed_"]{
	padding:5px 10px;
	display:block;
	margin-top:10px;
	cursor:pointer;
	width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background:#d10000;
	color:#fff;
	border-top:1px solid rgba(205,205,205,0.5);
	border-left:1px solid rgba(205,205,205,0.5);
	-webkit-box-shadow:1px 1px 2px 1px rgba(0,0,0,0.5);
	-moz-box-shadow:1px 1px 2px 1px rgba(0,0,0,0.5);
	-o-box-shadow:1px 1px 2px 1px rgba(0,0,0,0.5);
	-ms-box-shadow:1px 1px 2px 1px rgba(0,0,0,0.5);
	box-shadow:1px 1px 2px 1px rgba(0,0,0,0.5);
}
.option_panel>button[class^="fixed_"].button_clicked{
	-webkit-box-shadow:1px 1px 2px 1px rgba(0,0,0,0.5) inset;
	-moz-box-shadow:1px 1px 2px 1px rgba(0,0,0,0.5) inset;
	-o-box-shadow:1px 1px 2px 1px rgba(0,0,0,0.5) inset;
	-ms-box-shadow:1px 1px 2px 1px rgba(0,0,0,0.5) inset;
	box-shadow:1px 1px 2px 1px rgba(0,0,0,0.5) inset;
	border-color:rgba(0,0,0,0.5);
}
.colors_options{
	margin:15px 0 0;
}
.colors_options>li>a{
	display:block;
	width:23px;
	height:23px;
	border:1px solid transparent;
	cursor:pointer;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
.colors_options>li{
	float:left;
	margin-left:10px;
}
.colors_options>li:first-child{
	margin-left:0;
}
.colors_options>li>a.active_color{
	-webkit-box-shadow:1px 1px 2px 1px rgba(0,0,0,0.5) inset;
	-moz-box-shadow:1px 1px 2px 1px rgba(0,0,0,0.5) inset;
	-o-box-shadow:1px 1px 2px 1px rgba(0,0,0,0.5) inset;
	-ms-box-shadow:1px 1px 2px 1px rgba(0,0,0,0.5) inset;
	box-shadow:1px 1px 2px 1px rgba(0,0,0,0.5) inset;
	border-color:rgba(0,0,0,0.5);
}
.colors_options>li>a[title="red"],.red .option_panel>button[class^="fixed_"]{
	background:#d10000;
}
.colors_options>li>a[title="green"],.green .option_panel>button[class^="fixed_"]{
	background:#68bc05;
}
.colors_options>li>a[title="blue"],.blue .option_panel>button[class^="fixed_"]{
	background:#059fc5;
}
.colors_options>li>a[title="yellow"],.yellow .option_panel>button[class^="fixed_"]{
	background:#cbb606;
}
.colors_options>li>a[title="brown"],.brown .option_panel>button[class^="fixed_"]{
	background:#b87f04;
}
.colors_options>li>a[title="violet"],.violet .option_panel>button[class^="fixed_"]{
	background:#9604b5;
}
/* Basic responsive change */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	body{
		overflow-x:hidden;
	}
	.containerMenus{
		width:748px;
	}
	
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	body{
		overflow-x:hidden;
	}
	.containerMenus{
		width:380px;
	}
	h1{
		line-height:1em;
	}
	.option_panel{
		display:none;
	}
}
@media only screen and (max-width: 479px) {
	body{
		overflow-x:hidden;
	}
	.containerMenus{
		width:280px;
	}
	h1{
		line-height:1em;
	}
	.option_panel{
		display:none;
	}
}