body {
	background: #666 url(../themeimages/sidebarBg.png) repeat-y 0 0;
}




/* ---------------------------------- */
/* @Header */

#header {
	background: -moz-linear-gradient(top, #3F3F3F 0%, #222222 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3F3F3F), color-stop(100%,#222222));
	background: -webkit-linear-gradient(top, #3F3F3F 0%,#222222 100%);
	background: -o-linear-gradient(top, #3F3F3F 0%,#222222 100%);
	background: -ms-linear-gradient(top, #3F3F3F 0%,#222222 100%);
	background: linear-gradient(top, #3F3F3F 0%,#222222 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3F3F3F', endColorstr='#222222');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#3F3F3F', endColorstr='#222222')";
	
	border-bottom: 1px solid #555;
}





/* ---------------------------------- */
/* @MainNav */

#mainNav { 
	border-bottom-color: #858585; 
}

	#mainNav li.nav {		
		border-top-color: #858585;
		border-bottom-color: #4A4A4A;
	}
	
	
		
	#mainNav li.nav .subNav {
		background: #555;
		
		-moz-box-shadow:    inset 0 0 3px #333;
		-webkit-box-shadow: inset 0 0 3px #333;
		box-shadow:         inset 0 0 3px #333;
	}
	
	#mainNav li.nav .subNav li a {
		background: url(../themeimages/bullets/bullet_black.png) no-repeat 6px 49% !important;
		filter: none;
	}
	
	#mainNav li.nav .subNav li a:hover {
		background-color: #5D5D5D !important;
	}
	
	#mainNav .dropdown .dropdownArrow {	
        border-top-color: #525252;
	}	





/* ---------------------------------- */
/* @Search */

#search {	
	background: -moz-linear-gradient(top, #464646 0%, #363636 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#464646), color-stop(100%,#363636));
	background: -webkit-linear-gradient(top, #464646 0%,#363636 100%);
	background: -o-linear-gradient(top, #464646 0%,#363636 100%);
	background: -ms-linear-gradient(top, #464646 0%,#363636 100%);
	background: linear-gradient(top, #464646 0%,#363636 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#464646', endColorstr='#363636');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#464646', endColorstr='#363636')";
	
	border-top-color: #242424;	
	border-bottom-color: #282828;
}

	#searchBevel {
		border-bottom-color: #555555;
	}
	
	#search input {
		background: #626262 url(../themeimages/search/search.png) no-repeat 12px 50%;
		border-color: #363636;
	}
	
	
	
	
	
/* ---------------------------------- */
/* @Sidear */

#sidebar {
	
}	




	
/* ---------------------------------- */
/* @Content */

#content {
	-moz-box-shadow: 1px 1px 12px rgba(0,0,0,.7);
	-webkit-box-shadow: 1px 1px 12px rgba(0,0,0,.7);
	box-shadow: 1px 1px 12px rgba(0,0,0,.7);
}

	#contentHeader {		
		background: -moz-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#EEEEEE));
		background: -webkit-linear-gradient(top, #FFFFFF 0%,#EEEEEE 100%);
		background: -o-linear-gradient(top, #FFFFFF 0%,#EEEEEE 100%);
		background: -ms-linear-gradient(top, #FFFFFF 0%,#EEEEEE 100%);
		background: linear-gradient(top, #FFFFFF 0%,#EEEEEE 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EEEEEE');
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EEEEEE')";
		
		border-bottom-color: #CCC;
	}
	
		#contentHeader #contentHeaderBevel {
			border-bottom-color: #FFF;
		}
		
		
		
		
		
/* ---------------------------------- */
/* @QuickNav */

#quickNav,
#header #reveal-nav  {
	background: #222;
	background: -moz-linear-gradient(top, #6A6A6A 0%, #515151 2%, #2E2E2E 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6A6A6A),color-stop(2%,#515151), color-stop(100%,#2E2E2E));
	background: -webkit-linear-gradient(top, #6A6A6A 0%, #515151 2%,#2E2E2E 100%);
	background: -o-linear-gradient(top, #6A6A6A 0%, #515151 2%,#2E2E2E 100%);
	background: -ms-linear-gradient(top, #6A6A6A 0%, #515151 2%,#2E2E2E 100%);
	background: linear-gradient(top, #6A6A6A 0%, #515151 2%,#2E2E2E 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#515151', endColorstr='#2E2E2E');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#515151', endColorstr='#2E2E2E')";
	
	border-color: #161616;	
}

	#quickNav li { 
		border-right-color: #222;
		border-left-color: #555;
	}
	
		
	
	

/* ---------------------------------- */
/* @TopNav */

#topNav a.menu { padding-right: 16px; }


#topNav .menuArrow {	
    border-top-color: #777;
}





/* ---------------------------------- */
/* @Menu */
		
.menuContainer {
	background-color: #666;
	
	border: 1px solid #555;
	
	-moz-box-shadow: 1px 1px 5px rgba(0,0,0,.75);
	-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,.75);
	box-shadow: 1px 1px 5px rgba(0,0,0,.75);
}

	.menuContent {
		background-color: #FFF;
		background: -moz-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#EEEEEE));
		background: -webkit-linear-gradient(top, #FFFFFF 0%,#EEEEEE 100%);
		background: -o-linear-gradient(top, #FFFFFF 0%,#EEEEEE 100%);
		background: -ms-linear-gradient(top, #FFFFFF 0%,#EEEEEE 100%);
		background: linear-gradient(top, #FFFFFF 0%,#EEEEEE 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EEEEEE');
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EEEEEE')";
	}
	
	.menuDropdown {
		background: #666;
	}
	
		.menuDropdown .menuContent li {
			border-top-color: #777;
			border-bottom-color: #555;
		}
		
			.menuDropdown .menuContent a {
				background: url(../themeimages/bulletBlack.png) no-repeat 8px 50%;
			}
			
			
			
			
			





/*
= Default State
--------------------------------------------------------------------- */
.defaultState,
.paging_full_numbers span.paginate_button,
.widget-table .dataTables_wrapper .dataTables_paginate span.ui-button {
	background:-moz-linear-gradient(top, #FFFFFF 0%, #DFDBDB 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#DFDBDB)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #FFFFFF 0%,#DFDBDB 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #FFFFFF 0%,#DFDBDB 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top, #FFFFFF 0%,#DFDBDB 100%); /* IE10+ */
	background:linear-gradient(top, #FFFFFF 0%,#DFDBDB 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DFDBDB');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DFDBDB')";
	
	border: 1px solid #CCC;
}










/*
= Primary / Active State
--------------------------------------------------------------------- */
.btn-primary,
.btn-primary:visited,
.progress-bar.primary .bar,
.activeState,
.paging_full_numbers span.paginate_active,
.widget-table .dataTables_wrapper .dataTables_paginate span span.ui-state-disabled,
.pagination a.selected { 	
	background: #066ECD;
	background:-moz-linear-gradient(top, #A8CCEC 0%, #4993D7 2%, #066ECD 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#A8CCEC), color-stop(2%,#4993D7), color-stop(100%,#066ECD)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #A8CCEC 0%, #4993D7 2%,#066ECD 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #A8CCEC 0%, #4993D7 2%,#066ECD 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top, #A8CCEC 0%, #4993D7 2%,#066ECD 100%); /* IE10+ */
	background:linear-gradient(top, #A8CCEC 0%, #4993D7 2%,#066ECD 100%); /* W3C */	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4993D7', endColorstr='#066ECD');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4993D7', endColorstr='#066ECD')";
	
	color: #FFF;
	
	border-color: #0561B4;
	
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
}

	.btn-primary:hover {
		background: #0561B4;
		background:-moz-linear-gradient(top, #ABC9E4 0%, #4B8CC6 2%, #0561B4 100%); /* FF3.6+ */
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ABC9E4), color-stop(2%,#4B8CC6), color-stop(100%,#0561B4)); /* Chrome,Safari4+ */
		background:-webkit-linear-gradient(top, #ABC9E4 0%, #4B8CC6 2%,#0561B4 100%); /* Chrome10+,Safari5.1+ */
		background:-o-linear-gradient(top, #ABC9E4 0%, #4B8CC6 2%,#0561B4 100%); /* Opera11.10+ */
		background:-ms-linear-gradient(top, #ABC9E4 0%, #4B8CC6 2%,#0561B4 100%); /* IE10+ */
		background:linear-gradient(top, #ABC9E4 0%, #4B8CC6 2%,#0561B4 100%); /* W3C */	
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4B8CC6', endColorstr='#0561B4');
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4B8CC6', endColorstr='#0561B4')";
	}
	
.btn-primary:active { 	
	background: #066ECD;
	background:-moz-linear-gradient(top, #066ECD 2%,#4993D7 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(2%,#066ECD), color-stop(100%,#4993D7)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #066ECD 2%,#4993D7 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #066ECD 2%,#4993D7 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top, #066ECD 2%,#4993D7 100%); /* IE10+ */
	background:linear-gradient(top, #066ECD 2%,#4993D7 100%); /* W3C */	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#066ECD', endColorstr='#4993D7');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4993D7', endColorstr='#066ECD')";
	
	color: #FFF;
	
	border-color: #0561B4;
}


	





/*
= Tertiary
--------------------------------------------------------------------- */
.btn-tertiary,
.btn-tertiary:visited,
.progress-bar.tertiary .bar { 	
	background: #999999;
	background:-moz-linear-gradient(top, #E6E6E6 0%, #BDBDBD 2%, #999999 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#E6E6E6), color-stop(2%,#BDBDBD), color-stop(100%,#999999)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #E6E6E6 0%, #BDBDBD 2%,#999999 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #E6E6E6 0%, #BDBDBD 2%,#999999 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top, #E6E6E6 0%, #BDBDBD 2%,#999999 100%); /* IE10+ */
	background:linear-gradient(top, #E6E6E6 0%, #BDBDBD 2%,#999999 100%); /* W3C */	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BDBDBD', endColorstr='#999999');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#BDBDBD', endColorstr='#999999')";
	
	color: #FFF;
	
	border-color: #888;
	
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
}

	.btn-tertiary:hover {
		background: #888888;
		background:-moz-linear-gradient(top, #E6E6E6 0%, #B3B3B3 2%, #888888 100%); /* FF3.6+ */
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#E6E6E6), color-stop(2%,#B3B3B3), color-stop(100%,#888888)); /* Chrome,Safari4+ */
		background:-webkit-linear-gradient(top, #E6E6E6 0%, #B3B3B3 2%,#888888 100%); /* Chrome10+,Safari5.1+ */
		background:-o-linear-gradient(top, #E6E6E6 0%, #B3B3B3 2%,#888888 100%); /* Opera11.10+ */
		background:-ms-linear-gradient(top, #E6E6E6 0%, #B3B3B3 2%,#888888 100%); /* IE10+ */
		background:linear-gradient(top, #E6E6E6 0%, #B3B3B3 2%,#888888 100%); /* W3C */	
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B3B3B3', endColorstr='#888888');
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#B3B3B3', endColorstr='#888888')";
	}
	
	
.btn-tertiary:active { 	
	background: #888888;
	background:-moz-linear-gradient(top, #888888 2%,#B3B3B3 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(2%,#888888), color-stop(100%,#B3B3B3)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #888888 2%,#B3B3B3 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #888888 2%,#B3B3B3 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top, #888888 2%,#B3B3B3 100%); /* IE10+ */
	background:linear-gradient(top, #888888 2%,#B3B3B3 100%); /* W3C */	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B3B3B3', endColorstr='#888888');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#B3B3B3', endColorstr='#888888')";
}











/*
= Quaternary / Default State
--------------------------------------------------------------------- */
.btn-quaternary,
.btn-quaternary:visited,
.progress-bar.quaternary .bar { 	
	background: #CCCCCC;
	background:-moz-linear-gradient(top, #FBFBFB 0%, #ECECEC 2%, #CCCCCC 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFBFB), color-stop(2%,#ECECEC), color-stop(100%,#CCCCCC)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #FBFBFB 0%, #ECECEC 2%,#CCCCCC 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #FBFBFB 0%, #ECECEC 2%,#CCCCCC 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top, #FBFBFB 0%, #ECECEC 2%,#CCCCCC 100%); /* IE10+ */
	background:linear-gradient(top, #FBFBFB 0%, #ECECEC 2%,#CCCCCC 100%); /* W3C */	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ECECEC', endColorstr='#CCCCCC');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ECECEC', endColorstr='#CCCCCC')";
	
	color: #444;
	text-shadow: 1px 1px 1px rgba(255,255,255,.8);
	
	border-color: #BBBBBB;
	
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
}

	.btn-quaternary:hover {
		background: #BBBBBB;
		background:-moz-linear-gradient(top, #FBFBFB 0%, #E8E8E8 2%, #BBBBBB 100%); /* FF3.6+ */
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFBFB), color-stop(2%,#E8E8E8), color-stop(100%,#BBBBBB)); /* Chrome,Safari4+ */
		background:-webkit-linear-gradient(top, #FBFBFB 0%, #E8E8E8 2%,#BBBBBB 100%); /* Chrome10+,Safari5.1+ */
		background:-o-linear-gradient(top, #FBFBFB 0%, #E8E8E8 2%,#BBBBBB 100%); /* Opera11.10+ */
		background:-ms-linear-gradient(top, #FBFBFB 0%, #E8E8E8 2%,#BBBBBB 100%); /* IE10+ */
		background:linear-gradient(top, #FBFBFB 0%, #E8E8E8 2%,#BBBBBB 100%); /* W3C */	
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8E8E8', endColorstr='#BBBBBB');
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8E8E8', endColorstr='#BBBBBB')";
	}
	
	
	
.btn-quaternary:active { 	
	background: #CCCCCC;
	background:-moz-linear-gradient(top, #CCCCCC 2%,#ECECEC 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(2%,#CCCCCC), color-stop(100%,#ECECEC)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #CCCCCC 2%,#ECECEC 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #CCCCCC 2%,#ECECEC 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top, #CCCCCC 2%,#ECECEC 100%); /* IE10+ */
	background:linear-gradient(top, #CCCCCC 2%,#ECECEC 100%); /* W3C */	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ECECEC', endColorstr='#CCCCCC');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ECECEC', endColorstr='#CCCCCC')";
}









/*
= Secondary
--------------------------------------------------------------------- */
.btn-secondary,
.btn-secondary:visited,
.progress-bar.secondary .bar { 	
	background: #222222;
	background:-moz-linear-gradient(top, #888888 0%, #444444 2%, #222222 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#888888), color-stop(2%,#444444), color-stop(100%,#222222)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #888888 0%, #444444 2%,#222222 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #888888 0%, #444444 2%,#222222 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top, #888888 0%, #444444 2%,#222222 100%); /* IE10+ */
	background:linear-gradient(top, #888888 0%, #444444 2%,#222222 100%); /* W3C */	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#222222');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#222222')";
	
	color: #FFF;
	
	border-color: #000000;
	
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
}

	.btn-secondary:hover {
		background: #111111;
		background:-moz-linear-gradient(top, #888888 0%, #333333 2%, #111111 100%); /* FF3.6+ */
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#888888), color-stop(2%,#333333), color-stop(100%,#111111)); /* Chrome,Safari4+ */
		background:-webkit-linear-gradient(top, #888888 0%, #333333 2%,#111111 100%); /* Chrome10+,Safari5.1+ */
		background:-o-linear-gradient(top, #888888 0%, #333333 2%,#111111 100%); /* Opera11.10+ */
		background:-ms-linear-gradient(top, #888888 0%, #333333 2%,#111111 100%); /* IE10+ */
		background:linear-gradient(top, #888888 0%, #333333 2%,#111111 100%); /* W3C */	
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#111111');
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#111111')";
	}
	
	.btn-secondary:active { 	
		background: #444444;
		background:-moz-linear-gradient(top, #222222 2%,#444444 100%); /* FF3.6+ */
		background:-webkit-gradient(linear, left top, left bottom, color-stop(2%,#222222), color-stop(100%,#444444)); /* Chrome,Safari4+ */
		background:-webkit-linear-gradient(top, #222222 2%,#444444 100%); /* Chrome10+,Safari5.1+ */
		background:-o-linear-gradient(top, #222222 2%,#444444 100%); /* Opera11.10+ */
		background:-ms-linear-gradient(top, #222222 2%,#444444 100%); /* IE10+ */
		background:linear-gradient(top, #222222 2%,#444444 100%); /* W3C */	
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#222222');
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#222222')";
	}
	
	
	
	
	
	
	
	
