﻿.filter-section {
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
    background: #f1f1f1;
    float: left;
}

#UpdatePanel1 table td {
    padding: 0;
}

#UpdatePanel1 select, #UpdatePanel1 input[type="text"] {
    width: 100%;
    font-size: 12px;
    padding: 5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

div.dd_chk_select {
    width: 100% !important;
    padding: 5px;
    height: auto;
    margin-bottom: 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.Label {
    font-size: 13px;
    font-weight: bold;
    padding: 5px 0;
    display: inline-block;
}

.Heading {
    color: #124b86 !important;
    font-weight: bold;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    display: block;
}

div.dd_chk_drop {
    top: 27px;
}

input[type="text"] {
    width: 160px;
}

.dd_chk_drop input[type="checkbox"] {
    margin-right: 5px;
    float: left;
}

.dd_chk_drop label {
    font-size: 11px;
}

#BtnShowReport {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}

.Breadcrumbs {
    background: #808080;
    background: -moz-linear-gradient(top, #A3A3A3 0%, #A3A3A3 2%, #808080 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #A3A3A3),color-stop(2%,#A3A3A3), color-stop(100%,#808080));
    background: -webkit-linear-gradient(top, #A3A3A3 0%, #A3A3A3 2%,#808080 100%);
    background: -o-linear-gradient(top, #A3A3A3 0%, #A3A3A3 2%,#808080 100%);
    background: -ms-linear-gradient(top, #A3A3A3 0%, #A3A3A3 2%,#808080 100%);
    background: linear-gradient(top, #A3A3A3 0%, #A3A3A3 2%,#808080 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A3A3A3', endColorstr='#808080');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#A3A3A3', endColorstr='#808080')";
    margin-top: 0;
    height: 40px;
    font-family: Arial;
    font-weight: bold;
    color: #fff;
    font-size: 14px !important;
}

#MainContent_lblBreadCrumbs {
    text-transform: uppercase;
    padding: 10px 0 0 20px;
    float: left;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.8), 0px 0px 3px rgba(255,255,255,0.7);
}

/*2017-07-04*/
#additionalFilter {
    font-weight: inherit;
    font-style: inherit;
    font-size: 14px;
    font-family: Arial;
    padding: 0;
    margin: 0;
    border: 0;
    vertical-align: baseline;
}

    #additionalFilter:hover {
        color: #23527c;
        text-decoration: underline;
    }

.raDiv {
    position: absolute;
    z-index: 2;
    background-color: rgba(0,0,0,.2);
    background-position: center center;
    background-repeat: no-repeat;
    height: calc(100% - 87px);
    width: 14.4%;
    top: 51px;
    left: 20px;
    -moz-border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
}
.raToolbar {
     position: absolute;
    z-index: 2;
    text-align:center;
    background-color: rgba(0,0,0,.2);
    background-position: center center;
    background-repeat: no-repeat;
    height: 26px;
    width: 83.5%;
    top: 51px;
    left: 210px;
    -moz-border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    border-radius: 10px 10px 0 10px;
}

    .raDiv img {
        position: absolute;
        top: 35%;
        margin: auto;
        left: 0;
        right: 0;
    }


/*=====7/20======*/
.update-panel-filer {
    position: relative;
    float: left;
    width: 100%;
}

.RadComboBox .rcbInputCell {
    line-height: initial !important;
    vertical-align: top !important;
}

.rcbList {
    font-weight: bold !important;
}

.RadComboBoxDropDown .rcbCheckBox {
    vertical-align: top !important;
}

.RadComboBoxDropDown .rcbCheckAllItemsCheckBox {
    vertical-align: top !important;
}

.RadComboBoxDropDown_Default .rcbCheckAllItems {
    font-weight: bold !important;
}

.RadComboBoxDropDown_Default .rcbCheckAllItemsHovered {
    font-weight: bold !important;
}

.RadComboBox_Default .rcbReadOnly .rcbInput {
    font-weight: bold !important;
}

.RadComboBox_Default .rcbFocused .rcbInput {
    color: black;
    font-weight: bold;
}

.RadComboBox_Default .rcbInput {
    color: #333;
    /*font: normal 12px "Segoe UI",Arial,Helvetica,sans-serif;*/
    line-height: 16px;
    font-weight: bold;
}
.RadComboBox_Default table {  width:100% !important; }

.white-section {
    background: #fff;
    width: 100%;
    padding: 0;
    border: 1px solid #9C9C9C;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    float: left;
}

.left-form {
    background: #f1f1f1;
    width: 15%;
    padding: 0 15px 15px 15px;
    -moz-border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
    float: left;
}

.right-section {
    width: 85%;
    float: left;
}

.rcbSlide {
    width: 100% !important;
    white-space: nowrap !important;
    z-index: 10005 !important;
  
}


.RadComboBoxDropDown {
    min-width: 160px !important;
    width: auto !important;
}

.rcbScroll {
    max-height: 200px !important;
}

/*@media (min-width: 768px) {
    .rcbSlide {        
        position: fixed!important;        
       
    }*/
