﻿.marqueestyle {
    margin-top: 0px;
    margin-left: 10px;
    font-size: 24px;
    color: Red;
    font-family: Segoe UI;
}
#content,
.content1 {
    top: 33px;
}


  .col-custom-1 {
        width: 12%;
        float:left;
       position:relative;
       padding-left:15px;
       padding-right:15px;
    }
    .col-custom-2 {
        width: 20%;
        float:left;
       position:relative;
       padding-left:15px;
       padding-right:15px;
    }
    .col-custom-3 {
        width: 30%;
        float:left;
       position:relative;
       padding-left:15px;
       padding-right:15px;
    }
    .col-custom-4 {
        width: 40%;
        float:left;
       position:relative;
       padding-left:15px;
       padding-right:15px;
    }
    .col-custom-5 {
        width: 60%;
        float:left;
       position:relative;
       padding-left:15px;
       padding-right:15px;
    }
    .col-custom-6 {
        width: 70%;
        float:left;
       position:relative;
       padding-left:15px;
       padding-right:15px;
    }
    .col-custom-7 {
        width: 80%;
        float:left;
       position:relative;
       padding-left:15px;
       padding-right:15px;
    }
    .col-custom-8 {
        width: 90%;
        float:left;
       position:relative;
       padding-left:15px;
       padding-right:15px;
    }
.pd-l-0{
    padding-left:0px
}
.pd-r-0{
    padding-right:0px
}
.line-h-30 {
    line-height:34px;
}
   
#topNav {
    top: 1px;
    left: 1px;
    width: 100%;
    background: #066ECD;
    background: -moz-linear-gradient(top, #A8CCEC 0%, #79C3FB 2%, #126DCC 100%);
    /* FF3.6+ */
    
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #A8CCEC), color-stop(2%, #79C3FB), color-stop(100%, #126DCC));
    /* Chrome,Safari4+ */
    
    background: -webkit-linear-gradient(top, #A8CCEC 0%, #79C3FB 2%, #126DCC 100%);
    /* Chrome10+,Safari5.1+ */
    
    background: -o-linear-gradient(top, #A8CCEC 0%, #79C3FB 2%, #126DCC 100%);
    /* Opera11.10+ */
    
    background: -ms-linear-gradient(top, #A8CCEC 0%, #79C3FB 2%, #126DCC 100%);
    /* IE10+ */
    
    background: linear-gradient(top, #A8CCEC 0%, #79C3FB 2%, #126DCC 100%);
    /* W3C */
    
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#79C3FB', endColorstr='#126DCC');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#79C3FB', endColorstr='#126DCC')";
    color: #FFF;
}
#topNav li {
    float: right;
}
/*#topNav span {
                background: none !important;
                font-weight: normal;
            }*/

.Settings {
    top: 65px;
}
.container .columnright {
    padding: 0 25px;
    width: 96%;
}
/*.notification {
            background: url(../images/notification-icon.png) no-repeat;
            width: 22px;
            height: 22px;
            position: relative;
        }*/

.notification-text {
    background: hsl(0, 100%, 50%) none repeat scroll 0 0;
    border-radius: 50%;
    color: hsl(0, 0%, 100%);
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    position: absolute;
    left: 5px;
    text-align: center;
    top: -26px;
    width: auto;
    min-width: 13px;
}
.filter-section .right-section table {
    width: 948px;
}
#MainContent_ReportContainer iframe {
    width: 100% !important;
    overflow: scroll;
}
.tab-dashboard {
    overflow: auto!important;
}
.tab-dashboard {
    overflow: auto !important;
}
.placeholder .tab-clip {
    overflow: auto!important;
}
/*.tvimagesNS, .tvScrollContainer {
    position: absolute;
    
}*/
#tabZoneId101 > div > div.tab-clip > div.tab-tvTLSpacer.tvimagesNS {
     overflow: auto!important;
}
#ctl00_divnotification {
    display: inline-block;
}
.UserProfile {
    float: right;
    /* margin-top: -34px; 
            margin-right: 5px;*/
    
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    color: #FFF;
    display: inline-block;
    padding: 2px;
    margin-top: 15px;
    /*height: 30px;*/
    /*padding:2px 5px 2px 5px;*/
    /*position: absolute;
            right: 145px;
            top: 70px;
            z-index: 15;*/
}
.holds-the-iframe {
    background: url(/Images/spinnerLoader.gif) center center no-repeat;
}
.ClosePopupCls {
    /* color: White; */
    
    margin: 8px;
    float: right;
    /* height: 12px; */
    /* font-size: 10px; */
    
    cursor: pointer;
    /* text-decoration: none; */
}
.ClosePopupCls a:link {
    color: White;
    text-decoration: none;
}

.ClosePopupCls a:visited {
    color: White;
    text-decoration: none;
}
.ClosePopupCls a:hover {
    color: White;
    text-decoration: none;
}
#NewsContent {
    /* float: left;
            width: 70%;
            padding: 20px;*/
}

.post {
    margin-bottom: 10px;
    border-bottom: solid 1px #0078ca;
}
.post-alt {} .post .title {
    height: 30px;
    padding: 12px 0 0 0px;
    font-size: 22px;
    color: #0078CA;
    margin-bottom: 15px;
}
.post .title a {
    border: none;
    color: #0078CA;
}
.post .meta {
    margin-bottom: 30px;
    padding: 5px 0px 0px 0px;
    text-align: left;
    font-weight: normal;
}
.post .meta .date {
    float: left;
}
.post .meta .posted {
    float: right;
}
.post .meta a {
    color: #0078CA;
}
.post .entry {
    text-align: justify;
}
.links {
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    color: #1C1C1C;
    margin-bottom: 10px;
}
.button {
    padding: 5px 15px;
    background: #0084C4;
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 14px;
    color: #FFFFFF;
}
/* Sidebar */

#quicklinks {
    /*float: right;
            width: 20%;
            margin: 0px;
            color: #0078CA;
            padding: 30px 20px 10px 10px;*/
}
#quicklinks p {
    color: #3B3B3B;
}
#quicklinks ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#quicklinks li {
    margin: 0;
    padding: 0;
}
#quicklinks li ul {
    margin: 0px 0px;
    padding-bottom: 50px;
}
#quicklinks li li {
    border-bottom: 1px solid #CACACA;
    color: #0078CA;
    margin: 0px 0px;
    padding: 10px 0px;
    border-left: none;
    list-style: inside circle;
}
#quicklinks li li a {
    color: #3B3B3B;
}
#quicklinks h2 {
    padding-bottom: 20px;
    font-size: 1.4em;
    color: #0078CA;
}
#quicklinks p {
    margin: 0px 0px 40px 0px;
    padding: 0px;
    text-align: justify;
}
#quicklinks a {
    border: none;
}
#quicklinks a:hover {
    text-decoration: underline;
}
.PostedBy {
    color: #0078ca;
}
#Logos {
    width: 98%;
    padding: 10px;
    float: left;
}
.LeftLogo {
    width: 200px;
    height: 66px;
    float: left;
}
.RightLogo {
    width: 200px;
    height: 48px;
    float: right;
}
.date {
    font-size: 16px;
    margin-top: 16px;
    display: inline-block;
    padding-left: 5px;
}
a:focus,
a:hover {
    text-decoration: none;
}
.modalzindex {
    z-index: 99999 !important;
}
.white-section .right-section {
    width: calc(100% - 200px);
    float: left;
    overflow:auto;
}
.Group_ValidSummay {
color:red;
}
#MainContent_UpdatePanelFilters {
     width: 200px;
     background: #f1f1f1;   
    padding: 0 15px 15px 15px;
    -moz-border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
    float: left;
}
#MainContent_UpdatePanelFilters .left-form {
      width:100%;
      padding:0px;
      border-radius:0px;
}
#MainContent_pnlToolbar #MainContent_Btnsharerep {
    border: 1px solid rgb(119, 164, 33);
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-transform: uppercase;
    margin: 0px;
    margin-bottom: 5px;
    margin-right: 6px;    
    padding: 5px 12px 5px 35px;
    background:  url('../Images/share.png') 5px 6px rgb(145, 191, 56);
    background-repeat: no-repeat;
     background-size: 22% 63%;
    height: auto;
}
#MainContent_pnlToolbar #MainContent_btnExport {
    border: 1px solid #237fbc;
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-transform: uppercase;
    margin: 0px;
     margin-bottom: 5px;
    margin-right: 6px;
    padding: 5px 12px 5px 35px; 
    background: url(../Images/excel-new.png) 9px 7px #3da0e3;
    background-repeat: no-repeat;
    height: auto;
    background-size: 11% 59%;
}
#MainContent_pnlToolbar #MainContent_BtnsaveRep {
    border: 1px solid rgb(200, 84, 0);   
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-transform: uppercase;
    margin: 0px;
     margin-bottom: 5px;
    margin-right: 6px;
    padding: 5px 12px 5px 35px;
    background:url('../Images/new_record.png') 5px 6px rgb(244, 120, 30);
    background-repeat: no-repeat;
    background-size: 22% 59%;
    height: auto;
}
#MainContent_pnlToolbar > div {
    text-align:right!important;
        padding: 5px 0px 0px;
}
#MainContent_ReportContainer {
    padding-left:0px;
}
/**********/

header .header_right {
    padding: 0px;
    float: right;
}
header .header_right .list {
   /* margin-top: 0px;*/
}
.search-bar {
   margin-right: 30px;
   margin-left:0px;
   float:right;
}
.UserProfile {
    margin-top: 12px;
}
.post .title {
    height: auto;
}
/* manage save report */

.ajax__calendar_container {
    width: 175px !important;
}
.ajax__calendar_body {
    font-family: calibri;
}
.ajax__calendar_today {
    padding-top: 0px !important;
}
.ajax__calendar_footer {
    height: 22px !important;
    font-family: calibri;
}
.ajax__calendar_container TABLE {
    width: 150px !important;
}
.changeclienttitleReports {
    color: white;
    font-size: 15px;
    font-weight: 500;
    height: 33px;
    line-height: 31px;
    padding-left: 10px;
}
#ctl00_MainContent_grdMembers_ctl00 {
    text-transform: uppercase !important;
}
#ctl00_MainContent_txtrepdate {
    width: 100px !important;
}
#ctl00_MainContent_ChkMonthlyDays tbody {
    font-size: 11px !important;
}
.MessageIcon {
    margin-top: 5px !important;
}
#ctl00_MainContent_pnlShare {
    z-index: 1000 !important;
}
#ctl00_MainContent_mpeShare_backgroundElement {
    z-index: 0 !important;
}
.hidden {
    display: none;
}
.display {
    display: inline;
}
header .header_right .list {
        float: right;
}
.navigation_bars {
        position: relative;
}

.p {
    color: #444;
    font: 14px "Open Sans", "trebuchet ms", arial, sans-serif !important;
    margin: 0 0 1.75em;
}
.imgShareLodaer {
    position: absolute;
    top: 459px;
}
.loadermodal {
    position: fixed;
    z-index: 1000000;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: Black;
    filter: alpha(opacity=30);
    opacity: 0.3;
    -moz-opacity: 0.5;
}
.loadercenter {
    z-index: 1000;
    margin: 300px auto;
    padding: 10px;
    width: 130px;
    border-radius: 10px;
    filter: alpha(opacity=100);
    opacity: 1;
    -moz-opacity: 1;
}
/**/

div.RadGrid table.rgMasterTable thead th.rgHeader {
    font: bold 10pt "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: left;
    font-family: calibri;
    height: 40px;
    vertical-align: middle;
}
table.rgMasterTable td {
    font-size: 16px;
    text-align: left;
    font-family: calibri;
    height: 70px;
    vertical-align: middle;
    border-bottom:1px solid #d2d2d2!important;
    
     /*border-right: 1px solid #ededed!important;*/
    padding: 3px 7px !important;
}
table.rgMasterTable tr:last-child td {
    height:auto;
    padding: 0px!important;
}
#ctl00_MainContent_grdMembers_ctl00_Pager > tbody > tr > td > table > tbody > tr:last-child td {
    height: 23px!important;
     padding: 0px 2px !important;
}
#ctl00_MainContent_gridUserGuide_ctl00_ctl03_ctl01_PageSizeComboBox > table > tbody > tr > td.rcbInputCell.rcbInputCellLeft {
      height:23px!important;
         padding: 0px 3px!important;
}
#ctl00_MainContent_grdMembers_ctl00_Pager > tbody > tr > td > table > tbody > tr > td {
     height:23px!important;
         padding: 0px 3px!important;
}

#ctl00_MainContent_grdMembers_ctl00_Pager > tbody > tr > td > table > tbody > tr > td {
     height: 30px!important;
         padding: 0px 3px!important;
}
 .RadGrid_Default .rgAltRow {
    background: #efefef!important;
}


#ctl00_MainContent_txtSearchText_wrapper {
    width:100%!important;

}
#ctl00_MainContent_txtSearchText_wrapper  input{
        height: 34px;
    font-size: 15px;
    color: #808080;
    border: solid 1px #dcdcdc !important;
    padding: 0px 5px;
    margin: 0px;
    margin-bottom:5px;
    text-transform: uppercase;
}
.container {
    position:relative;
}
#MainContent_UpdateProgressFilters .raDiv {
    width: 200px;  
    left: 12px;
}

.modalPopup {
  width:450px;
  max-width:100%;
}


.changeclienttitle {
    width:100%;
}
#result a {
    line-height:22px;
}

.myForm tbody tr td {
    width: 100%;
        padding-left: 5px !important;
}
.myForm #MainContent_txtSharedReportName,.myForm  #MainContent_txtMessage, #MainContent_txtemail, #MainContent_DrpReportTime {
    
        border: 1px solid #a5a5a5;
    padding: 5px;
    height: auto;
    width: 100%;
}
#MainContent_txtrepdate {
    border: 1px solid #a5a5a5;
    padding: 5px;
    height: auto;
}
.left-form span#MainContent_rfvLocBanner, .left-form span#MainContent_rfvDepartment,.left-form span#MainContent_rfvHoliday, .left-form span#MainContent_rfvFiscalYear, 
 .left-form span#MainContent_rfvNumberofWeeksPrior, .left-form span#MainContent_rfvNumberofWeeksPost, span#MainContent_rfvLocHierSrcBanner, span#MainContent_rfvSrcStore,
span#MainContent_rfvLocHierDesBanner, span#MainContent_rfvDesStore {
   width:100%;
   display:block;
}
#MainContent_txtReportDescr, #MainContent_txtReportName {
    width:100%;
}
.left-form #MainContent_cal_To_popupDiv {
    width:186px!important;
}
#MainContent_txtReportDescr {
     border: 1px solid #a5a5a5;
    padding: 5px;
    height: auto;
    width: 100%;
}
.myForm #ctl00_MainContent_RdShareUsers input {
    /* height: 34px;
     width:100%;
    font-size: 15px;
    color: #808080;
    border: solid 1px #dcdcdc !important;
    padding: 0px 5px;
    margin: 0px;
    margin-bottom:5px;
    text-transform: uppercase;*/
}
.modalPopup#pnlRequest {
  width:600px;
  max-width:100%;
}
.modalPopup#pnlRequest #MainContent_txtReportName {
     width: 100%!important;
}
.modalPopup#pnlRequest #MainContent_txtReportDescr {
    width: 100%!important;
}
#MainContent_pnlRequest > table > tbody > tr:nth-child(2) > td.input > span {
    padding-left:0px;
}
#MainContent_pnldates #MainContent_txtReportName {
        width: 100%;
}
#MainContent_pnldates #MainContent_txtReportDescr {
      width: 100%;
}

#ctl00_MainContent_RdShareUsers, #MainContent_txtMessage{
    width:100%!important;

}
#ctl00_MainContent_RdShareUsers table{
    width:100%!important;

}
/* /managesave report */

@media (min-width: 1200px) {
    .infoCustomwidth {
        width: 35%;
        float: left;
        position: relative;
        min-height: 1px;
        position: absolute;
        right: 10px;
        top: 0px;
    }
       .UserProfile {
       padding-right:2px;
}
       #ctl00_MainContent_grdMembers_ctl00 {
        table-layout:fixed !important;
    }
       #ctl00_MainContent_grdMembers_ctl00_Header
    {
        table-layout:fixed !important;
    }
}

@media (min-width: 768px) {
    #ctl00_MainContent_grdMembers_ctl00 {
        table-layout:inherit !important;
    }
    #ctl00_MainContent_grdMembers_ctl00_Header
    {
        table-layout:inherit !important;
    }

}

@media (min-width: 991px) {
    .navCustomwidth {
        width: 100%;
        float: left;
        position: relative;
        min-height: 1px;
    }

    .infoCustomwidth {
        width: 100%;
        float: left;
        min-height: 1px;
    }

    .search-bar {
        width: 280px;
    }

    .white-section .right-section {
        width: calc(100% - 220px);
        float: left;
        overflow: auto;
    }

    .UserProfile {
        padding-right: 12px;
    }
}
@media (max-width: 990px) {
    .navCustomwidth {
        width: 100%;
        float: left;
        position: relative;
        min-height: 1px;
    }
    .infoCustomwidth {
        width: 100%;
        float: left;
        position: relative;
        min-height: 1px;
    }
    .search-bar {
   
    width: 184px;
}

     .col-custom-1 {
        width: 20%;
    }
}
@media (max-width:767px) {
 .col-custom-1,
    .col-custom-2,
    .col-custom-3,
    .col-custom-4,
    .col-custom-5,
    .col-custom-6,
    .col-custom-7,
    .col-custom-8
    {
        width: 100%
    }
 .white-section {
    background: transparent; 
}
 .search-bar {
    width: 100%;
}
 .navbar-toggle .icon-bar {
        background: #fff;
    }
    
}
@media (max-width: 480px) {
    #NewsContent {
        width: 100%;
        padding: 0px;
    }
    #content,
    .content1 {
        position: relative;
        padding: 0px 15px;
    }
    .post .title {
        height: auto;
    }
    #quicklinks {
        width: 100%;
        padding: 0px;
    }
    
    #contentHeader {
        height: 40px;
    }
    #contentHeader h1 {
        top: 0px;
        font-size: 15px;
        font-weight: normal;
        color: #fff;
        padding-left: 0px;
    }
    .search-bar {
        margin-right: 0px;
        max-width: 100%;
        padding: 0px;
        float: none;
        margin: 0px auto;
        text-align: center;
    }
    .navbar-toggle {
        margin-bottom: 0px;
        margin-right: 0px;
    }
    header .logo {
        margin: 0px auto;
        text-align: center;
    }
    header .logo img {
        max-width: 100%;
    }
    header .header_right {
        padding: 0px;
        float: none;
        margin: 0px auto;
        text-align: center;
    }
    header .header_right .list {
        
        padding: 0px;
        float: none;
        margin: 0px auto;
        margin-top: 7px;
        text-align: center;
        display: inline-block;
    }
    .navCustomwidth {
        width: 100%;
        float: none;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px
    }
    .infoCustomwidth {
        width: 100%;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        padding: 0px;
        float: none;
        margin: 0px auto;
        text-align: center;
    }
    #divProfileName {
        padding: 0px;
        float: none;
        margin: 0px auto;
        text-align: center;
    }
   
    .col-xxs-1,
    .col-xxs-2,
    .col-xxs-3,
    .col-xxs-4,
    .col-xxs-5,
    .col-xxs-6,
    .col-xxs-7,
    .col-xxs-8,
    .col-xxs-9,
    .col-xxs-10,
    .col-xxs-11,
    .col-xxs-12 {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px
    }
    .col-xxs-1,
    .col-xxs-2,
    .col-xxs-3,
    .col-xxs-4,
    .col-xxs-5,
    .col-xxs-6,
    .col-xxs-7,
    .col-xxs-8,
    .col-xxs-9,
    .col-xxs-10,
    .col-xxs-11,
    .col-xxs-12 {
        float: left
    }
    .col-xxs-12 {
        width: 100%
    }
    .col-xxs-11 {
        width: 91.66666667%
    }
    .col-xxs-10 {
        width: 83.33333333%
    }
    .col-xxs-9 {
        width: 75%
    }
    .col-xxs-8 {
        width: 66.66666667%
    }
    .col-xxs-7 {
        width: 58.33333333%
    }
    .col-xxs-6 {
        width: 50%
    }
    .col-xxs-5 {
        width: 41.66666667%
    }
    .col-xxs-4 {
        width: 33.33333333%
    }
    .col-xxs-3 {
        width: 25%
    }
    .col-xxs-2 {
        width: 16.66666667%
    }
    .col-xxs-1 {
        width: 8.33333333%
    }
    .col-xxs-pull-12 {
        right: 100%
    }
    .col-xxs-pull-11 {
        right: 91.66666667%
    }
    .col-xxs-pull-10 {
        right: 83.33333333%
    }
    .col-xxs-pull-9 {
        right: 75%
    }
    .col-xxs-pull-8 {
        right: 66.66666667%
    }
    .col-xxs-pull-7 {
        right: 58.33333333%
    }
    .col-xxs-pull-6 {
        right: 50%
    }
    .col-xxs-pull-5 {
        right: 41.66666667%
    }
    .col-xxs-pull-4 {
        right: 33.33333333%
    }
    .col-xxs-pull-3 {
        right: 25%
    }
    .col-xxs-pull-2 {
        right: 16.66666667%
    }
    .col-xxs-pull-1 {
        right: 8.33333333%
    }
    .col-xxs-pull-0 {
        right: auto
    }
    .col-xxs-push-12 {
        left: 100%
    }
    .col-xxs-push-11 {
        left: 91.66666667%
    }
    .col-xxs-push-10 {
        left: 83.33333333%
    }
    .col-xxs-push-9 {
        left: 75%
    }
    .col-xxs-push-8 {
        left: 66.66666667%
    }
    .col-xxs-push-7 {
        left: 58.33333333%
    }
    .col-xxs-push-6 {
        left: 50%
    }
    .col-xxs-push-5 {
        left: 41.66666667%
    }
    .col-xxs-push-4 {
        left: 33.33333333%
    }
    .col-xxs-push-3 {
        left: 25%
    }
    .col-xxs-push-2 {
        left: 16.66666667%
    }
    .col-xxs-push-1 {
        left: 8.33333333%
    }
    .col-xxs-push-0 {
        left: auto
    }
    .col-xxs-offset-12 {
        margin-left: 100%
    }
    .col-xxs-offset-11 {
        margin-left: 91.66666667%
    }
    .col-xxs-offset-10 {
        margin-left: 83.33333333%
    }
    .col-xxs-offset-9 {
        margin-left: 75%
    }
    .col-xxs-offset-8 {
        margin-left: 66.66666667%
    }
    .col-xxs-offset-7 {
        margin-left: 58.33333333%
    }
    .col-xxs-offset-6 {
        margin-left: 50%
    }
    .col-xxs-offset-5 {
        margin-left: 41.66666667%
    }
    .col-xxs-offset-4 {
        margin-left: 33.33333333%
    }
    .col-xxs-offset-3 {
        margin-left: 25%
    }
    .col-xxs-offset-2 {
        margin-left: 16.66666667%
    }
    .col-xxs-offset-1 {
        margin-left: 8.33333333%
    }
    .col-xxs-offset-0 {
        margin-left: 0
    }

    #tabs6 a span, .tabs6 a span {
        padding: 5px 18px 4px 10px;
    }

    #ctl00_MainContent_gridUserGuide_ctl00_Pager > tbody > tr > td > table > tbody > tr > td {
       height:30px!important;
    }

 .white-section .right-section {
    width: 100%;
   float: none;
}
#MainContent_UpdatePanelFilters {
     width: 100%; 
       float: left;   
    
}

.navigation_bars .nav.navbar-nav li {
    float: none;
    line-height: 20px;
    padding-right: 5px;
    position: relative;
}
    .navigation_bars .nav.navbar-nav li + li {
        background:none;
            padding: 0px;
    }

    .navigation_bars .nav.navbar-nav li:hover .dropdown_menu {
    display: block;
    padding: 10px 0px;
}
    .navbar-collapse.in {
        max-height:200px;
    }
    
}